<!-- If the screen is smaller, show the collapsable navbar -->
<div class="show-navbar">
  <app-navbar></app-navbar>
</div>
<!-- If the screen is bigger, show the header -->
<div class="show-header">
  <app-header></app-header>
</div>
<!-- Display markdown file -->
<div markdown [src]="post"></div>
<!-- Contact links -->
<div class="contact-card">
    <br>
    <div style="text-align:center">
        <a href="https://www.instagram.com/vondreii"><img src="../../assets/social/instagram.png" alt="image"/></a><span style="padding:10px"></span>
        <a href="https://www.linkedin.com/in/sharlene-von-drehnen"><img src="../../assets/social/linkedin.png" alt="image"/></a><span style="padding:10px"></span>
        <a href="https://github.com/vondreii"><img src="../../assets/social/github.png" alt="image"/></a><span style="padding:10px"></span>
    </div>
    <br><br>
</div>