<app-navbar></app-navbar>

<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../assets/projects/header.jpg');">
  <div class="imageTextCollage"><a style="float:right;margin-top:300px;background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@marcojodoin" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Joel Filipe"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Marc-Olivier Jodoin</span></a></div>
</div>
<br><h1><strong>Projects</strong></h1><br>
<div class="rows"> 
    <!-- CyanX -->
    <div class="column-3">
        <div class="blog-item">
            <img src="../../assets/projects/cyanX/preview.png" alt="image" style="width:100%">
            <div class="card-container">
                <br>
                <h2><strong>Cyan X</strong></h2>
                <p>A 2D platformer game set in the distant future. Solve puzzles, level up, craft weapons and defeat enemies in order to rescue captured animals.</p><br>
                <div class="read-more-project-button-container">
                    <a routerLink="/projects/cyanx" class="button read-more-button first-button">Read More >></a>
                </div>
                <div class="download-project-button-container">
                    <a href="../../assets/downloads/CyanX.zip" class="button read-more-button first-button">Download >></a>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <br><br>
    <!-- Street Racing Game -->
    <div class="column-3">
        <div class="blog-item">
            <img src="../../assets/projects/racing-game/gameplay.PNG" alt="image" style="width:100%">
            <div class="card-container">
                <br>
                <h2><strong>3D Street Racing Game</strong></h2>
                <p>A modified version of the racing game sourced from Microsoft's Imagine Repository. Race down the road while avoiding obstacles.</p><br>
                <div class="read-more-project-button-container">
                    <a routerLink="/projects/street-racing-game" class="button read-more-button first-button">Read More >></a>
                </div>
                <div class="download-project-button-container">
                    <a href="https://github.com/vondreii/Modified-Street-Racing-Game" class="button read-more-button first-button">Download >></a>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!-- Ice Capades -->
    <div class="column-3">
        <div class="blog-item">
            <img src="../../assets/projects/ice-capades/preview.jpg" alt="image" style="width:100%">
            <div class="card-container">
                <br>
                <h2><strong>Ice Capades</strong></h2>
                <p>A 2D Top-down Educational Adventure Game. Make your way to the oil rig that is causing the ice in your village to melt in order to shut it down.</p> <br>
                <div class="read-more-project-button-container">
                    <a routerLink="/projects/ice-capades" class="button read-more-button first-button">Read More >></a>
                </div>
                <div class="download-project-button-container">
                    <a href="../../assets/downloads/IceCapades.zip" class="button read-more-button first-button">Download >></a>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<br>
<div class="rows"> 
    <div class="column-3"></div>
    <!-- Calculator -->
    <div class="column-3">
        <div class="blog-item">
            <img src="../../assets/projects/calculator-converter/calculator.PNG" alt="image" style="width:100%">
            <div class="card-container">
                <br>
                <h2><strong>Offline Calculator And Converter</strong></h2>
                <p>An offline all-in-one calculator and converter. Includes conversions for area, digital storage, energy, frequence, length, mass, pressure, speed, temperature, time and volume.</p> <br>
                <div class="read-more-project-button-container">
                    <a class="button read-more-button first-button">Coming Soon!</a>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<br>
<br>