/* ****************************** COMMON EFFECTS ****************************** */
/* Parallax effect */
.parallax {background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover}
.photoCred {background-color:black;color:white;text-decoration:none;padding:4px 6px;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px}

h1 {font-family:Helvetica,sans-serif;text-align:center;line-height:50px}
h2, h3 {font-family:Helvetica,sans-serif;text-align:center;line-height:50px}
h4 {font-family:Helvetica,sans-serif;text-align:center;font-size:17pt;color:rgb(100, 100, 100);line-height:30px}

p, ul, ol, blockquote {font-family:Helvetica,sans-serif;font-size:16pt;line-height:30px}

/* ******************************* COLUMN LAYOUT ******************************* */
.rows { display: flex; flex-wrap: wrap; padding: 0 4px; }
.column-3 { flex: 33%; max-width: 33%; padding: 0 2px;}
.column-3 img {vertical-align: middle; width: 100%; }
@media screen and (max-width: 1200px) {.column-3 { flex: 100%; max-width: 100%; }}

.blog-item {padding:0px;text-align:center;text-decoration: none;font-size:18px;color: rgb(85, 85, 85);border:none;}
.blog-item h2 {padding:10px}

/* Card within a card */
.card-container { padding: 2px 50px;background-color: whitesmoke;}

/* ****************************** BUTTONS ****************************** */
.button {
    text-decoration:none;display:inline-block;padding:10px 25px;outline:none;transition:ease 0.5s;
    border:none;border-radius:5px;box-shadow:0 4px 8px 0 lightgrey;color:rgb(59, 59, 59)
}
.read-more-project-button-container { margin-bottom: 20px; text-align: center}

.first-button {background-color: white}
.second-button {background-color: whitesmoke}
.read-more-button:hover, .read-more-button:active { background-color: rgb(54,58,64); text-decoration: none; color: white;}
.read-more-button:visited { text-decoration: none } 
