<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../../assets/blog/organisation/better-organise-your-files/header.jpg');">
  <div class="imageTextCollage"><a class="photoCred" style="margin-top: 300px; float: right;" href="https://unsplash.com/@jasmund" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Igor Miske"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Michael Jasmund</span></a></div>
</div>
<div class="content">
    <div class="blog-layout">
      <!-- #region Tags -->
      <div class="card">
        <div class="tags" style="text-align:center">
          <div class="tag"> Tags: </div>
          <div class="tag"><p>#Organisation</p></div>
          <div class="tag"><p>#Computer</p></div>
          <div class="tag"><p>#Laptop</p></div>
          <div class="tag"><p>#Self Development</p></div>
          <div class="tag"><p>#Time</p></div>
          <div class="tag"><p>#Files</p></div>
        </div>
      </div>
      <!-- #endregion -->
      <div class="leftcolumn">
        <div class="written-content-container">
          <!-- #region Written content -->
          <div class="written-content">
            <br><br><h1><strong>10 Tips To Better Organise Your Computer (Windows 10)</strong></h1>
            <br>
            <p>Having a well organised computer can improve your overall workflow and efficiency. If your computer has too many files, it can clutter your vision and distract you by making it difficult to find what you are looking for. Here are a few suggestions on how you can better organise your computer, including your files, applications and overall layout.</p>
            <br>
            <p class="subheading"><strong>1. Clear Your Desktop</strong></p>
            <p>Your desktop shouldn't be full of files like <i>notes.docx, to_download.docx</i> or <i>project.pdf</i>. Files should be categorised in a meaningful way where they are not flying around in different locations or difficult to find.
              This is what my desktop looks like (2nd photo) as opposed to a messier looking desktop (1st photo): </p>
            <div class="rows"> 
              <div class="column-2">
                <img src="../../../assets/blog/organisation/better-organise-your-files/desktop-cluttered.PNG" alt="image"/>  
              </div>
              <div class="column-2">
                <img src="../../../assets/blog/organisation/better-organise-your-files/desktop-decluttered.PNG" alt="image"/>
              </div>
            </div>
            <br><br>
            <p>As you can see, there is nothing on the desktop except for the wallpaper and the recycling bin. Having too many files can subconsciously add to your overall stress levels, 
              especially if there are files you haven't used in a long time or files that you do not know the purpose of. You find yourself asking, <i>What is this for? Do I still need this? I don't know what to do with it.</i>
              This is where Steps 4, 5 and 7 come in handy, where you delete the files you do not need and archive the files in a subfolder structure that works for you. </p>
            <p>Now that the desktop is empty, this is a perfect place to put any temporary folders or projects that you are working on, so you can focus on them more easily: </p>
            <br>
            <div style="text-align:center">
              <br><img src="../../../assets/blog/organisation/better-organise-your-files/desktop-temp-folder-yellow.jpg" alt="image" class="blog-image"/><br><br>   
            </div>
            <br>
            <p>Do you see how much more simpler it is to navigate to a project that you are currently working on, without having to spend time looking for it?</p>
            <br>
            <p class="subheading"><strong>2. Clear Your Taskbar</strong></p>
            <p>While we are at the desktop, you can also have a look at your taskbar. How many items do you have pinned to the taskbar?</p>
            <div style="text-align:center">
              <br><img src="../../../assets/blog/organisation/better-organise-your-files/taskbar-cluttered.PNG" alt="image" class="blog-image" style="width:100%;height:100%"/><br><br>  
            </div>
            <br>
            <p>At minimum you want to keep the file explorer and a browser such as Google Chrome or Firefox. The taskbar should only show you the apps or files that you currently have open. 
              At the moment, I only have one application open: Visual Studio Code. This is a bit difficult to see in the image above because there are so many other apps pinned to the taskbar.
              This makes it harder to read if you have multiple things running at once.
              If you look at the image below, it is a lot clearer to see the exact processes you have running at that time:
            </p>
            <div style="text-align:center">
              <br><img src="../../../assets/blog/organisation/better-organise-your-files/taskbar-decluttered.PNG" alt="image" class="blog-image" style="width:100%;height:100%"/><br><br>  
            </div>
            <br>
            <p>And yes, there is a small green line underneath the applications that are running. But at a glance, having too many apps pinned can still subtly clutter your vision. If you are in a situation where you are stressed and trying to get things done using multiple applications, you could potentially feel more overwhelmed.</p>
            <div style="text-align:center">
              <br><img src="../../../assets/blog/organisation/better-organise-your-files/taskbar-cluttered-2.PNG" alt="image" class="blog-image" style="width:100%;height:100%"/><br><br>  
            </div>
            <br>
            <p>To remove items from your taskbar, all you have to do is right-click on an app and select <strong>Unpin From Taskbar.</strong></p>
            <br>
            <p class="subheading"><strong>3. Clear Your Start Menu</strong></p>
            <p>Here you can add the applications that you frequently use. When you first buy a new computer or laptop, the start menu usually has a lot of default apps pinned to it like the Microsoft Store or any inbuilt games. 
              Feel free to keep any of them there if you use them. However if you know what you frequently use, you can remove some of the default apps and add your own. You can also put them under groups. 
            </p>
            <br>
            <div class="rows"> 
              <div class="column-2">
                <img src="../../../assets/blog/organisation/better-organise-your-files/start-cluttered-yellow.jpg" alt="image"/>
              </div>
              <div class="column-2">
                <img src="../../../assets/blog/organisation/better-organise-your-files/start-decluttered.PNG" alt="image"/>
              </div>
            </div>
            <br>
            <p>The first image has a start menu full of default apps. Since I never use any of them, I've replaced them with the apps that I use, categorised under <strong>Productivity</strong> and <strong>Media</strong>, shown in the second image.</p>
            <p>To remove an application from the start menu, right click on the application and select <strong>Unpin from start</strong>. </p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/better-organise-your-files/start-unpin.PNG" alt="image" class="blog-image"/>  
            </div>
            <br>
            <p>You can then add your own applications by using the search bar to find the applications you use often. Right click on the application and select <strong>Pin to start</strong>.</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/better-organise-your-files/start-pin.PNG" alt="image" class="blog-image"/>  
            </div>
            <br>
            <p>You can also achieve the same thing by selecting an application and dragging it onto the start menu pin area.</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/better-organise-your-files/start-drag.png" alt="image" class="blog-image"/>  
            </div>
            <br>
            <p>You can create new groups by clicking and dragging the application and hovering it above the start menu until a lighter grey horizontal bar appears:</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/better-organise-your-files/start-new-group-yellow.jpg" alt="image" class="blog-image"/>  
            </div>
            <br> 
            <p>Hover on the space above to name your new group:</p>
            <br>
            <div class="rows"> 
              <div class="column-2">
                <img src="../../../assets/blog/organisation/better-organise-your-files/start-name-group1-yellow.jpg" alt="image"/>
              </div>
              <div class="column-2">
                <img src="../../../assets/blog/organisation/better-organise-your-files/start-name-group2.png" alt="image"/>
              </div>
            </div>
            <br> 
            <p class="subheading"><strong>4. Clear Your Downloads Folder</strong></p>
            <p>Your downloads folder should regularly be cleaned to remove files that have been recently downloaded. If you don't sort your downloads folder, it could end up messy with many accumulated unsorted files which look very similar to the first image below.
              If you regularly sort your downloads folder, it will end up being completely empty most of the time, as seen in the second image.</p>
            <br> 
            <div class="rows"> 
              <div class="column-2">
                <img src="../../../assets/blog/organisation/better-organise-your-files/downloads-cluttered.PNG" alt="image"/>
              </div>
              <div class="column-2">
                <img src="../../../assets/blog/organisation/better-organise-your-files/downloads-decluttered.PNG" alt="image"/>
              </div>
            </div>
            <br>
            <p>Everytime you download files, it's good to store them in a folder based on the category they belong in. For example, if you download a few new songs to store on your phone, move these from your downloads folder into a <strong>Music</strong> folder.</p>
            <p>Another thing to note is that files in your downloads folder can get deleted on their own, especially if you have enabled any automatic settings to delete files after a certain number of days. So archive your files as you go to prevent losing any files or data.</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/better-organise-your-files/downloads-install-files.PNG" alt="image" class="blog-image"/>  
            </div>
            <br> 
            <p>But what about install files? Install files can make up a good portion of the downloads folder. When you download the .exe install file for an application, install the app. Usually you will no longer need the install file, so you can choose to delete it or archive it.
              I would suggest archiving it incase you ever need to re-install it on your current computer or on another computer. I have created a <strong>Program Downloads</strong> folder to move all my install files to after I have finished using them.
            </p>
            <br>
            <p class="subheading"><strong>5. Create A Folder Hierarchy That Works For You</strong></p>
            <p>You cannot have an organised computer without having a file structure that categorises files according to where they belong. Take the following for example:</p>
            <br> 
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/better-organise-your-files/hierarchy-cluttered.PNG" alt="image" class="blog-image"/>  
            </div>
            <br> 
            <p>In this folder, there are many files stored that are unrelated to each other. There's ps3 themes, a travel itinerary, some receipts (for different things), an old resume, music folders, draft folders and an application (for something, we don't know what). 
              In your root documents folder, start creating higher-level folders. Some common ones include things like <strong>work, study</strong> or <strong>travel</strong>. This is an example of my main folders:
            </p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/better-organise-your-files/hierarchy-main-folders.PNG" alt="image" class="blog-image"/>  
            </div>
            <br> 
            <p>Each folder has their own sub-folders, that further nest/categorise files. But as you can see, everything related to work goes into the <strong>Work</strong> folder. Everything related to studies goes into the <strong>Uni</strong> folder. 
              The <strong>car</strong> folder has anything related to my car's registeration, insurance, repairs or checkups.</p>
            <p>This hierarchy is going to be different for everyone, depending on your needs and what kind of files you have stored on your computer. My work folder currently looks like this:</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/better-organise-your-files/hierarchy-work.PNG" alt="image" class="blog-image"/>  
            </div>
            <br> 
            <p>All employment is further separated into their own folders. I am using a little trick where I put the <strong>~</strong> symbol infront of any folders that I want displayed at the very top. So for example, I want the folder <strong>Resumes and CVs</strong> to stand out from the other employment folders.</p>
            <p>Alternatively, you could separate folders so you have an <strong>employment</strong> folder and a <strong>job applications</strong> folder where you separate jobs you've had to jobs you have applied for.</p>
            <p>Regardless of how you decide to group them, each individual job can then store all the files related to it. Here's another example:</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/better-organise-your-files/hierarchy-uni.PNG" alt="image" class="blog-image"/>  
            </div>
            <br> 
            <p>For current uni students, you might instead want to split these up further to categorise your courses per semester or year. Since I have finished, I don't really care which semester I completed which module, 
              so I have re-organised my uni folder to see an overview of all the courses I have completed. That way I don't have to spend time remembering when I did a course and where I can find it. This might not work for everyone, so you should find a structure that you will be comfortable with.</p>
            <br>
            <p class="subheading"><strong>6. Name Your Files Appropriately</strong></p>
            <p>Files should be named in a way where you know the purpose of the file. For example, consider the following:</p>
            <br> 
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/better-organise-your-files/namefiles-cluttered.png" alt="image" class="blog-image"/>  
            </div>
            <br> 
            <p>It is difficult to to know what <b>doc1</b> is, or what the difference between <b>final001, final002</b> or <b>final001 - Copy</b> is without opening it. Once you have found a hierarchy folder structure that works for you, name the files informatively after you categorise them into the appropriate folders. This is an example of the files under one of my job applications folders:</p>
            <br> 
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/better-organise-your-files/namefiles-decluttered.png" alt="image" class="blog-image"/>  
            </div>
            <br> 
            <p>Also, while you are organising your files, have a look at each of them and see if there are any duplicate or unnecessary files that you can delete. This will not only clean up some disk space but will also help you remove some clutter.</p>
            <br>
            <p class="subheading"><strong>7. Manage Your Photos, Music and Other Media</strong></p>
            <p>Similar to Step 5, you want to create a helpful folder structure. If you want, you can separate music, photos and videos from each other. You can group photos by the month and year you took them, or by events. </p>
            <p>The image below shows an unorganised images folder. Almost all the photos are unrelated, except for a few which can be grouped. </p>
            <br> 
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/better-organise-your-files/photos-cluttered.PNG" alt="image" class="blog-image"/>  
            </div>
            <br> 
            <p>There are multiple train track/industrial photos that are similar. In reality, I took all the train track images at a previous job working on the railways and have separated them into this folder hierarchy: <b>Work > Transport</b>. As another example, these are the main folders I have chosen to organise my photos: </p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/better-organise-your-files/photos-example1.PNG" alt="image" class="blog-image"/>  
            </div>
            <br> 
            <p>If I am able to, I try to collect all photos associated with a particular event (such as an outing) and put them into the <b>events</b> folder. Any selfies or general photos of loved ones (that don't happen during an occasion) go into the <b>friends and family</b> folder. 
              <b>Food</b> has all photos of food, <b>hobbies</b> include my drawings or photo editing, and so on.
              As you can see in the images below, each event has it's own folder (these are nested inside the <b>events</b> folder), and each person/group also has their own folder (nested inside the <b>family and friends</b> folder):
            </p>
            <br>
            <div class="rows"> 
              <div class="column-2">
                <img src="../../../assets/blog/organisation/better-organise-your-files/photos-example2.png" alt="image"/>
              </div>
              <div class="column-2">
                <img src="../../../assets/blog/organisation/better-organise-your-files/photos-example3.png" alt="image"/>
              </div>
            </div>
            <br>
            <p> For music, I just group these by playlists that I like to listen to: </p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/better-organise-your-files/Music-playlists.png" alt="image" class="blog-image"/>  
            </div>
            <br>
            <p class="subheading"><strong>8. Organise Your Applications And Installs</strong></p>
            <p>Install all your applications in one place. You can use the default application install directory, which is usualy the program files folder in Windows. </p>
            <p>If you have a lot of applications on your computer, analyse the ones you use and the ones you don't use. It could be possible that you installed a few applications just to try, and then forgot that they were there.</p>
            <p>Go to <b>Settings</b> on Windows 10 and select <b>Apps</b>. Scroll through the list of apps you have and if you recognise any that you no longer need, click on the app and select <b>Uninstall</b>. 
              Be careful when doing this though because you don't want to accidentally delete something that is essential. There are some apps that don't look familiar but are quite important.</p>
            <br> 
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/better-organise-your-files/uninstall-apps.PNG" alt="image" class="blog-image"/>  
            </div>
            <br>
            <p class="subheading"><strong>9. Use A Temporary Folder For Current Projects</strong></p>
            <p>This was mentioned before as part of Step 1. If you have a clear desktop, you can add temporary folders that involve tasks that need to be completed soon, or tasks that you are currently working on.</p>
            <p>This is how is works: Add the project you are working on to the desktop (as shown below, for the folder - <b>Vondreii Site</b>). Once you have finished working on it, you can archive it inside the appropriate folder that you have organised as part of Step 5.
              You can also archive the files when you make substantial changes, so you have another working backup copy stored locally. 
            </p>
            <br> 
            <div style="text-align:center">
              <br><img src="../../../assets/blog/organisation/better-organise-your-files/desktop-temp-folder-yellow.jpg" alt="image" class="blog-image"/><br><br>  
            </div>
            <br>
            <p>Another alternative is to create a shortcut icon to the folder you are working on. You can do this by navigating to the folder, right clicking on it and selecting the <strong>Create Shortcut</strong> option. Move the newly created shortcut folder onto the desktop.
              This is a better option if the files you are working on takes too much space to move around between temp/archived locations.</p>
            <br>
            <p class="subheading"><strong>10. Organise How You Back Up Your Files</strong></p>
            <p>Make sure you back up all your files on a regular basis. You never know when a system/hardware failure is going to happen, so you want to always be prepared. Depending on your files, you should have at least one main hard drive or USB ready (that has a good GB space limit). 
              You can backup all your files here, including documents or photos.</p>
            <br>
            <div style="text-align:center">
              <br><img src="../../../assets/blog/organisation/better-organise-your-files/backup-harddrive.jpg" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Photo by <a href="https://unsplash.com/@jakobowens1">Jakob Owens </a>on Unsplash</p></div>
            </div>
            <br>
            <p>Another USB (or few) can be used for minor things like transferring files to others or storing backups of current important work.
              You can also utilise tools like <a href="https://www.dropbox.com/login">Dropbox</a> or <a href="https://drive.google.com">Google Drive</a>. There are free to use provided you don't exceed their free GB limit.
            </p>
            <br> 
            <div style="text-align:center">
              <br><img src="../../../assets/blog/organisation/better-organise-your-files/backup-usb.jpg" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Photo by <a href="https://unsplash.com/@brina_blum">Brina Blum </a>on Unsplash</p></div>
            </div>
            <br>
            <p>Schedule some time every week to backup the files that have changed. Otherwise, if it's easier, backup your files everytime you make changes.</p>
            <br>
            <p class="subheading"><strong>Conclusion</strong></p>
            <p>The key to organising your computer is to find a system that works for you and the files that you have. Hopefully these examples have given you some ideas on how you can organise your computer to make your workflow more efficient.
              Be sure to regularly do backups, and check any files or applications you can clear out if they are not in use.</p>
            <br>
            <h4 class="blog-date">16 May 2020</h4>
            <h6 class="blog-date">By <a href="https://www.instagram.com/vondreii/?hl=en">@Vondreii</a></h6><br><br>
          </div>
          <!-- #endregion -->
          <!-- #region Tags -->
          <div class="tags">
            <div class="tag"> Tags: </div>
            <div class="tag"><p>#Organisation</p></div>
            <div class="tag"><p>#Computer</p></div>
            <div class="tag"><p>#Laptop</p></div>
            <div class="tag"><p>#Self Development</p></div>
            <div class="tag"><p>#Time</p></div>
            <div class="tag"><p>#Files</p></div>
          </div>
          <!-- #endregion -->
        </div>
      </div>
      <div class="rightcolumn" id="sticky-right-col">
        <!-- #region Ad -->
        <div class="card">
          <br><div style="height:300px;background-image:url('../../assets/about/designer.jpg');background-size:cover;"></div><br>
        </div>
        <!-- #endregion -->
      </div>
    </div>            
    <!-- #region Follow Me -->
    <div class="card">
      <br><h3 class="sidebar-bottom-headings">FOLLOW ME</h3><h5 class="fadedText">__________________</h5><br>
      <div style="text-align:center">
        <a href="https://www.instagram.com/vondreii"><img src="../../../assets/social/instagram.png" alt="image"/></a><span style="padding:10px"></span>
        <a href="https://www.linkedin.com/in/sharlene-von-drehnen"><img src="../../../assets/social/linkedin.png" alt="image"/></a><span style="padding:10px"></span>
        <a href="https://github.com/vondreii"><img src="../../../assets/social/github.png" alt="image" /></a><span style="padding:10px"></span>
      </div>
      <br><br>
    </div>
    <!-- #endregion -->
    <!-- #region More Like This --> <!-- TODO: Copy over the more like this -->
    <br><br><h3 class="sidebar-bottom-headings">MORE LIKE THIS</h3><br><h5 class="fadedText">__________________</h5><br>
    <div class="rows">
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/minimalism/things-you-can-declutter/mini-preview.jpg" alt="image" style="width:100%">
        <div class="card-container">
          <br><h2><strong>60+ Things You Can Declutter Right Now</strong></h2><h4>12 May 2020</h4><br>
          <p>Decluttering helps us organise the things around us and can also help improve our overall wellbeing. Everyone can benefit from decluttering, and it's interesting to see how many things are lying around that...</p>
          <p style="text-align:center"><a routerLink="/blog/minimalism/things-you-can-declutter-right-now">Read More >></a></p>
        </div>
      </div></div><br><br>
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/organisation/organise-web-browsing/mini-preview.jpg" alt="image" style="width:100%"> 
        <div class="card-container">
          <br><h2><strong>How To Organise Your Web Browsing</strong></h2><h4>19 May 2020</h4><br>
          <!-- <p>Description... </p> -->
          <p style="text-align:center"><a routerLink="/blog/organisation/how-to-organise-your-web-browsing">Read More >></a></p>
        </div>
      </div></div><br><br>
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/organisation/how-to-be-better-organised/mini-preview.jpg" alt="image" style="width:100%"> 
        <div class="card-container">
          <br><h2><strong>24 Ways To Be More Organised</strong></h2><h4>19 May 2020</h4><br>
          <p>There's a lot of people who admit that they would like to be more organised. Unfortunately, being fully organised in most aspects of life is a habit that takes time to build (it doesn't happen overnight!). That being said - it is...</p>
          <p style="text-align:center"><a routerLink="/blog/organisation/ways-to-be-more-organised">Read More >></a></p>
        </div>
      </div></div><br><br>
    </div>
    <!-- #endregion  -->
  </div>
