<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Content -->
<div class="bg-color">
  <!-- Form -->
  <br>
  <div class="form">
    <p class="paragraph-center"> This form is currently under construction. </p>
    <!-- <p class="paragraph-center"> Just write your name, email and message and I will get back to you as soon as possible. </p> -->
    <form name="contact" method="POST" data-netlify="true">
        <input name="name" type="text" class="feedback-input" placeholder="Name" />   
        <input name="email" type="text" class="feedback-input" placeholder="Email" />
        <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
        <input type="submit" value="SUBMIT"/>
    </form>
  </div>
  <br><br>
  
  <!-- Contact links -->
  <app-social></app-social>
</div>