<app-navbar></app-navbar>
<div style="background-color:whitesmoke">
  <!-- Parallax and main heading -->
  <div class="parallax" style="height: 350px;background-image: url('../../../assets/contact/header.jpg');">
    <div class="imageTextCollage"><a class="photoCred" style="margin-top: 300px; float: right; position:relative" href="https://unsplash.com/@heytowner" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Taylor Smith"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">John Towner</span></a></div>
  </div>
  <div class="parallax" style="height: 150px;">
    <h2 class="main-heading"><span class="heading-border">Contact</span></h2>
  </div>
  <div class="form">
    <p class="paragraph-center"> Just write your name, email and message and I will get back to you as soon as possible. </p>
    <form name="contact" method="POST" data-netlify="true">
        <input name="name" type="text" class="feedback-input" placeholder="Name" />   
        <input name="email" type="text" class="feedback-input" placeholder="Email" />
        <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
        <input type="submit" value="SUBMIT"/>
    </form>
  </div>
  <br><br>
  <div class="contact-card">
    <br><br>
    <div style="text-align:center">
        <a href="https://www.instagram.com/vondreii"><img src="../../assets/social/instagram.png" alt="image"/></a><span style="padding:10px"></span>
        <a href="https://www.linkedin.com/in/sharlene-von-drehnen"><img src="../../assets/social/linkedin.png" alt="image"/></a><span style="padding:10px"></span>
        <a href="https://github.com/vondreii"><img src="../../assets/social/github.png" alt="image"/></a><span style="padding:10px"></span>
    </div>
    <br><br>
  </div>
</div>