/* ****************************** COMMON EFFECTS ****************************** */
/* Parallax effect */
.parallax {background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover}
.photoCred {background-color:black;color:white;text-decoration:none;padding:4px 6px;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px}

h1 {font-family:Helvetica,sans-serif;text-align:center;line-height:50px}
h2, h3 {font-family:Helvetica,sans-serif;text-align:center;line-height:50px}

/* ******************************* CONTACT ******************************* */
/* Contact form design */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
form { max-width:420px; margin:50px auto; padding: 20px }
.feedback-input:focus { border:2px solid #303030; background: #f3f3f3; }
textarea { height: 150px; line-height: 150%; resize:vertical; }
textarea:hover, .feedback-input:hover {background-color: #f3f1f3;}
.form .paragraph-center {text-align: center; font-size: 16pt; padding: 20px }
/* Contact form inputs */
.feedback-input {
  color:black; font-family: Helvetica, Arial, sans-serif; font-weight:500; font-size: 18px;
  border-radius: 5px; line-height: 22px; border:2px solid #707070;
  background-color: transparent;
  transition: all 0.3s;
  padding: 13px; margin-bottom: 15px; width:100%; box-sizing: border-box; outline:0;
}
[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%; background:darkgrey;
  border-radius: 5px; border:0;
  cursor: pointer;
  color:white; font-size:24px; font-weight:700;
  padding-top:10px; padding-bottom:10px; margin-top:-4px;
  transition: all 0.3s;
}
[type="submit"]:hover { background:#303030; }

.main-heading {
  position: absolute; 
  text-align:center;
  top: 280px; 
  left: 0; 
  width: 100%; 
  color: whitesmoke;
  font-size:40pt;
  letter-spacing: 5px;
  font-weight:600;
}

.heading-border {
  width: 70%;
  padding: 20px;
  border: 10px solid white;
}
