<app-navbar></app-navbar>

<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../assets/photography/blue-mountains/blue-mountains-header-cropped2.png');">
  <div class="imageTextCollage">
    <br><br>
    <h3 class="sidebar-bottom-headings"><b>{{loc}}</b></h3><h3><b>▼</b></h3>
  </div>
</div> <p></p>
<br>
<!-- <ul>
  <li *ngFor="let location of collection | async"  role="listitem">
    <p> {{loc}}</p>
  </li>
</ul> -->
<p></p>
<div class="rows">
  <div class="column-4">
    <img *ngFor="let img of col1" src="{{img}}" alt="image">
  </div>
  <div class="column-4">
    <img *ngFor="let img of col2" src="{{img}}" alt="image">
  </div>
  <div class="column-4">
    <img *ngFor="let img of col3" src="{{img}}" alt="image">
  </div>
  <div class="column-4">
    <img *ngFor="let img of col4" src="{{img}}" alt="image">
  </div>
</div>
<br><br>
<!-- #endregion -->
<div class="more-like-this">
  <br><h3 class="sidebar-bottom-headings">MORE LIKE THIS</h3><br>
  <div class="photography-list">
    <a routerLink={{moreLikeThis1RouterLink}}>
      <div class="photography-list-image" [ngStyle]="{'background-image': 'url('+moreLikeThis1Background+')'}"><div class="destination-text">{{moreLikeThis1Location}}</div></div>
    </a>
    <div class="spacing"></div>
    <a routerLink={{moreLikeThis2RouterLink}}>
      <div class="photography-list-image" [ngStyle]="{'background-image': 'url('+moreLikeThis2Background+')'}"><div class="destination-text">{{moreLikeThis2Location}}</div></div>
      <!-- <div class="photography-list-image" style="background-image: url('../../assets/photography/hobart/hobart-street.jpg')"><div class="destination-text">Testing</div></div> -->
    </a>
    <div class="spacing"></div>
  </div>
</div>