/* ****************************** COMMON EFFECTS ****************************** */
/* Parallax effect */
.parallax {background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover}
.photoCred {background-color:black;color:white;text-decoration:none;padding:4px 6px;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px}

h1 {font-family:Helvetica,sans-serif;text-align:center;line-height:50px}
h2, h3 {font-family:Helvetica,sans-serif;text-align:center;line-height:50px}
h4 {font-family:Helvetica,sans-serif;text-align:center;font-size:17pt;color:rgb(100, 100, 100);line-height:30px}
h5 {font-family:Helvetica,sans-serif;text-align:center;margin-top:-20px}
h6 {font-family:Helvetica,sans-serif;text-align:center;letter-spacing:2px}

/* ****************************** GRID COLUMN LAYOUTS ****************************** */
.rows { display: flex; flex-wrap: wrap; padding: 0 4px; }
.column-3 { flex: 33%; max-width: 33%; padding: 0 4px; }
.column-3 img { margin-top: 8px; vertical-align: middle; width: 100%; }
@media screen and (max-width: 1200px) {.column-3 { flex: 100%; max-width: 100%; }}

/* ****************************** BLOG COLUMN LAYOUTS ****************************** */
/* Columns on the front page */
.leftcolumn {float:left;width:75%;}
.rightcolumn {float:left;width:25%;padding-left:20px;}
@media screen and (max-width: 1000px) {.leftcolumn, .rightcolumn {width: 100%;padding: 0;} }
.blog-layout:after {content:"";display: table;clear: both;}

@media screen and (min-width: 1001px) {
  #sticky-right-col {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: -1;
    padding: 60px 10px;
    font-size: 20px;
  } 
}

/* ****************************** CARD EFFECTS ****************************** */
.card {background-color: rgb(250, 250, 250);box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}
.card p, .card h3 {padding:20px;}
/* Card within a card */
.card-container { padding: 2px 16px; }
.mini-card { box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; width: 100%; margin-bottom: 20px; text-align: justify; }
.mini-card:hover { box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); }
.mini-card-container { padding: 2px 16px; }

/* ****************************** TAGS ****************************** */
.tags {margin-bottom:20px}
.tags p {font-size:10pt;background-color:lightgrey;color:rgb(97, 97, 97);padding:2px 10px;border-radius:20px;margin-bottom:-5px;}
.tag {margin:10px 5px;display:inline-block;}

/* ****************************** IMAGES AND GIFS ****************************** */
.blog-image {width:50%;height:50%}
@media screen and (max-width: 900px) {.blog-image {width:100%;height:100%}}
.content-photo-credit p {font-size:10pt;text-align:center;color:grey}
#gif-image {width:360px;height:339px}
@media screen and (max-width: 900px) {.gif-image {width:288px;height:271px}}

/* ****************************** WRITTEN CONTENT ****************************** */
.subheading {font-size:22pt;text-align:left;font-style:bold;line-height:40px}
.subsubheading {font-size:19pt;text-align:left;font-style:bold;line-height:40px;color:rgb(80, 80, 80)}
.sidebar-bottom-headings {font-family:Helvetica,sans-serif;text-align:center;line-height:50px;letter-spacing:3px;color:rgb(100, 100, 100)}

.written-content-container { text-align: center; }
.written-content { width: 70%; display: inline-block; text-align: justify; color: rgb(54, 54, 54); }
@media screen and (max-width: 920px) {.written-content { width: 90%; }}

.blog-date {color: rgb(136, 136, 136)}
.fadedText {color:rgb(100, 100, 100)}
p, ul, ol, blockquote {font-family:Helvetica,sans-serif;font-size:16pt;line-height:30px}
p, blockquote {text-align:justify}
ul, ol {text-align:left}
table {font-size:15pt;line-height:20px} 
td {padding:10px} 
tr:nth-child(even) {background-color:whitesmoke;}
th {padding:10px}