<app-navbar></app-navbar>

<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../../assets/blog/minimalism/things-you-can-declutter/header.jpg');">
    <div class="imageTextCollage"><a class="photoCred" style="margin-top: 300px; float: right;" href="https://unsplash.com/@karenuppal" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Igor Miske"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Karen Uppal</span></a></div>
</div>
<div class="content">
    <div class="blog-layout">
      <!-- #region Tags -->
      <div class="card">
        <div class="tags" style="text-align:center">
          <div class="tag"> Tags: </div>
          <div class="tag"><p>#Organisation</p></div>
          <div class="tag"><p>#Self Development</p></div>
          <div class="tag"><p>#Decluttering</p></div>
          <div class="tag"><p>#Minimalism</p></div>
        </div>
      </div>
      <!-- #endregion -->
      <div class="leftcolumn">
        <div class="written-content-container">
          <!-- #region Written content -->
          <div class="written-content">
            <br><br><h1><strong>60+ Things You Can Declutter Right Now</strong></h1>
            <br>
            <p>Decluttering helps us organise the things around us and can also help improve our overall wellbeing. Everyone can benefit from decluttering, and it's interesting to see how many things are lying around that we can reconsider keeping. Here is a list of some items that you could declutter right now.</p><br>  
            <div style="text-align:center">
              <br><iframe src="https://giphy.com/embed/CjmvTCZf2U3p09Cn0h" id="gif-image" class="giphy-embed" allowFullScreen></iframe><div class="content-photo-credit"><a href="https://giphy.com/gifs/leroypatterson-cat-glasses-CjmvTCZf2U3p09Cn0h">via GIPHY</a></div>
            </div><br>
            <!-- Living Room -->
            <p class="subheading"><strong>Room 1: Living Room</strong></p>
            <p>The living room is usually the first thing people see when they walk into your house, and the room where a lot of us spend most of our time in while we are at home. So understandably, there might be a lot of stuff lying around that we probably don't even know exists. 
              When was the last time you opened that drawer full of CDs? Probably not in a while.</p><br>  
            <ol>
              <li><b>Old/damaged cables</b> that are no longer used.</li>
              <li><b>Trinkets</b> that are on display. Of course, don't remove the ones ones that have sentimental meaning.</li>
              <li><b>Books</b> that are never read.</li>
              <li><b>DVDs</b> or <b>CDs</b> that are never played (we have Netflix now!).</li>
              <li><b>Devices</b> that are no longer used, such as old DVD players. If you have kids that moved out (and they left their game consoles) you can give it to them.</li>
              <li><b>Magazines, loose papers or receipts.</b></li>
              <li><b>Small furniture</b> (if you have too many sidetables/stools around).</li>
              <li>If you have too many <b>photo frames</b>, you could reduce the amount that are on display.</li>
              <li><b>Small things</b> sitting on/around the coffee table (such as coasters or mugs).</li>
              <li><b>Plants</b> on display.</li>
              <li><b>Light sources</b>. 1 or 2 lampshades depending on the living room size should be enough.</li>
            </ol>
            <br>
            <!-- Dining Room -->
            <p class="subheading"><strong>Room 2: Dining Room</strong></p>
            <p>The Dining Area doesn't need too many things. If you have cabinets surrounding the dining table, now is the perfect time to have a look at what is there. Any old table cloths or towels could be considered for decluttering. 
              Again, don't get rid of anything that has sentimental value.</p><br>  
            <ol start="12">
              <li><b>Placemats or coasters</b> that haven't been used</li>
              <li><b>Table covers/rollers</b> that haven't been used</li>
              <li><b>Silverware</b> on display in nearby cabinets</li>
              <li><b>Old china</b> that's on display</li>
              <li>Old/unused <b>cloths or hand towels</b></li>
            </ol>
            <br>
            <!-- TODO: ad -->
            <!-- Kitchen -->
            <p class="subheading"><strong>Room 3: Kitchen</strong></p>
            <p>You probably need most of the things in the kitchen. But you never know, you might find something you haven't used in a while.</p><br>  
            <ol start="17">
              <li><b>Plates</b> that you haven't used in a while.</li>
              <li><b>Cutlery</b> that you haven't used in a while.</li>
              <li><b>Pots and pans</b> that you haven't used in a while.</li>
              <li>Old/unused <b>kitchen appliances</b> (how often do you use that mini-pancake maker?).</li>
              <li>Check the expiry dates on any <b>stock/cans</b> that have been there for a while.</li>
              <li><b>Containers</b></li>
              <li><b>Cups!</b></li>
              <li><b>Food that isn't expired</b> but has been there for a while. Use them to cook something.</li>
              <li><b>Cleaning products</b> that are not used.</li>
              <li><b>Ladels/serving spoons</b> that are not used.</li>
              <li><b>Other cooking materials</b> that are not used (for example, extra chopping boards, graters or mixers).</li>
            </ol>
            <br>
            <div style="text-align:center">
              <br><img src="../../../assets/blog/minimalism/things-you-can-declutter/kitchen.jpg" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Photo by <a href="https://unsplash.com/@mikael">Mikael Cho </a>on Unsplash</p></div>
            </div>
            <br>
            <!-- Bathroom -->
            <p class="subheading"><strong>Room 4: Bathroom</strong></p>
            <p>Most of the decluttering for this room is related to beauty products. If you have to maintain your hair, chances are you definitely have a stockpile of hair products lying around that you use. What you want to do is identify the ones you use on a regular basis or that you KNOW you use every now and then.</p><br>  
            <ol start="28">
              <li>Old/unused <b>towels</b>.</li>
              <li><b>Bathrobes</b> that haven't been worn in a while.</li>
              <li><b>Lotions/moisturizing products</b> that haven't been used. For example, if you have a stockpile of lotions that you barely touch because you only use one or two.</li>
              <li><b>Old makeup.</b> This is the same as the above, keep the ones you use frequently and get rid of the rest.</li>
              <li>Old/unused <b>floor slippers</b>.</li>
              <li><b>Bathroom plants</b> if there are too many or if they do not add much to the decor.</li>
              <li>Old/unused <b>hair products</b> such as hairspray.</li>
              <li>Old/broken <b>appliances</b> such as broken hairdryers or curling irons.</li>
              <li><b>Empty toilet rolls</b> you might have forgotten to throw away.</li>
              <li>Old/unused <b>bathoom mats</b>.</li>
              <li>Old/unused <b>toothbrushes</b>.</li>
            </ol>
            <br>
            <!-- Bedroom -->
            <p class="subheading"><strong>Room 5: Bedroom</strong></p>
            <p>Most of your decluttering is probably going to come from this room, if you have lots of unused clothes and shoes. The rule of thumb is to get rid of clothes that you have not worn in 6 months to a year. However this comes with exceptions. 
              I have one really great black cocktail dress which I use for special occasions, maybe once every 1-2 years. If you have clothes that you don't wear often but are saved for formal events, that is completely fine. </p>
            <br>
            <div style="text-align:center">
              <br><img src="../../../assets/blog/minimalism/things-you-can-declutter/old-shoes.jpg" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Photo by <a href="https://unsplash.com/@jakobowens1">Jakob Owens </a>on Unsplash</p></div>
            </div>
            <br>
            <p>Keep these at a minimum though (you don't want to be storing 10 formal suits if you only use suits about 2 times a year). 
              This is completely based on your needs, what kinds of clothes you usually wear and what you do for business.</p><br>  
            <ol start="39">
              <li>Old/unused <b>clothes</b>.</li>
              <li>Old/unused <b>shoes</b>.</li>
              <li>Old/unused <b>handbags</b>.</li>
              <li><b>Clothes that no longer fit </b>even though you used to wear them.</li>
              <li>Old/unused <b>bedsheets or pillow cases</b>.</li>
              <li>Old/unused <b>blankets</b>.</li>
              <li>What's inside your <b>bedside table?</b> If you don't use it, toss it.</li>
              <li><b>Stickers/photos on the mirror </b> of the dressing table, if you have any.</li>
              <li>More <b> trinkets </b> and items on display around cupboards or shelves.</li>
              <li><b>Personal items</b> such as keychains or old wallets that are no longer used.</li>
              <li>Old/unused <b>luggages</b>.</li>
              <li><b>Boxes</b> that have been kept from previous things you bought.</li>
            </ol>
            <br>
            <!-- Spare Bedroom -->
            <p class="subheading"><strong>Room 6: Spare Bedroom</strong></p>
            <p>Assuming you use the spare bedroom for guests, there shouldn't really be many personal items in there. So if you use the room as a storage for things you don't use, then you can considered getting rid of some of them.</p>
            <!-- TODO: ad -->
            <ol start="51">
              <li>Anything left in <b>storage</b> in containers under the bed or in bookshelves that hasn't been used in a while (and that is not important).</li>
              <li>Again, <b> trinkets </b> and items on display around cupboards or shelves.</li>
              <li><b>Furniture.</b> If you aren't going to be storing much here you can keep the dressing tables/bookshelves to a minimum.</li>
            </ol>
            <br>
            <!-- Study/Work Area -->
            <p class="subheading"><strong>Room 7: Study/Work Area</strong></p>
            <p>Have you ever gone back and revisited old textbooks or notes you wrote while you were studying? No? Well then maybe you don't need to keep them anymore. You could make some quick cash by selling them. 
              <!-- If you wanna know more about that, you can read ____. --></p><br>  
            <ol start="54">
              <li>Old <b>Textbooks</b>.</li>
              <li>Old <b>notes and study materials</b>.</li>
              <li><b>Art supplies</b> that may not be used (such as paint, markers).</li>
              <li><b>Stationary</b> (such as empty books or broken pens).</li>
              <li>Unused <b>hardware</b> (such as broken hard drives or usbs).</li>
              <li>More broken <b>cables</b>.</li>
              <li><b>Sticky notes</b> that are no longer valid.</li>
            </ol>
            <br>
            <!-- Garage Area -->
            <p class="subheading"><strong>Room 8: Garage</strong></p>
            <ol start="61">
              <li>More things kept in <b>storage</b> that are no longer used.</li>
              <li>Old/unused <b>tools</b> like electric drills or multiple screwdrivers.</li>
              <li>Old/unused <b>car accessories</b>.</li>
            </ol>
            <br>
            <div style="text-align:center">
              <br><img src="../../../assets/blog/minimalism/things-you-can-declutter/textbooks.jpg" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Photo by <a href="https://unsplash.com/@anniespratt">Annie Spratt </a>on Unsplash</p></div>
            </div>
            <br>
            <p class="subheading"><strong>Conclusion</strong></p>
            <p>As you can see, there are so many possible things you could consider decluttering in your home. It can be very difficult to do this in one go, so doing it in sections definitely helps.
              It is useful to have three piles: <b>'definitely keeping'</b>, <b>'maybe'</b> and <b>'definitely do not need.'</b><br><br>
              <b>Definitely Keeping: </b> Keep! <br><br>
              <b>Maybe: </b> Keep them in a bag and go through them in a few weeks and decide again. <br><br>
              <b>Definitely Do Not Need: </b> These items can be put in bags and given to charity organisations 
              (like the Salvation Army), sold for extra cash, or put on the side of the road for council collection. <br><br>
            </p><br>  
            <h4 class="blog-date">12 May 2020</h4>
            <h6 class="blog-date">By <a href="https://www.instagram.com/vondreii/?hl=en">@Vondreii</a></h6><br><br>
          </div>
          <!-- #endregion -->
          <!-- #region Tags -->
          <div class="tags">
            <div class="tag"> Tags: </div>
            <div class="tag"><p>#Organisation</p></div>
            <div class="tag"><p>#Self Development</p></div>
            <div class="tag"><p>#Decluttering</p></div>
            <div class="tag"><p>#Minimalism</p></div>
          </div>
          <!-- #endregion -->
        </div>
      </div>
      <div class="rightcolumn" id="sticky-right-col">
        <!-- #region Ad -->
        <div class="card">
          <br><div style="height:300px;background-image:url('../../assets/about/designer.jpg');background-size:cover;"></div><br>
        </div>
        <!-- #endregion -->
      </div>
    </div>            
    <!-- #region Follow Me -->
    <div class="card">
      <br><h3 class="sidebar-bottom-headings">FOLLOW ME</h3><h5 class="fadedText">__________________</h5><br>
      <div style="text-align:center">
        <a href="https://www.instagram.com/vondreii"><img src="../../../assets/social/instagram.png" alt="image"/></a><span style="padding:10px"></span>
        <a href="https://www.linkedin.com/in/sharlene-von-drehnen"><img src="../../../assets/social/linkedin.png" alt="image"/></a><span style="padding:10px"></span>
        <a href="https://github.com/vondreii"><img src="../../../assets/social/github.png" alt="image" /></a><span style="padding:10px"></span>
      </div>
      <br><br>
    </div>
    <!-- #endregion -->
    <!-- #region More Like This -->
    <br><br><h3 class="sidebar-bottom-headings">MORE LIKE THIS</h3><br><h5 class="fadedText">__________________</h5><br>
    <div class="rows">
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/organisation/better-organise-your-files/mini-preview.jpg" alt="image" style="width:100%">
        <div class="card-container">
          <br><h2><strong>10 Tips To Better Organise Your Computer</strong></h2><br>
          <p style="text-align:center"><a routerLink="/blog/organisation/tips-to-better-organise-your-computer">Read More >></a></p>
        </div>
      </div></div><br><br>
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/organisation/organise-web-browsing/mini-preview.jpg" alt="image" style="width:100%"> 
        <div class="card-container">
          <br><h2><strong>How To Organise Your Web Browsing</strong></h2><br>
          <p style="text-align:center"><a routerLink="/blog/organisation/how-to-organise-your-web-browsing">Read More >></a></p>
        </div>
      </div></div><br><br>
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/organisation/how-to-be-better-organised/mini-preview.jpg" alt="image" style="width:100%"> 
        <div class="card-container">
          <br><h2><strong>24 Ways To Be More Organised</strong></h2><br>
          <p style="text-align:center"><a routerLink="/blog/organisation/ways-to-be-more-organised">Read More >></a></p>
        </div>
      </div></div><br><br>
    </div>
    <br><br>
    <!-- #endregion  -->
  </div>
