<footer>
    <div class="social-footer">
      <a class="button-square button-social hint--top" data-hint="Github" title="Github" href="https://github.com/vondreii" rel="me"><i class="fa fa-github-alt"></i></a>
      <a class="button-square button-social hint--top" data-hint="LinkedIn" title="LinkedIn" href="https://www.linkedin.com/in/sharlene-von-drehnen" rel="me"><i class="fa fa-linkedin"></i></a>
      <a class="button-square button-social hint--top" data-hint="Email" title="Email" routerLink="contact"><i class="fa fa-envelope"></i></a>
    </div><br>
    <div class="copy"><p>&copy; 2020 Copyright <strong>SVD</strong> | LAST MODIFIED <strong>20/05/2020</strong></p></div>
</footer>
