<div class="footer content">
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="footer-links">
                <h3>PROJECTS</h3>
                <a href="https://vondreii.com/">My Projects</a>
                <a href="https://github.com/vondreii">Github Page</a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="footer-links">
                <h3>CONTACT</h3>
                <a href="https://vondreii.com/contact">Contact Form</a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="footer-links">
                <h3>SOCIAL</h3>
                <a href="https://www.linkedin.com/in/sharlene-von-drehnen">LinkedIn</a>
                <a href="https://www.instagram.com/vondreii">Instagram</a>
                <a href="https://twitter.com/vondreii">Twitter</a>
            </div>
        </div>
    </div>
  </div>
</div>