<div class="green-content" style="background-color:#15b897"></div>
<div class="green-content" style="background-color:#15b897"></div>
<!-- Dark Blue Footer Start -->
<div class="footer content pt-5">
  <div class="container">
      <div class="row">
          <!-- <div class="col-md-6 col-lg-3">
              <div class="footer-links">
                  
              </div>
          </div> -->
          <div class="col-md-6 col-lg-3">
              <div class="footer-links">
                  <h3>PAGES</h3>
                  <a href="/portfolio">Projects</a>
                  <a href="/blog">Blog</a>
                  <a href="/about-me">About</a>
                  <a href="/contact">Contact</a>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="footer-links">
                  <h3>SOCIAL</h3>
                  <a href="https://www.linkedin.com/in/sharlene-von-drehnen">LinkedIn</a>
                  <a href="https://www.instagram.com/vondreii">Instagram</a>
                  <a href="https://github.com/vondreii">Github</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Footer End -->