.dot-points {
	margin:40px 0px 30px 0px;padding:35px;box-shadow:0 2px 5px 0 rgba(0,0,0,0.15);border-radius:5px;background-color:rgb(230, 230, 230)
}
.dot-points p, .dot-points ul, .dot-points li  {
	padding-bottom:1rem;text-align:left;background-color:rgb(230, 230, 230)
}