<div class="content pb-5 project">
  <div class="pt-3 pb-5 extra-padding">
    <h1>CyanX</h1>
    <br>
    <h5>2D • Game • Side Scroller • Puzzle</h5>
    <hr>

    <div class="article">
      <p>
        CyanX is a 2D platformer game based in the distant future in a world known as Khandren. Flying robot enemies (also known
        as 'Nezbots') have captured animals and the player must solve puzzles, level up, craft weapons and defeat the Nezbots in
        order to reach and rescue the animals.
      </p>
      <div class="image-container">
        <img src="./assets/portfolio/images/cyanX/map.png" loading="lazy" alt="image" class="image-75">
      </div>
      <div class="pb-3"></div>
      <ul>
        <li>
          <a class="cyanLink" href="https://github.com/vondreii/CyanX">View GitHub Repository</a>
        </li>
        <li>
          <a class="cyanLink" href="./assets/portfolio/downloads/CyanX.zip">Download Game Here</a>
        </li>
      </ul>
      <div class="pb-3"></div>

      <h5>Background</h5>
      <div class="pb-3"></div>
      <p>
        This was made for a Games Production course while studying at the University of Newcastle, NSW, Australia. My
        Collaborator was <a class="cyanLink" href="https://www.sorakhan.com/">Sora Khan</a>.
      </p>
      <div class="pb-3"></div>

      <h5>Tech Stack</h5>
      <div class="pb-3"></div>
      <ul>
        <li>Unity C#</li>
      </ul>
      <div class="image-container">
        <img src="./assets/portfolio/images/cyanX/4.jpg" loading="lazy" alt="image" class="image-75">
      </div>
      <div class="pb-3"></div>
      
      <h5>Controls</h5>
      <div class="pb-3"></div>
      <ul>
        <li><b>Walk</b> - Left and right arrow keys, or A and D letter keys</li>
        <li><b>Jump</b> - The space bar</li>
        <li><b>Interact with button</b> - Walk into button. If the button is red, it means you have already pressed it</li>
        <li><b>Open menu</b>- The M arrow key</li>
        <li><b>Equip weapon</b> - The M arrow key, select 'Craftbox,' followed by the weapon you want to equip</li>
      </ul>
      <div class="pb-3"></div>

      <h5>Main Menu</h5>
      <div class="pb-3"></div>
      <p>
        The main menu allows you to open the Craftbox, where you can craft weapons based on what items you have collected. You
        can also view what level you are currently on (from level 1 to 10).
      </p>
      <div class="pb-3"></div>

      <h5>Locations</h5>
      <div class="pb-3"></div>
      <p>The concept design for this game included more than three locations. This game consists of three:</p>
      <div class="pb-3"></div>
      <ul>
        <li><b>Sandenko</b> - This level is desert themed and consists of sandy dunes</li>
        <li><b>Cypro</b> - This level is situated in the forest region and consists of trees, grassy plains and green hills</li>
        <li><b>Icerun</b> - This level is situated in the icy north region and consists of mountains, snow and icy platforms</li>
      </ul>
      <div class="pb-3"></div>

      <h5>Collectables</h5>
      <div class="pb-3"></div>
      <p>
        To be able to craft weapons, you have to collect certain resources, which are scattered throughout each location. Some
        resources can craft more powerful weapons than others. Wood is the least powerful, and Ruby is the most powerful.
      </p>
      <div class="pb-3"></div>
      <ul>
        <li>Wood</li>
        <li>Stone</li>
        <li>Steel</li>
        <li>Blue Diamond</li>
        <li>Ruby</li>
      </ul>      
      <div class="pb-3"></div>
      <p>In addition to resources, you can also collect:</p>
      <div class="pb-3"></div>
      <ul>
        <li><b>Stars:</b> 
          You can collect experience points (yellow stars) which add up to your progress. After collecting a
          certain number of stars, you can progress to the next level.</li>
        <li><b>Apples:</b> 
          Apples will increase your health by one (this only works if you do not have 100% life).</li>
      </ul>
      <div class="pb-3"></div>
      <div class="image-container">
        <img src="./assets/portfolio/images/cyanX/1.png" loading="lazy" alt="image" class="image-75" />
      </div>
      <div class="pb-3"></div>

      <h5>Crafting Weapons</h5>
      <div class="pb-3"></div>
      <p>
        Using collected resources, you can open the Craftbox and craft weapons. The more powerful the resource, the more
        powerful the weapon. The top of the Craftbox shows a list of all resources, and the number you have collected for each.
      </p>
      <div class="pb-3"></div>
      <p>
        Below that is a list of weapons available to craft along with the number and types of resources you need in order to
        craft it.
      </p>
      <div class="pb-3"></div>
      <p>
        If you do not have the available resources that are required, then you cannot craft the weapon.
        Once you have crafted a weapon, you can equip it anytime by navigating back to the Craftbox and selecting 'equip.'
      </p>
      <div class="pb-3"></div>
      <div class="image-container">
        <img src="./assets/portfolio/images/cyanX/2.jpg" loading="lazy" alt="image" class="image-75" />
      </div>
      <div class="pb-3"></div>

      <h5>Enemies</h5>
      <div class="pb-3"></div>
      <p>
        The enemies of the game are called Nezbots. They are flying robots that guard captured animals and strategic entrance
        points to resources.
      </p>
      <p>
        They are not hostile <b>(blue Nezbot)</b> unless you get too close, in which case they turn hostile <b>(red Nezbot)</b>
        and chase you.
      </p>
      <p>
        They do not stop chasing you until you run far enough, or until you kill them <b>(black Nezbot)</b>.
      </p>
      <div class="pb-3"></div>

      <h5>Levelling Up</h5>
      <div class="pb-3"></div>
      <p>
        The more experience points you collect, the more you are able to level up, therefore unlocking new abilities and weapons
        that you can use to make gameplay easier. There is a maximum of 10 levels in the game. You start at level 1 at the
        beginning of the game.
      </p>
      <div class="pb-3"></div>
      <div class="image-container">
        <img src="./assets/portfolio/images/cyanX/3.jpg" loading="lazy" alt="image" class="image-75">
      </div>
      <div class="pb-3"></div>
      <p>
        Abilities you can unlock include earning more experience points for each animal rescued, strengthened health,
        being able to craft more powerful weapons, being invincible to spikes and becoming an XP magnet (this is when experience
        points float towards you when you get within a reasonable range to them).
      </p>
      
      <br>
      <hr>
      
    </div>
  </div>
</div>