<app-navbar></app-navbar>
<div style="background-color:whitesmoke">
  <!-- Parallax and main heading -->
  <div class="parallax" style="height: 350px;background-image: url('../../../assets/about/header.jpg');">
    <div class="imageTextCollage"><a class="photoCred" style="margin-top: 300px; float: right; position:relative" href="https://unsplash.com/@sorakhan" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Taylor Smith"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Sora Khan</span></a></div>
  </div>
  <div class="parallax" style="height: 150px;">
    <h2 class="main-heading"><span class="heading-border">About</span></h2>
  </div>
  <div class="rows"> 
    <!-- #region Designer -->
    <div class="column-4">
      <div class="item-container card-properties">
        <div class="about-content"> 
          <h2>Designer</h2><br><p class="about-description">I love experimenting with different designs before implementing websites.</p>
        </div>
        <img src="../../assets/about/designer.jpg" alt="img" class="d-block w-full">
      </div>
    </div>
    <!-- #endregion -->
    <!-- #region Software Developer -->
    <div class="column-4">
      <div class="item-container card-properties">
        <div class="about-content"> 
          <h2>Software Developer</h2><br><p class="about-description">I develop games and simple applications that solve problems (Java or C#).</p>
        </div>
        <img src="../../assets/about/developer.jpg" alt="img" class="d-block w-full">
      </div>
    </div>
    <!-- #endregion -->
    <!-- #region Photographer -->
    <div class="column-4">
      <div class="item-container card-properties">
        <div class="about-content"> 
          <h2>Photographer</h2><br><p class="about-description">I take photos as a hobby and edit them in lightroom or VSCO.</p>
        </div>
        <img src="../../assets/about/photography.jpg" alt="img" class="d-block w-full">
      </div>
    </div>
    <!-- #endregion -->
    <!-- #region Traveller -->
    <div class="column-4">
      <div class="item-container card-properties">
        <div class="about-content"> 
          <h2>Traveller</h2><br><p class="about-description">Anytime I have a break, I always take the opportunity to travel somewhere new.</p>
        </div>
        <img src="../../assets/about/traveller.jpg" alt="img" class="d-block w-full">
      </div>
    </div>
    <!-- #endregion -->
  </div>
  <br><br>
</div>
<div class="contact-card">
  <br><br>
  <div style="text-align:center">
      <a href="https://www.instagram.com/vondreii"><img src="../../assets/social/instagram.png" alt="image"/></a><span style="padding:10px"></span>
      <a href="https://www.linkedin.com/in/sharlene-von-drehnen"><img src="../../assets/social/linkedin.png" alt="image"/></a><span style="padding:10px"></span>
      <a href="https://github.com/vondreii"><img src="../../assets/social/github.png" alt="image"/></a><span style="padding:10px"></span>
  </div>
  <br><br>
</div>