/* ****************************** COMMON EFFECTS ****************************** */
/* Parallax effect */
.parallax {background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover}
.photoCred {background-color:black;color:white;text-decoration:none;padding:4px 6px;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px}

h1 {font-family:Helvetica,sans-serif;text-align:center;line-height:50px}
h2, h3 {font-family:Helvetica,sans-serif;text-align:center;line-height:50px}

p, ul, ol, blockquote {font-family:Helvetica,sans-serif;font-size:16pt;line-height:30px}

/* ******************************* COLUMN LAYOUT ******************************* */
.rows { display: flex; flex-wrap: wrap; padding: 0 4px; }
.column-4 { flex: 25%; max-width: 25%; padding: 0 4px; }
.column-4 img { margin-top: 8px; vertical-align: middle; width: 100%; }
@media screen and (max-width: 1200px) and (min-width: 681px) {.column-4 { flex: 50%; max-width: 50%; }}
@media screen and (max-width: 680px) {.column-4 { flex: 100%; max-width: 100%; }}

/* ******************************* ABOUT ******************************* */
.about-content { transition:.5s ease;color:rgb(85, 85, 85); background-color:whitesmoke; font-size: 16px; text-align: center; padding: 30px 25px 40px 25px;}
.about-description {text-align:center}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}


h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color: whitesmoke;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #7e7e7e;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
    width:100%;
	text-align: center;
}


.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

button.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #727272;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #02899C;
}

.skills {
	background-color: #3d3d3d;
	padding: 10px;
    margin-top: 30px;
}

.skills ul {
	text-align: center;
    width:100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #727272;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 5px 5px 0;
	padding: 7px;
}