<!-- If the screen is smaller, show the collapsable navbar -->
<div class="show-navbar">
  <app-navbar></app-navbar>
</div>
<!-- If the screen is bigger, show the header -->
<div class="show-header">
  <app-header></app-header>
</div>
<div class="bg-color">
  <div class="rows"> 
    <!-- Designer -->
    <div class="column-4">
      <div class="about-content first"> 
        <h2>Designer</h2>
        <p>I love experimenting with different designs before implementing websites.</p>
        <img src="../../assets/about/designer.jpg" alt="img">
      </div>
    </div>
    <!-- Software Developer -->
    <div class="column-4">
      <div class="about-content"> 
        <h2>Software Developer</h2>
        <p>I develop games and simple applications that solve problems (Java or C#).</p>
        <img src="../../assets/about/developer.jpg" alt="img">
      </div>
    </div>
    <!-- Photographer -->
    <div class="column-4">
      <div class="about-content"> 
        <h2>Photographer</h2>
        <p>I take photos as a hobby and edit them in lightroom or VSCO.</p>
        <img src="../../assets/about/photography.jpg" alt="img">
      </div>
    </div>
    <!-- Traveller -->
    <div class="column-4">
      <div class="about-content"> 
        <h2>Traveller</h2>
        <p>Anytime I have a break, I always take the opportunity to travel somewhere new.</p>
        <img src="../../assets/about/traveller.jpg" alt="img">
      </div>
    </div>
  </div>
  <br><br>
</div>
<!-- Social links for instagram, linkedIn and Github -->
<app-social></app-social>