<app-navbar></app-navbar>

<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../assets/about/header.jpg');">
    <div class="imageTextCollage"><a class="photoCred" style="margin-top: 300px; float: right" href="https://unsplash.com/@sorakhan?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Sora Khan"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Sora Khan</span></a></div>
</div>
<br><h1><strong>About</strong></h1><br>
<div class="rows">       
    <!-- #region Designer -->
    <div class="column-4">
      <div class="about-content"> 
        <h2><strong>Designer</strong></h2><br><p class="about-description">I love experimenting with different designs before implementing websites.</p>
      </div>
      <br><a class="photoCred" href="https://unsplash.com/@benkolde?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Ben Kolde"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Ben Kolde</span></a>
      <img src="../../assets/about/designer.jpg" alt="image" style="width:100%">
      <br><br><br>
      <div class="spacing"></div>
    </div><br>
    <!-- #endregion -->
    <!-- #region Developer -->
    <div class="column-4">
      <div class="about-content"> 
        <h2><strong>Software Developer</strong></h2><br><p class="about-description">I develop games and simple applications that solve problems (Java or C#).</p>
      </div>
      <br><a class="photoCred" href="https://unsplash.com/@arianismmm?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Arian Darvishi"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Arian Darvishi</span></a>
      <img src="../../assets/about/developer.jpg" alt="image" style="width:100%">
      <br><br><br>
      <div class="spacing"></div>
    </div><br>
    <!-- #endregion -->
    <!-- #region Photographer -->
    <div class="column-4">
      <div class="about-content"> 
        <h2><strong>Photographer</strong></h2><br><p class="about-description">I take photos as a hobby (street and landscape photography) and edit them in lightroom or VSCO.</p>
      </div>
      <br><a class="photoCred" href="https://unsplash.com/@ethanchoover?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Ethan Hoover"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Ethan Hoover</span></a>
      <img src="../../assets/about/photography.jpg" alt="image" style="width:100%">
      <br><br><br>
      <div class="spacing"></div>
    </div><br>
    <!-- #endregion -->
    <!-- #region Traveller -->
    <div class="column-4">
      <div class="about-content"> 
        <h2><strong>Traveller</strong></h2><br><p class="about-description">Anytime I have a break, I always take the opportunity to travel somewhere new.</p>
      </div>
      <br><a class="photoCred" href="https://unsplash.com/@vondreii?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Von Dreii"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Von Dreii</span></a>
      <img src="../../assets/about/traveller.jpg" alt="image" style="width:100%">
      <div class="spacing"></div>
    </div><br>
    <!-- #endregion -->
  </div><br><br> 