<div class="parallax" style="height: 350px; background-image: url('../../assets/projects/cyanX/header.png');"></div>
<br>
<h1><strong>Cyan X</strong></h1><br>
<!-- #region First download link -->
<div class="center-download-container">
  <div class="download cyanX-download">
    <p>Download game<a href="../../assets/downloads/CyanX.zip"> here.</a></p>
    <p>View source code from<a href="https://github.com/vondreii/CyanX"> this repository</a> on Github.</p>
  </div>
</div><br><br>
<!-- endregion -->
<div class="written-content-container">
    <div class="written-content">
        <!-- #region About and Aim --> 
        <p class="subheading"><strong>About the Game</strong></p>
        <p>
            CyanX is a 2D platformer game based in the distant future in a world known as Khandren. Flying robot enemies (also known as 'Nezbots') have captured animals and it is up to you to rescue them. 
            The game consists of different three locations. At each location, you must solve puzzles, level up, craft weapons and defeat the Nezbots in order to reach and rescue the animals.
        </p>
        <br>
        <p class="subheading"><strong>Aim</strong></p>
        <p>
            The aim of the game is to progress to the end of each location by solving puzzles to rescue trapped animals. You can also collect items which you can use to craft weapons (which can get more and more powerful the more you level up). 
            Experience points also allow you to level up and unlock certain abilities.
        </p>
        <br>
        <div class="rows"> 
          <div class="column-3">
            <img src="../../assets/projects/cyanX/gameplay-1.PNG" alt="image" style="width:100%"><br><br><br>
          </div>  
          <div class="column-3">
            <img src="../../assets/projects/cyanX/sandy-area.png" alt="image" style="width:100%"><br><br><br>
          </div>
          <div class="column-3">
            <img src="../../assets/projects/cyanX/gameplay-2.PNG" alt="image" style="width:100%"><br><br><br>
          </div>   
        </div>
        <!-- #endregion -->
        <!-- #region Controls  -->
        <p class="subheading"><strong>Controls</strong></p>
        <table>
          <tr>
            <th>Gameplay</th>
            <th>Control</th>
          </tr>
          <tr>
            <td><b>Walk</b></td>
            <td>Left and right arrow keys, or A and D letter keys</td>
          </tr>
          <tr>
            <td><b>Jump</b></td>
            <td>The space bar</td>
          </tr>
          <tr>
            <td><b>Interact with button</b></td>
            <td>Walk into button. If the button is red, it means you have already pressed it.</td>
          </tr>
          <tr>
            <td><b>Open menu</b></td>
            <td>The M arrow key</td>
          </tr>
          <tr>
            <td><b>Equip weapon</b></td>
            <td>The M arrow key, select 'Craftbox,' followed by the weapon you want to equip </td>
          </tr>
        </table><br><br>
        <!-- #endregion -->
        <!-- #region Main Menu and Locations -->
        <p class="subheading"><strong>Main Menu</strong></p>
        <p>
            The main menu allows you to open the Craftbox, where you can craft weapons based on what items you have collected. You can also view what level you are currently on (from level 1 to 10).
        </p>
        <br>
        <p class="subheading"><strong>Locations</strong></p>
        <p>
            The concept design for this game included more than three locations. This game consists of three:
        </p>
        <br>
        <table>
          <tr>
            <th>Location</th>
            <th>Description</th>
          </tr>
          <tr>
            <td><b>Sandenko</b></td>
            <td>This level is desert themed and consists of sandy dunes.</td>
          </tr>
          <tr>
            <td><b>Cypro</b></td>
            <td>This level is situated in the forest region and consists of trees, grassy plains and green hills.</td>
          </tr>
          <tr>
            <td><b>Icerun</b></td>
            <td>This level is situated in the icy north region and consists of mountains, snow and icy platforms.</td>
          </tr>
        </table>
        <br>
        <div class="rows"> 
          <div class="column-2">
            <img src="../../assets/projects/cyanX/khandren-map.jpg" alt="image" style="width:100%"><br><br><br>
          </div>
          <div class="column-2">
            <img src="../../assets/projects/cyanX/game-on-computer.jpg" alt="image" style="width:100%"><br><br><br>
          </div>  
        </div><br>
        <!-- #endregion -->
        <!-- #region Collectables -->
        <p class="subheading"><strong>Collectables</strong></p>
        <p>
          To be able to craft weapons, you have to collect certain resources, which are scattered throughout each location. Some resources can craft more powerful weapons than others. Wood is the least powerful, and Ruby is the most powerful.
        </p>
        <ol>
          <li>Wood</li>
          <li>Stone</li>
          <li>Steel</li>
          <li>Blue Diamond</li>
          <li>Ruby</li>
        </ol>
        <p>
          In addition to resources, you can also collect:
        </p>
        <ul>
          <li><b>Stars:</b> You can collect experience points (yellow stars) which add up to your progress. After collecting a certain number of stars, you can progress to the next level.</li>
          <li><b>Apples:</b> Apples will increase your health by one (this only works if you do not have 100% life).</li>
        </ul>
        <br><img src="../../assets/projects/cyanX/collectable.png" alt="image" style="width:100%"><br><br>
        <!-- #endregion -->
        <!-- #region Crafting Weapons and enemies -->
        <p class="subheading"><strong>Crafting Weapons</strong></p>
        <p>
          Using collected resources, you can open the Craftbox and craft weapons. The more powerful the resource, the more powerful the weapon. The top of the Craftbox shows a list of all resources, and the number you have collected for each. 
          Below that is a list of weapons available to craft along with the number and types of resources you need in order to craft it.
        </p>
        <p>
          If you do not have the available resources that are required, then you cannot craft the weapon. 
          Once you have crafted a weapon, you can equip it anytime by navigating back to the Craftbox and selecting 'equip.'
        </p>
        <br>
        <div class="rows"> 
          <div class="column-3">
            <img src="../../assets/projects/cyanX/weapons.png" alt="image" style="width:100%"><br><br>
          </div>
          <div class="column-3">
            <img src="../../assets/projects/cyanX/craftbox.PNG" alt="image" style="width:100%"><br><br>
          </div>
          <div class="column-3">
            <img src="../../assets/projects/cyanX/netbotz-states.png" alt="image" style="width:100%">
          </div>  
        </div><br>
        <p class="subheading"><strong>Enemies</strong></p>
        <p>
            The enemies of the game are called Nezbots. They are flying robots that guard captured animals and strategic entrance points to resources. 
            They are not hostile <b>(blue Nezbot)</b> unless you get too close, in which case they turn hostile <b>(red Nezbot)</b> and chase you. 
            They do not stop chasing you until you run far enough, or until you kill them <b>(black Nezbot)</b>.
        </p>
        <br>
        <!-- #endregion -->
        <!-- #region Levelling up written content -->
        <p class="subheading"><strong>Levelling Up</strong></p>
        <p>
            The more experience points you collect, the more you are able to level up, therefore unlocking new abilities and weapons that you can use to make gameplay easier. There is a maximum of 10 levels in the game. You start at level 1 at the beginning of the game.
        </p>
        <br>
        <div class="rows"> 
          <div class="column-2">
            <img src="../../assets/projects/cyanX/level-up.png" alt="image" style="width:100%"><br><br>
          </div>
          <div class="column-2">
            <img src="../../assets/projects/cyanX/spike.png" alt="image" style="width:100%">
          </div>  
        </div><br>
        <p>
            Abilities you can unlock include earning more experience points for each animal rescued, strengthened health, 
            being able to craft more powerful weapons, being invincible to spikes and becoming an XP magnet (this is when experience points float towards you when you get within a reasonable range to them).
        </p>
        <br>
        <!-- #endregion -->
        <!-- #region Assets Artwork -->
        <p class="subheading"><strong>Assets Artwork</strong></p>
        <p>
            Level 1 contains platforms that are sand-themed, as the level design is situated in a desert. 
            Level 2 contains a grassy plain with platforms that are grass-themed. 
            Level 3 contains platforms that are ice-themed, as the level design is situated in an icy and snowy environment such as a mountain.
        </p>
        <br>
        <div class="rows"> 
          <div class="column-2">
            <img src="../../assets/projects/cyanX/platforms-design-1-3.png" alt="image" style="width:100%"><br><br>
          </div>
          <div class="column-2">
            <img src="../../assets/projects/cyanX/platforms-design-2.png" alt="image" style="width:100%">
          </div>  
        </div><br><br>
        <p class="subheading"><strong>Background Artwork</strong></p>
        <br>
        <div class="rows"> 
          <div class="column-2">
            <img src="../../assets/projects/cyanX/mountain-background.png" alt="image" style="width:100%"><br><br><br>
          </div>
          <div class="column-2">
            <img src="../../assets/projects/cyanX/sandy-area.png" alt="image" style="width:100%"><br><br><br>
          </div>  
        </div>
        <div class="rows"> 
          <div class="column-2">
            <img src="../../assets/projects/cyanX/green-hills.png" alt="image" style="width:100%"><br><br><br>
          </div>  
        </div><br>
    </div>   
    <div class="center-download-container">
      <div class="download cyanX-download">
        <p>Download game<a href="../../assets/downloads/CyanX.zip"> here.</a></p>
        <p>View source code from<a href="https://github.com/vondreii/CyanX"> this repository</a> on Github.</p>
      </div>
    </div><br><br>
    <br><br> 
</div>
