<div class="content pb-5 project">
  <div class="pt-3 pb-5 extra-padding">
    <h1>Netflix Clone</h1>
    <br>
    <h5>Clone • React • Firebase</h5>
    <hr>

    <div class="article">
      <p>
        Following <a class="cyanLink" href="https://www.youtube.com/watch?v=XtMThy8QKqU">this</a> tutorial from Youtube,
        I was able to build a clone of Netflix that pulls a list of movies using The Movie Database API, and display 
        them in the style of the Netflix Home Page. The tutorial was just over 3 hours long, but I spent a few 
        afternoons splitting up the content so I could learn the content better. The Netflix Clone is hosted live 
        using Firebase. You can visit it <a class="cyanLink" href="https://js-netflix-clone.web.app/">here</a>.
      </p>
      <div class="image-container">
        <img src="./assets/portfolio/images/netflixClone/1.jpg" loading="lazy" alt="image" class="image-75">
      </div>
      <div class="pb-3"></div>
      <ul>
        <li>
          <a class="cyanLink" href="https://github.com/vondreii/js-netflix-clone">View GitHub Repository</a>
        </li>
        <li>
          <a class="cyanLink" href="https://js-netflix-clone.web.app/">Visit the Netflix Clone website</a>
        </li>
      </ul>
      <div class="pb-3"></div>

      <h5>Background</h5>
      <div class="pb-3"></div>
      <p>
        I wanted to learn some of the basics of React. The tutorial explained some of the key fundamentals of React 
        and put them into practice by making an app that was fun and well-known to everyone.
      </p>
      <div class="pb-3"></div>

      <h5>Tech Stack</h5>
      <div class="pb-3"></div>
      <ul>
        <li>React</li>
        <li>Firebase (for Hosting)</li>
      </ul>

      <br>
      <hr>

    </div>
  </div>
</div>