<footer>
    <div class="social-footer">
      <!-- Github -->
      <a class="button-square button-social hint--top" data-hint="Github" title="Github" href="https://github.com/vondreii" rel="me">
        <i class="fa fa-github-alt"></i>
      </a>
      <!-- LinkedIn -->
      <a class="button-square button-social hint--top" data-hint="LinkedIn" title="LinkedIn" href="https://www.linkedin.com/in/sharlene-von-drehnen" rel="me">
        <i class="fa fa-linkedin"></i>
      </a>
      <!-- About/Contact -->
      <a class="button-square button-social hint--top" data-hint="Email" title="Email" routerLink="about">
        <i class="fa fa-envelope"></i>
      </a>
    </div>
    <br>
    <!-- Copyright -->
    <div class="copy">
      <p>&copy; 2020 Copyright <strong>SVD</strong> | LAST MODIFIED <strong>08/06/2020</strong></p>
    </div>
</footer>
