<nav>
  <div class="navbar navbar-expand-md navbar-light bg-light" style="background-color:white">
    <!-- Main Vondreii Logo -->
    <a routerLink="/webdev">VONDREII</a>
    <!-- Hamburger menu for when navbar is collapsed -->
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Content within the navbar -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav" style="text-align:center;">
            <!-- The ' | ' line -->
            <div class="separator-vertical">
              <a href="#" class="nav-item nav-link disabled" style="color:grey">|</a>
            </div>
            <!-- Links -->
            <a routerLink="/webdev">WEB DEV</a>
            <a routerLink="/coding">CODING</a>
            <a routerLink="/students">FOR STUDENTS</a>
            <a routerLink="/projects">PROJECTS</a>
            <a routerLink="/about">ABOUT</a>
        </div>
    </div>
  </div>
</nav>


