<!-- Bootstrap navbar -->
<nav>
  <div class="navbar navbar-expand-md navbar-light">
    <!-- Vondreii Logo -->
    <a routerLink="/webdev">VONDREII</a>
    <!-- Hamburger button -->
    <button type="button" class="navbar-toggler hamburger" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon hamburger"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav center">
            <!-- The ' | ' line -->
            <div class="separator-vertical">
              <a href="#" class="nav-item nav-link disabled" style="color:grey">|</a>
            </div>
            <!-- Links -->
            <a routerLink="/webdev">WEB DEV</a>
            <a routerLink="/coding">CODING</a>
            <a routerLink="/students">FOR STUDENTS</a>
            <a routerLink="/projects">PROJECTS</a>
            <a routerLink="/about">ABOUT</a>
        </div>
    </div>
  </div>
</nav>