<div class="navigation">
  <nav id="navbar" class="navbar navbar-expand-md navbar-light bg-lignt" style="background-color:white">
    <a routerLink="" class="navbar-brand">VONDREII</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav" style="text-align:center;">
            <!-- Blog Links -->
            <div class="blog-link">
              <a routerLink="/blog" class="nav-item nav-link active">Blog</a>
            </div>
            <div class="hide-links">
              <a routerLink="/blog/organisation" class="nav-item nav-link">Organisation</a>
            </div>
            <div class="hide-links">
              <a routerLink="/blog/resumes" class="nav-item nav-link something">Resumes</a>
            </div>
            <div class="hide-links">
              <a routerLink="/blog/uni" class="nav-item nav-link">Uni</a>
            </div>
            <div class="hide-links">
              <a routerLink="/blog/websites" class="nav-item nav-link something">Websites</a>
            </div>
            <!-- Separaters -->
            <div class="separator-vertical">
              <a href="#" class="nav-item nav-link disabled" style="color:grey">|</a>
            </div>
            <div class="separator-horizontal">
              <a href="#" class="nav-item nav-link disabled" style="color:grey">__________________</a>
            </div>
            <!-- Photography and Projects -->
            <a routerLink="/projects" class="nav-item nav-link">Projects</a>
            <a routerLink="/photography/main" class="nav-item nav-link">Photography</a>
            <!-- Separaters -->
            <div class="separator-vertical">
              <a href="#" class="nav-item nav-link disabled" style="color:grey">|</a>
            </div>
            <div class="separator-horizontal">
              <a href="#" class="nav-item nav-link disabled" style="color:grey">__________________</a>
            </div>
            <!-- About and Contact -->
            <a routerLink="/about" class="nav-item nav-link">About</a>
            <a routerLink="/contact">Contact</a>
        </div>
    </div>
  </nav>
</div>


