/* Styling for the navbar component */
nav {
  /* background-image:url('../../../assets/articles/header-original.jpg'); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../assets/header.jpg');
  background-size:cover;background-position:center;height:20vh;background-attachment:fixed
}
.hamburger {
  background-color:grey
}
nav a {
  display:inline-block;margin-left:10px
}
nav a:link,
nav a:visited {
  padding:8px 8px;color:#fff;transition:border-bottom 0.2s;text-decoration:none;text-transform:uppercase;font-size:90%
}
nav a:hover,
nav a:active {
  color: lightgrey
}

/* Medium devices (ipads) #3 */
@media screen and (min-width:767px) and (max-width:900px) {
  nav {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../assets/header.jpg');
    padding-top:30px;height:20vh
  }
  #navbarCollapse {
    background-color:transparent
  }
  .separator-vertical {
    display:block
  }
} 

/* Smallest screens (phones) */
@media screen and (max-width:766px) {
  nav {
    background:none;background-color:#272727;height:auto;position:fixed;width:100%;z-index:99;padding-bottom:10px
  }
  .separator-vertical {
    display:none
  }
  nav a {
    padding:8px;margin-bottom:2px;border-bottom:none;
  }
  nav a:link, nav a:visited {
    border-bottom:none;
  }
  nav a:hover, nav a:active {
    border-bottom:none;color:lightgrey
  }
}