<header>
    <div class="maxwidth">
        <!-- Temporary logo -->
        <!-- <img src="../../../assets/logos/angular.png" alt="img" class="logo"> -->
        <!-- Links -->
        <ul class="main-nav">
            <li><a routerLink="/webdev">Web Development</a></li>
            <li><a routerLink="/coding">Coding</a></li>
            <li><a routerLink="/students">For Students</a></li>
            <li><a routerLink="/projects">Projects</a></li>
            <li><a routerLink="/about">About</a></li>
        </ul>
    </div>
</header>