<!-- If the screen is smaller, show the collapsable navbar -->
<div class="show-navbar">
  <app-navbar></app-navbar>
</div>
<!-- If the screen is bigger, show the header -->
<div class="show-header">
  <app-header></app-header>
</div>
<section class="bg-color">
  <div class="search-container">
    <!-- Search input box -->
    <div class="searchbar hero-text-box">
      <input type="text" id="myInput" (keyup)="searchbar()" placeholder="Search Posts for Students (by title, topic, year..)" title="SearchBar"><br><br>
    </div>
    <div class="container">
      <br><br>
      <div id="myUL">
        <!-- For each post -->
        <article *ngFor="let i of postArray">
          <!-- Display it, if it is the correct category -->
          <section class="card" [ngStyle]="{'background-image': 'url(' + getURL(i) + ')'}">
            <div class="padding">
              <!-- Tags on the top-right corner -->
              <div class="tags">
                <div class="tag">{{tags[i]}}</div>
              </div>
              <!-- Article information -->
              <h1>{{titles[i]}}</h1>
              <div class="date">{{dates[i]}}</div>
              <p>Something something something…</p>
              <div class="read-more-project-button-container">
                <a routerLink="{{links[i]}}" class="button read-more-button second-button">Read More >></a>
              </div>
            </div>
          </section>
        </article>
      </div>
    </div>
    <br><br>
  </div>
  <br><br>
</section>