<div class="content pb-5 project">
  <div class="pt-3 pb-5 extra-padding">
    <h1>Calculator</h1>
    <br>
    <h5>C# • Tools</h5>
    <hr>

    <div class="article">
      <p>This is a simple calculator app that was made to replicate modern calculator apps that can be seen on smartphones.</p>
      <div class="image-container">
        <img src="./assets/portfolio/images/calculator/1.jpg" loading="lazy" alt="image" class="image-75">
      </div>
      <div class="pb-3"></div>
      <ul>
        <li>
          <a class="cyanLink" href="https://github.com/vondreii/calculator">View GitHub Repository</a>
        </li>
        <li>
          <a class="cyanLink" href="./assets/portfolio/downloads/calculator.zip">Download Calculator App</a>
        </li>
      </ul>
      <div class="pb-3"></div>
    
      <h5>Background</h5>
      <div class="pb-3"></div>
      <p>This was made in my spare time while I was studying at the University of Newcastle, NSW, Australia.</p>
      <div class="pb-3"></div>
    
      <h5>Tech Stack</h5>
      <div class="pb-3"></div>
      <ul>
        <li>Visual Studio Windows Forms</li>
        <li>C#</li>
      </ul>

      <br>
      <hr>

    </div>
  </div>
</div>
