<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 400px; background-image: url('../../assets/photography/header.jpg');">
    <div class="imageTextCollage"><a class="photoCred" style="margin-top: 200px; float: right" href="https://unsplash.com/@radel?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Marco Bonomo"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Marco Bonomo</span></a></div>
</div>
<!-- #endregion -->
<br><h1><strong>Photography</strong></h1><br>
<!-- #region List of places -->
<div class="rows">
    <!-- #region Blue Mountains  -->
    <div class="column-3"><div class="card">
        <img src="../../assets/photography/blue-mountains/three-sisters-lookout-cropped.JPG" alt="image" style="width:100%">
      <div class="card-container">
        <br>
        <h2><strong>Blue Mountains</strong></h2><br>
        <div class="read-more-container"><a routerLink="/photography/blue" class="button read-more-button">V I E W</a></div>
      </div>
    </div></div><br><br>
    <!-- #endregion -->
    <!-- #region Central Coast  -->
    <div class="column-3"><div class="card">
      <img src="../../assets/photography/central-coast/long-jetty-cropped.jpg" alt="image" style="width:100%">
      <div class="card-container">
        <br>
        <h2><strong>Central Coast</strong></h2><br>
        <div class="read-more-container"><a href="central-coast.html" class="button read-more-button">V I E W</a></div>
      </div>
    </div></div><br><br>
    <!-- #endregion -->
    <!-- #region Hobart -->
    <div class="column-3"><div class="card">
      <img src="../../assets/photography/hobart/hobart-street.jpg" alt="image" style="width:100%">
      <div class="card-container">
        <br>
        <h2><strong>Hobart</strong></h2><br>
        <div class="read-more-container"><a href="hobart.html" class="button read-more-button">V I E W</a></div>
      </div>
    </div></div><br><br>
    <!-- #endregion -->
    <!-- #region Hunter Valley -->
    <div class="column-3"><div class="card">
      <img src="../../assets/photography/hunter-valley/waterfall.jpg" alt="image" style="width:100%">
      <div class="card-container">
        <br>
        <h2><strong>Hunter Valley</strong></h2><br>
        <div class="read-more-container"><a href="hunter-valley.html" class="button read-more-button">V I E W</a></div>
      </div>
    </div></div><br><br>
    <!-- #endregion -->
    <!-- #region Melbourne -->
    <div class="column-3"><div class="card">
      <img src="../../assets/photography/melbourne/melbourne-street.jpg" alt="image" style="width:100%">
      <div class="card-container">
        <br>
        <h2><strong>Melbourne</strong></h2><br>
        <div class="read-more-container"><a href="melbourne.html" class="button read-more-button">V I E W</a></div>
      </div>
    </div></div><br><br>
    <!-- #endregion -->
    <!-- #region Newcastle -->
    <div class="column-3"><div class="card">
      <img src="../../assets/photography/newcastle/train-tracks-cropped.jpg" alt="image" style="width:100%">
      <div class="card-container">
        <br>
        <h2><strong>Newcastle</strong></h2><br>
        <div class="read-more-container"><a href="newcastle.html" class="button read-more-button">V I E W</a></div>
      </div>
    </div></div><br><br>
    <!-- #endregion -->
    <!-- #region Sydney -->
    <div class="column-3"><div class="card">
      <img src="../../assets/photography/sydney/sydney-bridge-cropped.jpg" alt="image" style="width:100%">
      <div class="card-container">
        <br>
        <h2><strong>Sydney</strong></h2><br>
        <div class="read-more-container"><a href="sydney.html" class="button read-more-button">V I E W</a></div>
      </div>
    </div></div><br><br>
    <!-- #endregion -->
    <!-- #region Manila -->
    <div class="column-3"><div class="card">
      <img src="../../assets/photography/manila/overpass-1-cropped.JPG" alt="image" style="width:100%">
      <div class="card-container">
        <br>
        <h2><strong>Manila</strong></h2><br>
        <div class="read-more-container"><a href="manila.html" class="button read-more-button">V I E W</a></div>
      </div>
    </div></div><br><br>
    <!-- #endregion -->
    <!-- #region Rural Philippines -->
    <div class="column-3"><div class="card">
      <img src="../../assets/photography/rural-philippines/corn-fields-cropped.JPG" alt="image" style="width:100%">
      <div class="card-container">
        <br>
        <h2><strong>Rural Philippines</strong></h2><br>
        <div class="read-more-container"><a href="rural-philippines.html" class="button read-more-button">V I E W</a></div>
      </div>
    </div></div><br><br>
    <!-- #endregion -->
  </div>
  <br><br>