<div class="navigation">
  <nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark">
    <a routerLink="" class="navbar-brand">VONDREII</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav" style="text-align:center">
            <!-- Blog Links -->
            <div class="blog-link">
              <a routerLink="blog/main" class="nav-item nav-link active">Blog</a>
            </div>
            <div class="hide-links">
              <a routerLink="blog/minimalism/main" class="nav-item nav-link active">Minimalism</a>
            </div>
            <div class="hide-links">
              <a routerLink="blog/organisation/main" class="nav-item nav-link">Organisation</a>
            </div>
            <div class="hide-links">
              <a routerLink="blog/uni/main" class="nav-item nav-link">Uni</a>
            </div>
            <div class="hide-links">
              <a routerLink="blog/website/main" class="nav-item nav-link something">Websites</a>
            </div>
            <div class="hide-links">
              <a routerLink="blog/wellbeing/main" class="nav-item nav-link something">Wellbeing</a>
            </div>
            <!-- Separaters -->
            <div class="separator-vertical">
              <a href="#" class="nav-item nav-link disabled" style="color:grey">|</a>
            </div>
            <div class="separator-horizontal">
              <a href="#" class="nav-item nav-link disabled" style="color:grey">__________________</a>
            </div>
            <!-- Photography and Projects -->
            <a routerLink="projects/main" class="nav-item nav-link">Projects</a>
            <a routerLink="photography/main" class="nav-item nav-link">Photography</a>
            <!-- Separaters -->
            <div class="separator-vertical">
              <a href="#" class="nav-item nav-link disabled" style="color:grey">|</a>
            </div>
            <div class="separator-horizontal">
              <a href="#" class="nav-item nav-link disabled" style="color:grey">__________________</a>
            </div>
            <!-- About and Contact -->
            <a routerLink="about" class="nav-item nav-link">About</a>
            <a routerLink="contact">Contact</a>
            <div class="social-links">
              <a href="https://github.com/vondreii" class="button-square button-social hint--top" data-hint="Github" title="Github" rel="me"><i class="fa fa-github-alt"></i></a>
              <a href="https://www.linkedin.com/in/sharlene-von-drehnen" class="button-square button-social hint--top" data-hint="LinkedIn" title="LinkedIn" rel="me"><i class="fa fa-linkedin"></i></a>
              <a routerLink="contact" class="button-square button-social hint--top" data-hint="Email" title="Email"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
    </div>
  </nav>
</div>


