<div class="navigation">
  <nav class="navbar navbar-inverse" id="header">
    <div class="container-fluid">
      
    </div>
  </nav>
  <nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark">
    <a routerLink="" class="navbar-brand">VONDREII</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav" style="text-align:center">
            <div class="blog-link">
              <a href="#" class="nav-item nav-link active">Blog</a>
            </div>
            <div class="hide-links">
              <a href="#" class="nav-item nav-link active">Minimalism</a>
            </div>
            <div class="hide-links">
              <a href="#" class="nav-item nav-link">Organisation</a>
            </div>
            <div class="hide-links">
              <a href="#" class="nav-item nav-link">Uni</a>
            </div>
            <div class="hide-links">
              <a href="#" class="nav-item nav-link something">Websites</a>
            </div>
            <div class="hide-links">
              <a href="#" class="nav-item nav-link something">Wellbeing</a>
            </div>
            <div class="separator-vertical">
              <a href="#" class="nav-item nav-link disabled" style="color:grey">|</a>
            </div>
            <div class="separator-horizontal">
              <a href="#" class="nav-item nav-link disabled" style="color:grey">__________________</a>
            </div>
              <a href="#" class="nav-item nav-link">Projects</a>
              <a href="#" class="nav-item nav-link">Photography</a>
            <div class="separator-vertical">
              <a href="#" class="nav-item nav-link disabled" style="color:grey">|</a>
            </div>
            <div class="separator-horizontal">
              <a href="#" class="nav-item nav-link disabled" style="color:grey">__________________</a>
            </div>
            <a href="#" class="nav-item nav-link">About</a>
            <a routerLink="contact">Contact</a>
            <div class="social-links">
              <a class="button-square button-social hint--top" data-hint="Github" title="Github" href="https://github.com/vondreii" rel="me"><i class="fa fa-github-alt"></i></a>
              <a class="button-square button-social hint--top" data-hint="LinkedIn" title="LinkedIn" href="https://www.linkedin.com/in/sharlene-von-drehnen" rel="me"><i class="fa fa-linkedin"></i></a>
              <a class="button-square button-social hint--top" data-hint="Email" title="Email" href="../contact/contact.html"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
    </div>
  </nav>
</div>


