<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../../assets/blog/wellbeing/making-life-goals/header.jpg');">
  <div class="imageTextCollage"><a class="photoCred" style="margin-top: 300px; float: right;" href="https://unsplash.com/@lightrisephotography" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Igor Miske"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Devon Divine</span></a></div>
</div>
<div class="content">
    <div class="blog-layout">
      <!-- #region Tags -->
      <div class="card">
        <div class="tags" style="text-align:center">
          <div class="tag"> Tags: </div>
          <div class="tag"><p>#Organisation</p></div>
          <div class="tag"><p>#Self Development</p></div>
          <div class="tag"><p>#Time</p></div>
          <div class="tag"><p>#Productivity</p></div>
          <div class="tag"><p>#Moment</p></div>
        </div>
      </div>
      <!-- #endregion -->
      <div class="leftcolumn">
        <div class="written-content-container">
          <!-- #region Written content -->
          <div class="written-content">
            <br><br><h1><strong>Making Life Goals</strong></h1>
            <br>
            <br><br><br><br>  
            <p>Coming Soon!</p>
            <br><br><br><br> 
            <p></p>
            <br><br><br><br>   
            <p></p>
            <br><br><br><br>   
            <p></p>
            <br><br><br><br>   
            <p></p>
            <br><br><br><br>   
            <p></p>
            <br><br><br><br>     
            <h4 class="blog-date">1 January 2020</h4>
            <h6 class="blog-date">By <a href="https://www.instagram.com/vondreii/?hl=en">@Vondreii</a></h6><br><br>
          </div>
          <!-- #endregion -->
          <!-- #region Tags -->
          <div class="tags">
            <div class="tag"> Tags: </div>
            <div class="tag"><p>#Organisation</p></div>
            <div class="tag"><p>#Self Development</p></div>
            <div class="tag"><p>#Time</p></div>
            <div class="tag"><p>#Productivity</p></div>
            <div class="tag"><p>#Moment</p></div>
          </div>
          <!-- #endregion -->
        </div>
      </div>
      <div class="rightcolumn" id="sticky-right-col">
        <!-- #region Ad -->
        <div class="card">
          <br><div style="height:300px;background-image:url('../../assets/about/designer.jpg');background-size:cover;"></div><br>
        </div>
        <!-- #endregion -->
      </div>
    </div>            
    <!-- #region Follow Me -->
    <div class="card">
      <br><h3 class="sidebar-bottom-headings">FOLLOW ME</h3><h5 class="fadedText">__________________</h5><br>
      <div style="text-align:center">
        <a href="https://www.instagram.com/vondreii"><img src="../../../assets/social/instagram.png" alt="image"/></a><span style="padding:10px"></span>
        <a href="https://www.linkedin.com/in/sharlene-von-drehnen"><img src="../../../assets/social/linkedin.png" alt="image"/></a><span style="padding:10px"></span>
        <a href="https://github.com/vondreii"><img src="../../../assets/social/github.png" alt="image" /></a><span style="padding:10px"></span>
      </div>
      <br><br>
    </div>
    <!-- #endregion -->
    <!-- #region More Like This -->
    <br><br><h3 class="sidebar-bottom-headings">MORE LIKE THIS</h3><br><h5 class="fadedText">__________________</h5><br>
    <div class="rows">
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/minimalism/things-you-can-declutter/mini-preview.jpg" alt="image" style="width:100%">
        <div class="card-container">
          <br><h2><strong>60+ Things You Can Declutter Right Now</strong></h2><h4>12 May 2020</h4><br>
          <p>Decluttering helps us organise the things around us and can also help improve our overall wellbeing. Everyone can benefit from decluttering, and it's interesting to see how many things are lying around that...</p>
          <p style="text-align:center"><a href="/blog/minimalism/things-you-can-declutter-right-now">Read More >></a></p>
        </div>
      </div></div><br><br>
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/organisation/organise-web-browsing/mini-preview.jpg" alt="image" style="width:100%"> 
        <div class="card-container">
          <br><h2><strong>How To Organise Your Web Browsing</strong></h2><h4>19 May 2020</h4><br>
          <!-- <p>Description... </p> -->
          <p style="text-align:center"><a href="/blog/organisation/how-to-organise-your-web-browsing">Read More >></a></p>
        </div>
      </div></div><br><br>
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/organisation/how-to-be-better-organised/mini-preview.jpg" alt="image" style="width:100%"> 
        <div class="card-container">
          <br><h2><strong>24 Ways To Be More Organised</strong></h2><h4>19 May 2020</h4><br>
          <p>There's a lot of people who admit that they would like to be more organised. Unfortunately, being fully organised in most aspects of life is a habit that takes time to build (it doesn't happen overnight!). That being said - it is...</p>
          <p style="text-align:center"><a href="/blog/organisation/ways-to-be-more-organised">Read More >></a></p>
        </div>
      </div></div><br><br>
    </div>
    <!-- #endregion  -->
  </div>
