<!-- Social links for instagram, linkedIn and Github -->
<div class="contact-card">
    <br><br>
    <div class="center">
        <!-- Instagram -->
        <a href="https://www.instagram.com/vondreii">
            <img src="../../assets/social/instagram.png" alt="image"/>
        </a>
        <span class="space-between-links"></span>
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/sharlene-von-drehnen">
            <img src="../../assets/social/linkedin.png" alt="image"/>
        </a>
        <span class="space-between-links"></span>
        <!-- Github -->
        <a href="https://github.com/vondreii">
            <img src="../../assets/social/github.png" alt="image"/>
        </a>
        <span class="space-between-links"></span>
    </div>
    <br><br>
</div>