<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../assets/photography/blue-mountains/blue-mountains-header-cropped2.png');">
    <div class="imageTextCollage">
      <br><br>
      <h3 class="sidebar-bottom-headings"><b>BLUE MOUNTAINS</b></h3><h3><b>▼</b></h3>
    </div>
  </div>
  <br>
  <div class="rows"> 
    <div class="column-4">
      <img src="../../assets/photography/blue-mountains/katoomba-station2.jpg" alt="image">
      <img src="../../assets/photography/blue-mountains/lithgow-station.jpg" alt="image">
    </div>
    <div class="column-4">
      <img src="../../assets/photography/blue-mountains/path-2.jpg" alt="image">
      <img src="../../assets/photography/blue-mountains/mountain-lookout.jpg" alt="image">
    </div>
    <div class="column-4">
      <img src="../../assets/photography/blue-mountains/three-sisters-lookout.JPG" alt="image">
      <img src="../../assets/photography/blue-mountains/records.jpg" alt="image">
      <img src="../../assets/photography/blue-mountains/path.jpg" alt="image">
    </div>
    <div class="column-4">
      <img src="../../assets/photography/blue-mountains/three-sisters.jpg" alt="image">
      <img src="../../assets/photography/blue-mountains/leura-falls.JPG" alt="image">
    </div>
  </div>
  <br><br>
  <!-- #endregion -->
  <!-- #region More Like this -->
  <div class="more-like-this">
    <br><h3 class="sidebar-bottom-headings">MORE LIKE THIS</h3><br>
    <div class="photography-list">
      <a href="central-coast.html">
        <div class="photography-list-image" style="background-image: url('../../assets/photography/central-coast/long-jetty-cropped.jpg')"><div class="destination-text">Central Coast</div></div>
      </a>
      <div class="spacing"></div>
      <a href="hobart.html">
        <div class="photography-list-image" style="background-image: url('../../assets/photography/hobart/hobart-street.jpg')"><div class="destination-text">Hobart</div></div>
      </a>
      <div class="spacing"></div>
    </div>
  </div>