/* ****************************** COMMON EFFECTS ****************************** */
/* Parallax effect */
.parallax {background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover}
.photoCred {background-color:black;color:white;text-decoration:none;padding:4px 6px;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px}

h1 {font-family:Helvetica,sans-serif;text-align:center;line-height:50px}
h2, h3 {font-family:Helvetica,sans-serif;text-align:center;line-height:50px}

.spacing {padding-bottom:15px;}

/* ****************************** HEADINGS EFFECTS ****************************** */
.imageTextCollage { padding: 150px 20px; color:white }
.sidebar-bottom-headings {font-family:Helvetica,sans-serif;text-align:center;line-height:50px;letter-spacing:3px}

/* ******************************* COLUMN LAYOUT ******************************* */
.rows { display: flex; flex-wrap: wrap; padding: 0 4px; }
.column-4 { flex: 25%; max-width: 25%; padding: 0 4px; }
.column-4 img { margin-top: 8px; vertical-align: middle; width: 100%; }
@media screen and (max-width: 1200px) and (min-width: 681px) {.column-4 { flex: 50%; max-width: 50%; }}
@media screen and (max-width: 680px) {.column-4 { flex: 100%; max-width: 100%; }}

/* ******************************* PHOTOGRAPHY ******************************* */
/* Images for photography list in photography-main */
.photography-list {text-align:center}
.photography-list-image { background-size: cover; background-repeat: no-repeat; background-position: center; width: 90%; display: inline-block; }
.destination-text { color: white; text-align: center; font-size: 10px; background-color: rgba(0,0,0,0.5); font-size: 40px; padding: 100px 42px;}
/* More like this section */
.more-like-this { height: 750px; background-color:lightgrey; color:grey; font-size:36px }