<!-- If the screen is smaller, show the collapsable navbar -->
<div class="show-navbar">
  <app-navbar></app-navbar>
</div>
<!-- If the screen is bigger, show the header -->
<div class="show-header">
  <app-header></app-header>
</div>
<section class="bg-color">
  <div class="container search-container">
    <!-- Search input box -->
    <input type="text" id="myInput" (keyup)="searchbar()" placeholder="Search Web Dev posts (by title, language, year..)" title="SearchBar">
    <!-- List of all posts -->
    <div id="myUL">
      <article *ngFor="let i of postArray">
        <!-- display each article card with it's own background image  -->
        <section class="card" [ngStyle]="{'background-image': 'url(' + getURL(i) + ')'}">
          <div class="padding">
            <!-- Tags on the top-right corner -->
            <div class="tags">
              <div class="tag">{{tags[i]}}</div>
            </div>
            <!-- Article information -->
            <h1>{{titles[i]}}</h1>
            <div class="date">{{dates[i]}}</div>
            <p>Something something something…</p>
            <div class="read-more-project-button-container">
              <a routerLink="{{links[i]}}" class="button read-more-button second-button">Read More >></a>
            </div>
          </div>
        </section>
        <!-- End of article -->
      </article>
    </div>
    <!-- Loop of posts - https://codepen.io/MattRuddick/pen/xaZXgE -->
    <!-- <div class="card-columns" style="color:black">
      <div class="card" *ngFor="let i of postArray">
        <h1>HTML Syntax</h1>
        <img class="card-img-top" src={{images[i]}} alt="img">
        <h1>HTML Syntax</h1>
        <div class="padding">
          <div class="tags">
            <div class="tag">{{tags[i]}}</div>
          </div>
          <h1>{{titles[i]}}</h1>
          <div class="date">{{dates[i]}}</div>
          <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
          <div class="read-more-project-button-container">
            <a routerLink="{{links[i]}}" class="button read-more-button second-button">Read More >></a>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>

<!-- https://codepen.io/Booligoosh/pen/mKPpQp -->