.box { 
	margin:2rem auto 2rem auto;padding:30px 25px 60px 25px;box-shadow:0 2px 5px 0 rgba(0,0,0,0.15);font-size:16px;background-color:#2e3741;color:#D3D5D9;border-radius:5px
}
.box h2 {
	margin-bottom:1rem;background-color:#2e3741
}
.box h5 {
  background-color:#252729
}
.box div {
	background-color:#2e3741
}
.box a {
	text-decoration:none;color:#D3D5D9;transition: ease 0.3s;background-color:#2e3741
}
.box a:hover {
	text-decoration:none;color:#0CDBB3
}
.form {
	
}