<br><h1><strong>Contact</strong></h1><br>
<!-- #region Form -->
<div class="form">
<p class="paragraph-center"> Just write your name, email and message and I will get back to you as soon as possible. </p>
<form name="contact" method="POST" data-netlify="true">
    <input name="name" type="text" class="feedback-input" placeholder="Name" />   
    <input name="email" type="text" class="feedback-input" placeholder="Email" />
    <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
    <input type="submit" value="SUBMIT"/>
</form>
</div><br><br>