<div class="container">
  <h2 class="mt-3 center">Contact</h2>
</div>
<div class="content pt-3">
  <!-- Avatar photo -->
  <div class="pb-2">
    <img src="../../../assets/images/avatar.jpg" loading="lazy" alt="Avatar" class="avatar avatar-align">
    <h5 class="avatar-align">Vondreii</h5>
  </div>
  <br>
  <!-- LinkedIn -->
  <p>
    Message me on any of the following platforms:
  </p>  
  <div class="box"> 
    <h2>LinkedIn</h2>
    <div>
      <img src="../../../assets/images/avatar.jpg" loading="lazy" alt="Avatar" class="avatar avatar-align">
      <h5 class="avatar-text avatar-align">
        <a href="https://www.linkedin.com/in/sharlene-von-drehnen">LinkedIn Profile</a>
      </h5>
    </div>
  </div>
  <!-- LinkedIn Link -->
  <div class="box"> 
    <h2>Instagram</h2>
    <div>
      <img src="../../../assets/images/insta.JPEG" loading="lazy" alt="Avatar" class="avatar avatar-align">
      <h5 class="avatar-text avatar-align">
        <a href="https://www.instagram.com/vondreii">Vondreii Instagram Profile</a>
      </h5>
    </div>
  </div>
  <!-- Github Link -->
  <div class="box"> 
    <h2>GitHub</h2>
    <div>
      <img src="../../../assets/images/pineapple.jpg" loading="lazy" alt="Avatar" class="avatar avatar-align">
      <h5 class="avatar-text avatar-align">
        <a href="https://github.com/vondreii">GitHub Account</a>
      </h5>
    </div>
  </div>
</div>