<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Content -->
<section class="bg-color">
  <div class="container search-container">
    <!-- List of all posts -->
    <div id="myUL">
      <article *ngFor="let i of postArray">
        <!-- display each article card with it's own background image  -->
        <section class="cardPreview">
          <div class="padding">
            <!-- Article information -->
            <h1>{{titles[i]}}</h1>
            <br>
            <div class="card-image" [ngStyle]="{'background-image': 'url(' + getURL(i) + ')'}"></div>
            <div class="card-info">
              <a class="tag">{{tags[i]}}</a>
            </div>
            <p>
              {{descriptions[i]}}
              <br><br>
              <span class="read-more-container">
                <a routerLink="{{links[i]}}" class="button">Read More >></a>
              </span>
              <br>
            </p>
          </div>
        </section>
        <!-- End of article -->
      </article>
    </div>
  </div>
</section>

<!-- https://codepen.io/Booligoosh/pen/mKPpQp -->