<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Content -->
<section class="bg-color">
  <div class="container search-container">
    <!-- List of all projects -->
    <div id="myUL">
      <article *ngFor="let project of projects; index as i; trackBy: trackByFn">
        <!-- display each article card with it's own background image  -->
        <section class="cardPreview">
          <div class="padding">
            <!-- Article information -->
            <h1>{{project.name}}</h1>
            <br>
            <div class="card-image" [ngStyle]="{'background-image': 'url(' + getURL(i) + ')'}"></div>
            <div class="card-info">
              <a class="tag">{{project.tags}}</a>
            </div>
            <p>
              {{project.description}}
              <br><br>
              <span class="read-more-container">
                <a routerLink="{{project.link}}" class="button">Read More >></a>
              </span>
              <br>
            </p>
          </div>
        </section>
        <!-- End of project -->
      </article>
    </div>
  </div>
</section>

<!-- https://codepen.io/Booligoosh/pen/mKPpQp -->