<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Content -->
<section class="bg-color projects">
  <div class="container rows allCards">
    <!-- List all projects -->
    <div class="project-card column-3" *ngFor="let i of postArray">
      <!-- Image for each card -->
      <img class="card-img-top" src={{images[i]}} alt="img">
      <!-- Card information -->
      <div class="card-body">
        <h5>{{titles[i]}}</h5>
        <p><small class="text-muted">{{descriptions[i]}}</small></p>
        <div class="read-more-container">
          <a routerLink="{{links[i]}}" class="button">Read More >></a>
        </div>
      </div>
    </div>
    <!-- End of all projects -->
  </div>
</section>