<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../../assets/blog/organisation/how-to-be-better-organised/header.jpg');">
  <div class="imageTextCollage"><a class="photoCred" style="margin-top: 300px; float: right;" href="https://unsplash.com/@epicantus" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Igor Miske"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Daria Nepriakhina</span></a></div>
</div>
<div class="content">
    <div class="blog-layout">
      <!-- #region Tags -->
      <div class="card">
        <div class="tags" style="text-align:center">
          <div class="tag"> Tags: </div>
          <div class="tag"><p>#Organisation</p></div>
          <div class="tag"><p>#Self Development</p></div>
          <div class="tag"><p>#Time</p></div>
          <div class="tag"><p>#Files</p></div>
        </div>
      </div>
      <!-- #endregion -->
      <div class="leftcolumn">
        <div class="written-content-container">
          <!-- #region Written content -->
          <div class="written-content">
            <br><br><h1><strong>24 Ways To Be More Organised</strong></h1>
            <br>
            <p>There's a lot of people who admit that they would like to be more organised. Unfortunately, being fully organised in most aspects of life is a habit that takes time to build (it doesn't happen overnight!).
              That being said - it is definitely possible, and once you get the hang of things you will find yourself getting to places on time, living in a clearer environment, and knowing where to find things.
            </p>
            <br>
            <p class="subheading"><strong>Organise Where You Keep Your Items </strong></p>
            <p class="subsubheading"><strong>1. Organise Important Documents and Files </strong></p>
            <p>Keep all your important files in one place. For example, original IDs, passports, medical documents, insurance documents (all the important stuff) can all be stored in the same place so you know exactly where to find them.
              You could have separate folders/storage each for:</p>
            <ul>
              <li>ID Documents</li>
              <li>Medical records (where you put prescriptions, X-ray scans or hospital letters)</li>
              <li>Any printed employment related documents</li>
              <li>Car documents related to insurance, ownership or registration</li>
              <li>Receipts or warranties that you need to keep</li>
              <li>Any important tax or government letters</li>
              <li>Bank Statements</li>
            </ul>
            <p>Label each folder, so if you ever need to find your referral letter to a clinic, you know to look in the <strong>Medical</strong> folder.
              You should also have scanned (and if possible, certified) copies of these documents in case anything goes missing.
              Throw away documents if they are no longer valid or needed. For example, you probably don't need a bank statement that is too many years old.</p>
            <br>
            <p class="subsubheading"><strong>2. Organise Hardware, Gadgets, Computer Cables, Wires or Chargers</strong></p>
            <p>Have a storage space, dividers or desk drawers that you can use to categorise any hardware you might have. For example, you can put SSDs, external hard drives and USBs in one tray.
              If you have a computer, I recommend looking into having some sort of cable management system. I use 
              <a href="https://www.officeworks.com.au/shop/officeworks/p/velcro-brand-heavy-duty-hook-and-loop-strip-tape-25mm-x-1m-pa25556">velcro</a> to tie up or organise all wires so they do not fly into different directions.
              There are lots of other products you could use to organise your cables such as <a href="https://www.ikea.com/au/en/p/uppleva-bracket-for-tv-swivel-light-grey-40330602/">this cable management bracket</a>, which works for your TV.
            </p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/how-to-be-better-organised/clear-desk.jpg" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Photo by <a href="https://unsplash.com/@lucabockmann">Luca Bockmann </a>on Unsplash</p></div>
            </div>
            <br>
            <p>When you finish charging something, roll it up straight away and keep your main chargers in the same place (this could also be in a dedicated desk drawer, or any other place that works for you).</p>
            <br>
            <p class="subheading"><strong>Prioritize Your Tasks</strong></p>
            <p class="subsubheading"><strong>3. Write Everything Down</strong></p>
            <p>Don't say, <i>"I don't need to write this down, I'll remember it"</i> - because for most people, there's a chance you won't. Have a single place where you can write down things you need to remember.
              There are so many ways you could do this and what works for you might not necessarily work for someone else. For example, I like to use a physical planner (where each page contains a week) 
              whereas tracking tasks using a phone works better for <a href="https://sora-web-dev.web.app/">Sora Khan</a>. If you have mini-projects you are working on, an actual platform like <a href="https://trello.com/">Trello</a> might be more useful.
              If you don't need something that intense, simply having a notepad stuck to the fridge can do the trick. Or, you might find to-do apps and notifications more efficient...
            </p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/how-to-be-better-organised/trello.PNG" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Trello Board used while creating Vondreii</p></div>
            </div>
            <br>
            <p class="subsubheading"><strong>4. Utilize To Do Apps Or Automation</strong></p>
            <p>Your phone is likely the one thing that you have almost all of the time. You can use your phone for anything these days, organising being one of them. 
              Everytime something comes up, get out your phone and immediately record it. If you enable it, many to-do apps have the ability to notify you of what tasks you need to get done during the day, 
              and can also warn you of any upcoming tasks for future days.
              Even if you don't want to use a to-do app, you can use the default <strong>notes</strong> app that comes built in with phones. However these aren't automated and if you have too many tasks it may be hard to follow.
            </p>
            <br>
            <p class="subsubheading"><strong>5. Prioritize The Most Important Tasks</strong></p>
            <p>No matter what method you decide to use, you should have a system set up where you somehow 'star' or 'mark' the tasks that are more urgent or important. For example, a job interview would be considered a pretty important task 
              that you cannot afford to miss. At the beginning of each week, have a clear overview of the most important tasks that exist. Use alarms or notifications to help you prepare for them, and identify other subtasks that are needed. Which brings us to our next point...</p>
            <br>
            <p class="subsubheading"><strong>6. Categorise Tasks Into Subtasks</strong></p>
            <p>In the case of the job interview, you could separate these into <em>prepare for interview, buy clothes for interview</em>, and <em>plan how to get to interview</em>. That way you don't wake up in the morning and realise you needed to prepare the other small things that count.</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/how-to-be-better-organised/subtasks.PNG" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>An example of breaking down tasks into smaller tasks</p></div>
            </div>
            <br>
            <p class="subheading"><strong>Clean Your House Regularly and Declutter</strong></p>
            <p class="subsubheading"><strong>7. Create A Cleaning Schedule</strong></p>
            <p>For the things you don't need to clean everyday (like the bathroom), create a schedule. For example, you can clean the bathroom every saturday morning. You can have a notice board in a place that is visible to remind yourself of what you need to do.
              When you get into the habit of cleaning regularly, you will find that cleaning might not take as much effort anymore since your house will likely be overall more cleaner. However this might be difficult to do, especially if young kids are involved.</p>
            <br>
            <p class="subsubheading"><strong>8. Throw Away Things You Don't Need</strong></p>
            <p>Alternatively, you can recycle, sell or donate them. A lot of people have things lying around that they don't need or use, and decluttering them can help improve your overall environment and wellbeing. See <a href="/blog/minimalism/things-you-can-declutter-right-now">60+ Things You Can Declutter Right Now</a> for more tips on how to declutter your home.
              Also, if you have less stuff, it'll be a lot easier to find the things that you do have (making you feel more organised!)</p>
            <br>
            <p class="subsubheading"><strong>9. Have A Clear Space To Do Your Work</strong></p>
            <p>Having a messy desk can make you feel less motivated to do work related things at home. Similar to Step 2, organise where you keep your gadgets, wires and cables. However you also want to make sure your desk is tidy and free from random things like magazines, newspapers, trinkets, old cups, old water bottles and used chip packets. Get a 
              <a href="https://www.google.com.au/shopping/product/7238651664577978374?lsf=seller:6722447,store:1945968735400658800&prds=oid:7772565465031200092&q=air+spray+keyboard&hl=en&ei=D5nEXumsD4Xez7sPq_y6-AI&lsft=gclid:CjwKCAjwh472BRAGEiwAvHVfGmlL7C77eW7WeGpdFxfi80sBPnMXxAMqqDCz_Eh8N51k_34lbUnjKxoCn4cQAvD_BwE,gclsrc:aw.ds">keyboard air duster</a> 
              to keep your keyboard clean, and regularly wipe your desk to remove dust.</p>
            <br>
            <p class="subsubheading"><strong>10. Clean As You Go (Put Things Away Immediately After Using Them)</strong></p>
            <p>When you've finished using your charger, put it back. When you've finished using the pencils, put them back. When you've finished eating, put all the leftovers back in the fridge straight away and wash the dishes (or if you're tight, soak them at least to make it easier for you later).
              Wipe the benchtops and dining table. This needs to be made into a habit. If you do these things automatically without thinking, these chores will feel alot less annoying to complete, and you might get them done faster. Then, you won't end up procrastinating simple things like tidying up small items.
              This will also help you when you get to the tasks you have on your cleaning schedule!</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/how-to-be-better-organised/dishes.jpg" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Photo by <a href="https://unsplash.com/@andreamaraldg">Andre A. Xavier </a>on Unsplash</p></div>
            </div>
            <br>
            <p class="subheading"><strong>Organise Your Computer</strong></p>
            <p class="subsubheading"><strong>11. Organise Your Web Browsing</strong></p>
            <p>This includes organising your emails, online accounts and saving important websites (including the use of bookmarks). 
              Sort your emails into folders and unsubscribe to things that you do not want to follow to prevent yourself from getting spam.
              Having a password manager is also very useful and also more secure. You can read <a href="/blog/organisation/how-to-organise-your-web-browsing">How To Organise Your Web Browsing</a> for a more comprehensive list.</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/how-to-be-better-organised/email-cluttered.PNG" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>A very cluttered inbox</p></div>
            </div>
            <br>
            <p class="subsubheading"><strong>12. Declutter Computer Files</strong></p>
            <p>Clean up your computer by deleting duplicate files and files that you no longer need. Try to categorise things in a way where it does <u>not</u> look like this:</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/how-to-be-better-organised/hierarchy-cluttered.PNG" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Too many unorganised files!</p></div>
            </div>
            <br>
            <p>This doesn't just apply to your documents. This also applies to files you've downloaded and installed, as well as photos, videos and music files. Rename all your files informatively so you don't need to open 'doc1-final' to see what it's all about.
              You can also check out <a href="/blog/organisation/tips-to-better-organise-your-computer">10 Tips To Better Organise Your Computer</a> if you want to know about how to organise your computer in more detail!</p>
            <br>
            <p class="subsubheading"><strong>13. Regularly Backup Your Files</strong></p>
            <p>Also don't forget to backup everything you have on your computer in case it breaks. I once lost all my work the day before an assignment was due! And because I didn't have a backup, I had to re-do everything
              overnight. Saying this was stressful is an understatement. So, to save yourself the trouble, have a hard drive or usb ready and regularly back up your files and any recent changes you may have made.
              You can also something like <a href="https://www.dropbox.com/login">Dropbox</a> or <a href="https://drive.google.com">Google Drive</a>.</p>
            <br>
            <p class="subheading"><strong>Organise Your Finances</strong></p>
            <p class="subsubheading"><strong>14. Take Advantage Of Online Banking</strong></p>
            <p>You can use online banking as a way to track your balance for your bank account. If you have multiple bank accounts, you can view details for all of them without getting out of bed.
              Contact your bank for details on how to set up an online account. Most banks should have secure apps that you can simply download on your phone.
              You also want to make sure you organise other online accounts that involve payments, such as <a href="https://www.paypal.com/">PayPal</a>.</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/how-to-be-better-organised/paywave.jpg" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Photo by <a href="https://unsplash.com/@ultralinx">Oliur </a>on Unsplash</p></div>
            </div>
            <br>
            <p> If it's possible, you can also contact your bank to get a card that uses PayWave (if you don't already have one).
              This allows you to pay by tapping your card when you are at the counter. This can free up your hands instead of dealing with coins and notes.</p>
            <br>
            <p class="subsubheading"><strong>15. Create A Budget</strong></p>
            <p>If you are on a fixed permanent salary, use the fixed income that enters your bank account every period. If your salary is not fixed,
              base your estimates on your income in the past and take into account variables like your number of shifts. Regardless of how/when you get paid, create a breakdown of all the bills that are <u>necessary</u> to pay.
              Deduct them from your earnings. Make sure to take into account bills that you don't get regularly as well (for example, an electricity bill that you might get every 3 months).
              Find out how much leftover from bills that you get to keep, and distribute them over food, entertainment, and savings.
            </p>
            <br>
            <p class="subsubheading"><strong>16. Don't Buy Things You Can't Pay Back</strong></p>
            <p>I'm not talking about mortages or home loans. I'm mostly talking about the little things, like always borrowing money off your friends or using your credit card - to pay for a stereo or your kid's new $400 PlayStation.
              You're either going to lose track of how much you owe who, or be so confused with the amount of credit card debt you've stacked up. This will make you feel like you are not in control of your finances, and therefore, unorganised.
            </p>
            <br>
            <p class="subsubheading"><strong>17. Don't Buy Things You Don't Need</strong></p>
            <p>It's okay to buy things you like every now and then. However if you have a habit of buying too many clothes knowing full well that you don't use half of what you already have, you are going to contribute a lot of clutter to your home.
              Implement a rule where you will not buy a desired item for at least a month. If you still want it after a month, then sure, why not. Many of the things we buy are done on impulse. We love it at that exact moment, so 
              we therefore decide to just buy it, not realising that we could get by without it. This ties perfectly into keeping your house decluttered, which I mentioned above in Step 8.</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/how-to-be-better-organised/clothes.jpg" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Photo by <a href="https://unsplash.com/@beccamchaffie">Becca McHaffie </a>on Unsplash</p></div>
            </div>
            <br>
            <p class="subheading"><strong>Organise Your Kitchen And Meal Plans </strong></p>
            <p class="subsubheading"><strong>18. Keep An Inventory</strong></p>
            <p>If you have too much food at home and don't track what you have, you're likely going to have a few things sitting there longer than it should be. Don't mindlessly buy groceries - finish the things you already have first.
              Keep a list of items that you need to stock up on when supplies get low. While we're on the subject, make sure you also throw away any expired goods. Shop with a list of things you <u>know</u> you'll need.
            </p>
            <br>
            <p class="subsubheading"><strong>19. Prepare What You Will Cook In Advance</strong></p>
            <p>To save time during the week, have an idea of what you are going to make. Prepare everything so you can find them, and make sure there are no missing ingredients (alternatively, make sure you have substitutes).
              Separate them out so it will be easy to get everything ready when you do eventually start. If you are not cooking, you should still have a plan of where you might be getting your food from.
            </p>
            <br>
            <p class="subsubheading"><strong>20. Cook In Bulk To Save Time For The Next Few Days</strong></p>
            <p>When you do start cooking, instead of cooking enough for one night, you can double up the ingredients to make a dish that will last longer. This will definitely save you time over the next few days, which you can spend on other things.</p>
            <br>
            <p class="subsubheading"><strong>21. Have Quick Meal Backups Available</strong></p>
            <p>On occassions where you don't feel like cooking or you might be too busy, have some backup meals that are really quick to make. This can include things like noodles, canned foods or things that you can quickly fry or grill.</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/how-to-be-better-organised/cooking.jpg" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Photo by <a href="https://unsplash.com/@kate5oh3">Katie Smith </a>on Unsplash</p></div>
            </div>
            <br>
            <p class="subheading"><strong>Organise Aspects Of Your Life</strong></p>
            <p class="subsubheading"><strong>22. Keep A Routine</strong></p>
            <p>If you do the same or similar things everyday, you are more likely to stick to them. Aspects of the above steps can be practiced by trying to do them most days and when you remember them. 
              For example, make yourself wash the dishes everytime you finish eating. Or, make yourself put away things after you have finished using them. Go to bed at the same time every night and wake up at the same time.
              This will not only make you feel more organised but you will likely have more control over your life if you can control the little things. 
            </p>
            <br>
            <p class="subsubheading"><strong>23. Make Future Goals To Work Towards</strong></p>
            <p>This can give you more purpose/make you feel more motivated to do other things. I would suggest making a <strong>Vision Board</strong> that has images of the things you want to achieve.
              This is an example of mine: </p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/how-to-be-better-organised/vision-board.PNG" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>My Vision Board</p></div>
            </div>
            <br>
            <p>I have also ticked off the ones that are completed by writing the year I achieved it. By looking at it, you can see that one of my goals is to build a website (which I am working towards).
              Other goals include places I would like to live in, like New York and Germany. I also want to publish journal articles for research, and get into photography more (also stuff I'm working towards). Some of the things I've achieved include working at a software company,
              buying a first-hand new car, and finishing my degree. Even if you don't tick off everything, at least try to! </p>
            <br>
            <p class="subsubheading"><strong>24. Do Something Productive First Thing In The Morning</strong></p>
            <p>Do something productive when you wake up. This can be as simple as making the bed, as stated by <a href="https://www.youtube.com/watch?v=pxBQLFLei70&feature=youtu.be">Admiral William H. McRaven</a>:</p>
            <blockquote>If you make your bed every morning, you will have accomplished the first task of the day. It will give you a small sense of pride and it will encourage you to do another task and another and another. </blockquote>
            <p>In essence, making your bed can turn into a snowball effect which can then influence your overall day. You can also start the morning by reading, doing some exercise or by meditating.</p>
            <br>
            <p class="subsubheading"><strong>Conclusion</strong></p>
            <p>Being more organised isn't just about getting to places on time. It also involves organising your living spaces and other aspects of you like (such as your computer, your cooking and your finances).
              Don't stress about not having all of these down. Life is way too complicated for things like this to be easy. However with a bit of habit forming and discipline, you should be able to get a few of these under control.</p>
            <br>
            <h4 class="blog-date">19 May 2020</h4>
            <h6 class="blog-date">By <a href="https://www.instagram.com/vondreii/?hl=en">@Vondreii</a></h6><br><br>
          </div>
          <!-- #endregion -->
          <!-- #region Tags -->
          <div class="tags">
            <div class="tag"> Tags: </div>
            <div class="tag"><p>#Organisation</p></div>
            <div class="tag"><p>#Self Development</p></div>
            <div class="tag"><p>#Time</p></div>
            <div class="tag"><p>#Files</p></div>
          </div>
          <!-- #endregion -->
        </div>
      </div>
      <div class="rightcolumn" id="sticky-right-col">
        <!-- #region Ad -->
        <div class="card">
          <br><div style="height:300px;background-image:url('../../assets/about/designer.jpg');background-size:cover;"></div><br>
        </div>
        <!-- #endregion -->
      </div>
    </div>            
    <!-- #region Follow Me -->
    <div class="card">
      <br><h3 class="sidebar-bottom-headings">FOLLOW ME</h3><h5 class="fadedText">__________________</h5><br>
      <div style="text-align:center">
        <a href="https://www.instagram.com/vondreii"><img src="../../../assets/social/instagram.png" alt="image"/></a><span style="padding:10px"></span>
        <a href="https://www.linkedin.com/in/sharlene-von-drehnen"><img src="../../../assets/social/linkedin.png" alt="image"/></a><span style="padding:10px"></span>
        <a href="https://github.com/vondreii"><img src="../../../assets/social/github.png" alt="image" /></a><span style="padding:10px"></span>
      </div>
      <br><br>
    </div>
    <!-- #endregion -->
    <!-- #region More Like This -->
    <br><br><h3 class="sidebar-bottom-headings">MORE LIKE THIS</h3><br><h5 class="fadedText">__________________</h5><br><br>
    <div class="rows">
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/organisation/better-organise-your-files/mini-preview.jpg" alt="image" style="width:100%">
        <div class="card-container">
          <br><h2><strong>10 Tips To Better Organise Your Computer</strong></h2><br>
          <p style="text-align:center"><a routerLink="/blog/organisation/tips-to-better-organise-your-computer">Read More >></a></p>
        </div>
      </div></div><br><br>
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/organisation/organise-web-browsing/mini-preview.jpg" alt="image" style="width:100%"> 
        <div class="card-container">
          <br><h2><strong>How To Organise Your Web Browsing</strong></h2><br>
          <p style="text-align:center"><a routerLink="/blog/organisation/how-to-organise-your-web-browsing">Read More >></a></p>
        </div>
      </div></div><br><br>
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/wellbeing/making-life-goals/mini-preview.jpg" alt="image" style="width:100%"> 
        <div class="card-container">
          <br><h2><strong>Making Life Goals</strong></h2><br>
          <p style="text-align:center"><a routerLink="/blog/wellbeing/making-life-goals">Read More >></a></p>
        </div>
      </div></div><br><br>
    </div>
    <br><br>
    <!-- #endregion  -->
  </div>
