<!-- Rows of projects -->
<div class="container">
  <div class="row pb-5" *ngFor="let row of sortedRowsWithItems">
    <!-- Each project item -->
    <div class="column" *ngFor="let item of row">
        <div class="card bg-white">
          <img src="{{item.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.description}}</p>
            <a href="{{item.link}}" class="button">Read More</a>
          </div>
        </div>
    </div>
  </div>
</div>