.column {
  float: left;
  width: 33.33%;
  padding: 20px;
}
.portfolio-image {
  border-radius: 5px;
  transition: 0.3s;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.26);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.26);
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.26);
}
.portfolio-image:hover {
  padding: 1px;
  cursor: pointer
}