<div class="content pb-5 project">
  <div class="pt-3 pb-5 extra-padding">
    <h1>Windows File Manager</h1>
    <br>
    <h5>C# • Windows Forms</h5>
    <hr>

    <div class="article">
      <p>
        This is my attempt to replicate the Windows File Manager app. You can view all of your files on your computer, and
        navigate to them, as you normally would on the original windows file explorer. The design was modified intentionally to
        make the tagging functionality easier to use.
      </p>
      <div class="image-container">
        <img src="./assets/portfolio/images/windowsFileManager/1.PNG" loading="lazy" alt="image" class="image-75">
      </div>
      <div class="pb-3"></div>
      <ul>
        <li>
          <a class="cyanLink" href="https://github.com/vondreii/file-manager">View GitHub Repository</a>
        </li>
      </ul>
      <div class="pb-3"></div>
      <p>Functionalities include:</p>
      <ul>
        <li>Viewing/opening files and directories</li>
        <li>Searching for files in the current folder</li>
        <li>Adding tags to files or directories</li>
        <li>Filtering files/folders by tags</li>
      </ul>
      <p>Functionalities pending:</p>
      <ul>
        <li>Copying and pasting items</li>
        <li>Ability to work with non-windows (eg, Mac) directories</li>
      </ul>
      <div class="pb-3"></div>

      <h5>Adding tags</h5>
      <div class="pb-3"></div>
      <p>
        You can add tags using the edit button on the right side of a folder or file. Tags will then show on 
        the left column of the file explorer. You can then click on them to filter folders and files by tag.
      </p>
      <div class="image-container">
        <img src="./assets/portfolio/images/windowsFileManager/2.PNG" loading="lazy" alt="image" class="image-75">
      </div>
      <div class="pb-3"></div>

      <h5>Tech Stack</h5>
      <div class="pb-3"></div>
      <ul>
        <li>Windows Forms</li>
        <li>C#</li>
      </ul>

      <br>
      <hr>

    </div>
  </div>
</div>