<div class="social">
    <div class="social-links">
      <!-- Github -->
      <a data-hint="Github" title="Github" href="https://github.com/vondreii" rel="me">
        <i class="fa fa-github-alt"></i>
      </a>
      <!-- LinkedIn -->
      <a data-hint="LinkedIn" title="LinkedIn" href="https://www.linkedin.com/in/sharlene-von-drehnen" rel="me">
        <i class="fa fa-linkedin"></i>
      </a>
      <!-- About/Contact -->
      <a data-hint="Email" title="Email" routerLink="contact">
        <i class="fa fa-envelope"></i>
      </a>
    </div>
    <br>
    <!-- Copyright -->
    <div class="copy">
      <p>&copy; 2020 Copyright <strong>SVD</strong> | LAST MODIFIED <strong>04/01/2021</strong></p>
    </div>
</div>
