<app-navbar></app-navbar>

<div style="background-color:whitesmoke">
  <div class="parallax" style="height: 500px;background-image: url('../../../assets/projects/header.jpg');">
    <!-- <div class="imageTextCollage"><a class="photoCred" style="margin-top: 450px; float: right; position:relative" href="https://unsplash.com/@nightcoder" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Taylor Smith"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Yuriy Kovalev</span></a></div> -->
    <div class="imageTextCollage"><a class="photoCred" style="margin-top: 450px; float: right; position:relative" href="https://unsplash.com/@heytowner" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Taylor Smith"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">John Towner</span></a></div>
    <h2 class="main-heading"><span class="heading-border">PROJECTS</span></h2>
  </div>
  <div class="category-card"><br></div>
  <br>
  <div class="rows"> 
    <!-- #region Project 4 -->
    <div class="column-3-flex">
      <div class="item-container blue-hover card-properties">
        <img src="../../assets/projects/cyanX/preview.png" alt="img" class="d-block w-full">
        <div class="item-content">
          <h1 class="item-heading">Cyan X</h1>
          <p class="item-description">A 2D platformer game set in the distant future. Solve puzzles, level up, craft weapons and defeat enemies in order to rescue captured animals &hellip;</p>
        </div>
        <a routerLink="/projects/post/cyanX" class="item-link styled-link">Read More</a>
      </div>
    </div>
    <!-- #endregion -->
    <!-- #region Project 3 -->
    <div class="column-3-flex">
      <div class="item-container blue-hover card-properties">
        <img src="../../assets/projects/racing-game/gameplay.PNG" alt="img" class="d-block w-full">
        <div class="item-content">
          <h1 class="item-heading">3D Street Racing Game</h1>
          <p class="item-description">A 2D platformer game set in the distant future. Solve puzzles, level up, craft weapons and defeat enemies in order to rescue captured animals &hellip;</p>
        </div>
        <a routerLink="/projects/post/streetRacingGame" class="item-link styled-link">Read More</a>
      </div>
    </div>
    <!-- #endregion -->
    <!-- #region Project 2 -->
    <div class="column-3-flex">
      <div class="item-container blue-hover card-properties">
        <img src="../../assets/projects/ice-capades/preview.jpg" alt="img" class="d-block w-full">
        <div class="item-content">
          <h1 class="item-heading">Ice Capades</h1>
          <p class="item-description">A 2D platformer game set in the distant future. Solve puzzles, level up, craft weapons and defeat enemies in order to rescue captured animals &hellip;</p>
        </div>
        <a routerLink="/projects/post/iceCapades" class="item-link styled-link">Read More</a>
      </div>
    </div>
    <!-- #endregion -->
    <!-- #region Project 1 -->
    <div class="column-3-flex">
      <div class="item-container blue-hover card-properties">
        <img src="../../assets/projects/calculator-converter/calculator.PNG" alt="img" class="d-block w-full">
        <div class="item-content">
          <h1 class="item-heading">Offline Calculator And Converter</h1>
          <p class="item-description">An offline all-in-one calculator and converter. Includes conversions for area, digital storage, energy, frequence, length, mass, pressure, speed, temperature, time and volume. &hellip;</p>
        </div>
        <a routerLink="/projects" class="item-link styled-link">Read More</a>
      </div>
    </div>
    <!-- #endregion -->
  </div>
  <br><br>
</div>
<div class="card">
  <br><br>
  <div style="text-align:center">
      <a href="https://www.instagram.com/vondreii"><img src="../../assets/social/instagram.png" alt="image"/></a><span style="padding:10px"></span>
      <a href="https://www.linkedin.com/in/sharlene-von-drehnen"><img src="../../assets/social/linkedin.png" alt="image"/></a><span style="padding:10px"></span>
      <a href="https://github.com/vondreii"><img src="../../assets/social/github.png" alt="image"/></a><span style="padding:10px"></span>
  </div>
  <br><br>
</div>

