<app-navbar></app-navbar>

<div class="parallax" style="height: 350px; background-image: url('../../assets/projects/racing-game/gameplay.PNG');"></div>
<div class="download-container">
    <div class="button-container">
        <a href="https://github.com/vondreii/Modified-Street-Racing-Game" class="button repo">↓ View GitHub Repository ↓</a>
    </div>
</div>
<div class="heading">
  <br><h1><strong>3D Street Racing Game</strong></h1>
  <div class="tags" style="text-align:center">
    <div class="tag"><p>#3D</p></div>
    <div class="tag"><p>#Game</p></div>
    <div class="tag"><p>#Research</p></div>
    <div class="tag"><p>#Racing</p></div>
  </div>
</div>
<section>
  <div class="blog-item">
    <h2><strong>About the Game</strong></h2>
    <p>
        This is a modified version of the street racing game sourced from <a href="https://github.com/Microsoft/Imagine_street-racing">this Microsoft's Github repository</a>.
        The original game is a 3D street racing game where the player must avoid the obstacles on the road. The player scores points when avoiding these obstacles. 
        The original game involved racing for as long as you possible without hitting any obstacles, as the speed increased. If you hit any obstacles during the game, the game would end.
    </p>
    <br>
    <div class="blog-image-container">
        <img src="../../assets/projects/racing-game/street-racing-preview.gif" alt="image" class="blog-image"/>
    </div>
    <p>
        The modified version includes several changes in the game mechanics. Instead of the speed increasing, the speed was set at a static 60km/h. 
        Extra obstacles were added such as roadblocks. You also could not die when hitting obstacles. The new game could also record all game statistics. This included things like:
    </p>
    <ul>
        <li>The current coordinates of the player for every frame</li>
        <li>The number of points added when passing cars</li>
        <li>The number of times hit</li>
        <li>The coordinates of new cars as they are being spawned</li>
        <li>The player's movement patterns (the exact times they hit the left/right keys)</li>
        <li>Total statistics, including accumulative car crashes and points totals </li>
    </ul>
    <div class="blog-image-container">
        <img src="../../assets/projects/racing-game/roadblock.PNG" alt="image" class="blog-image"/>
    </div>
    <p>
        Data was collected as part of a University research project, therefore the game was also changed to automatically end after 5 minutes, and automatically repeat for 3 times.
    </p>
    <br>
  </div>
</section>
<div class="download-container">
    <div class="button-container">
        <a href="https://github.com/vondreii/Modified-Street-Racing-Game" class="button repo">↓ View GitHub Repository ↓</a>
    </div>
</div>
<div class="card">
  <br><h2 class="sidebar-bottom-headings">FOLLOW ME</h2><h5 class="fadedText">__________________</h5><br>
  <div style="text-align:center">
  <a href="https://www.instagram.com/vondreii"><img src="../../assets/social/instagram.png" alt="image"/></a><span style="padding:10px"></span>
  <a href="https://www.linkedin.com/in/sharlene-von-drehnen"><img src="../../assets/social/linkedin.png" alt="image"/></a><span style="padding:10px"></span>
  <a href="https://github.com/vondreii"><img src="../../assets/social/github.png" alt="image"/></a><span style="padding:10px"></span>
  </div>
  <br><br>
</div>