<!-- If Blog -->
<div class="content bg-grey" *ngIf="blog; else something">
  <br>
  <!-- Page Numbers -->
  <div class="text-center mb-4">
    <a (click)="changePageBlog(1)" routerLink="/blog" class="page-no">1</a>
    <a (click)="changePageBlog(2)" routerLink="/blog" class="page-no">2</a>
  </div>
  <!-- List of blog items -->
  <app-blog-list [contentList]='itemsToDisplay' [currentPage]='currentPage'></app-blog-list>
  <!-- Page Numbers -->
  <div class="text-center mb-5">
    <a (click)="changePageBlog(1)" routerLink="/blog" class="page-no">1</a>
    <a (click)="changePageBlog(2)" routerLink="/blog" class="page-no">2</a>
  </div>
</div>
<!-- If portfolio -->
<ng-template #something>
  <div class="content bg-grey">
    <h3 class="mt-5 text-center">Projects</h3>
    <br>
    <!-- List of portfolio items -->
    <app-portfolio-list [contentList]='itemsToDisplay' [currentPage]='currentPage'></app-portfolio-list>
  </div>
</ng-template>