<!-- If Blog -->
<div *ngIf="blog; else something">
  <!-- Page Numbers -->
  <!-- <div class="text-center mb-4">
    <a (click)="changePageBlog(1)" routerLink="/blog" class="page-no">1</a>
    <a (click)="changePageBlog(2)" routerLink="/blog" class="page-no">2</a>
  </div> -->
  <!-- List of blog items -->
  <div class="content bg-grey">
    <div class="mobile-desktop">
      <h3 class="mt-5 text-grey text-center">Blog</h3>
    </div>
    <app-blog-list [contentList]='itemsToDisplay' [currentPage]='currentPage'></app-blog-list>
  </div>
  <!-- Page Numbers -->
  <!-- <div class="text-center mb-5">
    <a (click)="changePageBlog(1)" routerLink="/blog" class="page-no">1</a>
    <a (click)="changePageBlog(2)" routerLink="/blog" class="page-no">2</a>
  </div> -->
</div>
<!-- If portfolio -->
<ng-template #something>
  <div class="content bg-grey">
    <!-- <div class="image-container">
      <img class="image-full" src="../../assets/images/intro.PNG" alt="img"/>
    </div> -->
    <div class="mobile-intro">
      <h1 class="mt-5 mb-5 text-black text-center">Hi there 👋 </h1>
      <h1 class="mt-5 text-black text-center">I'm Vondreii and I work as a developer from Sydney, Australia :)</h1>
      <h3 class="mt-5 text-grey text-center">Projects</h3>
      <h3 class="mb-2 text-grey text-center">ᐯ</h3>
    </div>
    <div class="mobile-desktop">
      <h3 class="mt-5 text-grey text-center">Projects</h3>
    </div>
    <br>
    <!-- List of portfolio items -->
    <app-portfolio-list [contentList]='itemsToDisplay' [currentPage]='currentPage'></app-portfolio-list>
  </div>
</ng-template>