<!-- Buttons for each page number -->
<div class="container" *ngIf="blog; else something">
  <br>
  <div class="bg-color page-numbers-container">
    <a (click)="changePageBlog(1)" routerLink="/blog" class="page-numbers">1</a>
    <a (click)="changePageBlog(2)" routerLink="/blog" class="page-numbers">2</a>
  </div>
  
  <!-- List of items, limited to the page number it is on -->
  <app-blog-list [contentList]='itemsToDisplay' [currentPage]='currentPage'></app-blog-list>
  
  <!-- Buttons for each page number -->
  <div class="bg-color page-numbers-container">
    <a (click)="changePageBlog(1)" routerLink="/blog" class="page-numbers">1</a>
    <a (click)="changePageBlog(2)" routerLink="/blog" class="page-numbers">2</a>
  </div>
  
  <div class="paddingBottom"></div>
</div>
<!-- For portfolio -->
<ng-template #something>
  <h2 style="margin-top: 10px; text-align:center">Portfolio</h2>
  <br>
  <app-portfolio-list [contentList]='itemsToDisplay' [currentPage]='currentPage'></app-portfolio-list>

  <!-- <br>
  <div class="bg-color page-numbers-container">
    <a (click)="changePage(1)" routerLink="/portfolio" class="page-numbers">1</a>
    <a (click)="changePage(2)" routerLink="/portfolio" class="page-numbers">2</a>
  </div> -->
  <div class="paddingBottom"></div>
</ng-template>