<app-navbar></app-navbar>

<div class="parallax" style="height: 350px; background-image: url('../../assets/blog/wellbeing/header.jpg');">
  <div class="imageTextCollage"><a class="photoCred" style="margin-top: 300px; float: right;" href="https://unsplash.com/@lucabravo" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Taylor Smith"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Luca Bravo</span></a></div>
</div>
<div class="category-card">
  <br><h1><strong>Wellbeing</strong></h1><br>
</div>
<div class="post-list">
  <br><br>
  <div class="search-container">
    <input type="text" id="myInput" (keyup)=searchbar() placeholder="Search Posts (by title, date, year..)" title="SearchBar"><br><br>
    <div id="myUL">
      <div id="no-results">
        <br>
        <h2><strong>There are no matching results</strong></h2>
        <h4>We apologise! Please try searching something else.</h4>
        <br><br>
      </div>
      <!-- Jobs For Introverts That Don't Need Much Communication -->
      <section>
        <div class="blog-item">
          <h2><strong>Jobs For Introverts That Don't Need Much Communication</strong></h2><h4>Coming Soon!</h4><br>
          <div class="article-preview-image" style="height:300px;background-image:url('../../assets/blog/wellbeing/jobs-for-introverts/cropped.jpg');background-size:cover"></div><br>
          <!-- <p class="description">These days, many people spend most of their time surfing the web or conducting important business online. It makes sense to have your accounts, passwords, general online activities and frequently used websites organised in... </p> -->
          <br><br>
          <div class="read-more-project-button-container">
            <a routerLink="/blog/wellbeing/jobs-for-introverts-that-dont-need-much-communication" class="button read-more-button second-button">Read More >></a>
          </div>
          <br><br>
        </div>
      </section>
      <!-- Making Life Goals -->
      <section>
        <div class="blog-item second">
          <br><br>
          <h2><strong>Making Life Goals</strong></h2><h4>Coming Soon!</h4><br>
          <div class="article-preview-image" style="height:300px;background-image:url('../../assets/blog/wellbeing/making-life-goals/cropped.jpg');background-size:cover"></div><div class="spacing"></div><br>
          <!-- <p class="description">There's a lot of people who admit that they would like to be more organised. Unfortunately, being fully organised in most aspects of life is a habit that takes time to build (it doesn't happen overnight!). That being said - it is... </p> -->
          <br><br>
          <div class="read-more-project-button-container">
            <a routerLink="/blog/wellbeing/making-life-goals" class="button read-more-button first-button">Read More >></a>
          </div>
          <br><br>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="card">
  <br><h2 class="sidebar-bottom-headings">FOLLOW ME</h2><h5 class="fadedText">__________________</h5><br>
  <div style="text-align:center">
  <a href="https://www.instagram.com/vondreii"><img src="../../assets/social/instagram.png" alt="image"/></a><span style="padding:10px"></span>
  <a href="https://www.linkedin.com/in/sharlene-von-drehnen"><img src="../../assets/social/linkedin.png" alt="image"/></a><span style="padding:10px"></span>
  <a href="https://github.com/vondreii"><img src="../../assets/social/github.png" alt="image"/></a><span style="padding:10px"></span>
  </div>
  <br><br>
</div>