<app-navbar></app-navbar>

<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../assets/photography/blue-mountains/blue-mountains-header-cropped2.png');">
  <div class="imageTextCollage">
    <br><br>
    <h3 class="sidebar-bottom-headings"><b>RURAL PHILIPPINES</b></h3><h3><b>▼</b></h3>
  </div>
</div>
<br>
<div class="rows"> 
  <div class="column-4">
    <img src="../../assets/photography/rural-philippines/corn-fields.JPG" alt="image">
    <img src="../../assets/photography/rural-philippines/crowded-bus.JPG" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/rural-philippines/mountain-1.JPG" alt="image">
    <img src="../../assets/photography/rural-philippines/mountain-2.JPG" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/rural-philippines/park.JPG" alt="image">
    <img src="../../assets/photography/rural-philippines/plate.JPG" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/rural-philippines/poor-house.JPG" alt="image">
    <img src="../../assets/photography/rural-philippines/windmill.JPG" alt="image">
  </div>
</div>
<br><br>
<!-- #endregion -->
<!-- #region More Like this -->
<div class="more-like-this">
  <br><h3 class="sidebar-bottom-headings">MORE LIKE THIS</h3><br>
  <div class="photography-list">
    <a routerLink="/photography/hunter-valley">
      <div class="photography-list-image" style="background-image: url('../../assets/photography/hunter-valley/waterfall.jpg')"><div class="destination-text">Hunter Valley</div></div>
    </a>
    <div class="spacing"></div>
    <a routerLink="/photography/manila">
      <div class="photography-list-image" style="background-image: url('../../assets/photography/manila/overpass-1-cropped.JPG')"><div class="destination-text">Manila</div></div>
    </a>
    <div class="spacing"></div>
  </div>
</div>