<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../../assets/blog/web-dev/creating-simple-website/header.jpg');">
  <div class="imageTextCollage"><a class="photoCred" style="margin-top: 300px; float: right;" href="https://unsplash.com/@hipstermum" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Igor Miske"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Hipster Mum</span></a></div>
</div>
<div class="content">
    <div class="blog-layout">
      <!-- #region Tags -->
      <div class="card">
        <div class="tags" style="text-align:center">
          <div class="tag"> Tags: </div>
          <div class="tag"><p>#Software</p></div>
          <div class="tag"><p>#HTML</p></div>
          <div class="tag"><p>#CSS</p></div>
          <div class="tag"><p>#Website</p></div>
          <div class="tag"><p>#Web Development</p></div>
          <div class="tag"><p>#Learning</p></div>
        </div>
      </div>
      <!-- #endregion -->
      <div class="leftcolumn">
        <div class="written-content-container">
          <!-- #region Written content -->
          <div class="written-content">
            <br><br><h1><strong>Making A Simple Static Website Using HTML and CSS</strong></h1>
            <br>
            <br><br><br><br>  
            <p>Coming Soon!</p>
            <br><br><br><br> 
            <p></p>
            <br><br><br><br>   
            <p></p>
            <br><br><br><br>   
            <p></p>
            <br><br><br><br>   
            <p></p>
            <br><br><br><br>   
            <p></p>
            <br><br><br><br>     
            <h4 class="blog-date">1 January 2020</h4>
            <h6 class="blog-date">By <a href="https://www.instagram.com/vondreii/?hl=en">@Vondreii</a></h6><br><br>
          </div>
          <!-- #endregion -->
          <!-- #region Tags -->
          <div class="tags">
            <div class="tag"> Tags: </div>
            <div class="tag"><p>#Software</p></div>
            <div class="tag"><p>#HTML</p></div>
            <div class="tag"><p>#CSS</p></div>
            <div class="tag"><p>#Website</p></div>
            <div class="tag"><p>#Web Development</p></div>
            <div class="tag"><p>#Learning</p></div>
          </div>
          <!-- #endregion -->
        </div>
      </div>
      <div class="rightcolumn" id="sticky-right-col">
        <!-- #region Ad -->
        <div class="card">
          <br><div style="height:300px;background-image:url('../../assets/about/designer.jpg');background-size:cover;"></div><br>
        </div>
        <!-- #endregion -->
      </div>
    </div>            
    <!-- #region Follow Me -->
    <div class="card">
      <br><h3 class="sidebar-bottom-headings">FOLLOW ME</h3><h5 class="fadedText">__________________</h5><br>
      <div style="text-align:center">
        <a href="https://www.instagram.com/vondreii"><img src="../../../assets/social/instagram.png" alt="image"/></a><span style="padding:10px"></span>
        <a href="https://www.linkedin.com/in/sharlene-von-drehnen"><img src="../../../assets/social/linkedin.png" alt="image"/></a><span style="padding:10px"></span>
        <a href="https://github.com/vondreii"><img src="../../../assets/social/github.png" alt="image" /></a><span style="padding:10px"></span>
      </div>
      <br><br>
    </div>
    <!-- #endregion -->
    <!-- #region More Like This --> <!-- TODO: Copy over the more like this -->
    <br><br><h3 class="sidebar-bottom-headings">MORE LIKE THIS</h3><br><h5 class="fadedText">__________________</h5><br>
    <div class="rows">
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/web-dev/hugo-themes/mini-preview.jpg" alt="image" style="width:100%"> 
        <div class="card-container">
          <br><h2><strong>Creating A New Theme In Hugo</strong></h2><br>
          <p style="text-align:center"><a href="/blog/website/creating-a-new-theme-in-hugo">Read More >></a></p>
        </div>
      </div></div><br><br>
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/wellbeing/jobs-for-introverts/mini-preview.jpg" alt="image" style="width:100%"> 
        <div class="card-container">
          <br><h2><strong>Jobs For Introverts That Don't Need Much Communication</strong></h2><br>
          <p style="text-align:center"><a href="/blog/wellbeing/jobs-for-introverts-that-dont-need-much-communication">Read More >></a></p>
        </div>
      </div></div><br><br>
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/organisation/organise-web-browsing/mini-preview.jpg" alt="image" style="width:100%"> 
        <div class="card-container">
          <br><h2><strong>How To Organise Your Web Browsing</strong></h2><br>
          <p style="text-align:center"><a href="/blog/organisation/how-to-organise-your-web-browsing">Read More >></a></p>
        </div>
      </div></div><br><br>
    </div>
    <br><br>
    <!-- #endregion  -->
  </div>
