// mySidebar ID for opening and closing the sidebar
#mySidebar {
  width:250px
}
@media only screen and (max-width: 1000px) {
  #mySidebar {
    width: 0px
  }
}
// All general sidebar styling
.sidebar {
  height:100%;width:0;position:fixed;z-index:1;top:0;left:0;text-align:center;background-color:#222831;overflow-x:hidden;transition:0.5s;padding-top:60px
}
.sidebar a {
  line-height:80px;text-decoration:none;font-size:25px;color:#D3D5D9;display:block;transition:0.3s
}
.sidebar a:hover {
  color:#0CDBB3;text-decoration:none
}
@media only screen and (max-width: 1000px) {
  .sidebar {
    padding-top: 15px
  }
  .sidebar a {
    font-size: 18px
  }
}
// Open/close button
.openbtn {
  font-size:20px;cursor:pointer;padding:10px 15px;border:none;color:#D3D5D9
}
.openbtn:hover {
  color:#0CDBB3;border-radius:25px;transition:0.3s
}
// All main content on the right
#main {
  transition:margin-left .5s;margin-left:250px;height: 100vh;
}
@media only screen and (max-width: 1000px) {
  #main {
    margin-left: 0px
  }
}