<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../../assets/blog/organisation/organise-web-browsing/header.jpg');">
  <div class="imageTextCollage"><a class="photoCred" style="margin-top: 300px; float: right;" href="https://unsplash.com" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Igor Miske"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Unknown</span></a></div>
</div>
<!-- #endregion -->
<div class="content">
    <div class="blog-layout">
      <!-- #region Tags -->
      <div class="card">
        <div class="tags" style="text-align:center"> 
          <div class="tag"> Tags: </div>
          <div class="tag"><p>#Organisation</p></div>
          <div class="tag"><p>#Self Development</p></div>
          <div class="tag"><p>#Web Browsing</p></div>
          <div class="tag"><p>#Declutter</p></div>
        </div>
      </div>
      <!-- #endregion -->
      <div class="leftcolumn">
        <div class="written-content-container">
          <!-- #region Written content -->
          <div class="written-content">
            <br><br><h1><strong>How To Organise Your Web Browsing</strong></h1>
            <br>
            <!-- <p>Intro</p> -->
            <br>
            <p class="subheading"><strong>1. Declutter Your Emails</strong></p>
            <p>Have a look at the cluttered inbox below:</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/organise-web-browsing/email-cluttered.PNG" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>A very cluttered inbox</p></div>
            </div>
            <br>
            <p>This doesn't make me feel like reading anything. I don't understand most of the things that's there and feel very disorganised just by looking at it. 
              If I am ever in a situation where I need to backtrack any records, then so help me God - luckily, I've decluttered my inbox not too long ago, so here is what it looks like now:</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/organise-web-browsing/email-folder2.PNG" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Much better</p></div>
            </div>
            <br>
            <p>I have utilised the sidebar to create folders to categorise all my emails. As you can see, I have a <strong>Gaming</strong> folder where I put everything related to purchases on the PlayStation Store, or my PSN account in general.
              Looking at the sidebar, I also have separate folders to store emails related to my Google accounts, and car (such as car insurance or receipts for repairs).
              The gaming folder is nested under the 'Online Accounts' folder. This is what all the higher-level folders look like: </p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/organise-web-browsing/email-folder1.PNG" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Root folder structure</p></div>
            </div>
            <br>
            <p>I also have deleted and unsubscribed to a lot of things that I might have 'accidentally' signed up for just by visiting their website. This prevents spam emails from getting into your inbox in the first place.</p>
            <br>
            <p class="subheading"><strong>2. Utilize The Bookmarks Bar to Organise Frequently Used Websites</strong></p>
            <p>When you use the web, it can be a lot easier to just click on an icon to open a website. You can use this to save all the websites you use frequently, or even work-related websites that you need to remember (such as links to your work HR timesheets page).</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/organise-web-browsing/bookmarks.jpg" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Use bookmarks to organise your web browsing</p></div>
            </div>
            <br>
            <p>First, make sure the bookmarks bar is enabled. Depending on the web browser you use, there should be a setting to show the bookmarks bar.</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/organise-web-browsing/bookmarks-4.PNG" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Use bookmarks to organise your web browsing</p></div>
            </div>
            <br>
            <p>All you have to do is visit the website you want to save, and click on the star icon at the top. Here it is in Google Chrome:</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/organise-web-browsing/bookmarks-2.jpg" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Add to bookmarks option in Google Chrome</p></div>
            </div>
            <br>
            <p>And here it is in Firefox:</p>
            <br>
            <div style="text-align:center">
              <img src="../../../assets/blog/organisation/organise-web-browsing/bookmarks-3.PNG" alt="image" class="blog-image"/>
              <div class="content-photo-credit"><p>Add to bookmarks option in Firefox</p></div>
            </div>
            <br>
            <p class="subheading"><strong>To Be Continued</strong></p>
            <br>
            <h4 class="blog-date">19 May 2020</h4>
            <h6 class="blog-date">By <a href="https://www.instagram.com/vondreii/?hl=en">@Vondreii</a></h6><br><br>
          </div>
          <!-- #endregion -->
          <!-- #region Tags -->
          <div class="tags">
            <div class="tag"> Tags: </div>
            <div class="tag"><p>#Organisation</p></div>
            <div class="tag"><p>#Self Development</p></div>
            <div class="tag"><p>#Web Browsing</p></div>
            <div class="tag"><p>#Declutter</p></div>
          </div>
          <!-- #endregion -->
        </div>
      </div>
      <div class="rightcolumn" id="sticky-right-col">
        <!-- #region Ad -->
        <div class="card">
          <br><div style="height:300px;background-image:url('../../assets/about/designer.jpg');background-size:cover;"></div><br>
        </div>
        <!-- #endregion -->
      </div>
    </div>            
    <!-- #region Follow Me -->
    <div class="card">
      <br><h3 class="sidebar-bottom-headings">FOLLOW ME</h3><h5 class="fadedText">__________________</h5><br>
      <div style="text-align:center">
        <a href="https://www.instagram.com/vondreii"><img src="../../../assets/social/instagram.png" alt="image"/></a><span style="padding:10px"></span>
        <a href="https://www.linkedin.com/in/sharlene-von-drehnen"><img src="../../../assets/social/linkedin.png" alt="image"/></a><span style="padding:10px"></span>
        <a href="https://github.com/vondreii"><img src="../../../assets/social/github.png" alt="image" /></a><span style="padding:10px"></span>
      </div>
      <br><br>
    </div>
    <!-- #endregion -->
    <!-- #region More Like This -->
    <br><br><h3 class="sidebar-bottom-headings">MORE LIKE THIS</h3><br><h5 class="fadedText">__________________</h5><br><br>
    <div class="rows">
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/organisation/better-organise-your-files/mini-preview.jpg" alt="image" style="width:100%">
        <div class="card-container">
          <br><h2><strong>10 Tips To Better Organise Your Computer</strong></h2><br>
          <p style="text-align:center"><a routerLink="/blog/organisation/tips-to-better-organise-your-computer">Read More >></a></p>
        </div>
      </div></div><br><br>
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/web-dev/creating-simple-website/mini-preview.jpg" alt="image" style="width:100%"> 
        <div class="card-container">
          <br><h2><strong>Making A Simple Static Website using HTML and CSS</strong></h2><br>
          <p style="text-align:center"><a routerLink="/blog/website/making-a-simple-static-website-with-html-and-css">Read More >></a></p>
        </div>
      </div></div><br><br>
      <div class="column-3"><div class="mini-card">
        <img src="../../../assets/blog/uni-life/1st-year-uni/mini-preview.jpg" alt="image" style="width:100%"> 
        <div class="card-container">
          <br><h2><strong>How To Make The Most Out Of Your First Year At Uni</strong></h2><br>
          <p style="text-align:center"><a routerLink="/blog/uni/how-to-make-the-most-out-of-your-first-year-of-uni">Read More >></a></p>
        </div>
      </div></div><br><br>
    </div>
    <br><br>
    <!-- #endregion  -->
  </div>
