<app-navbar></app-navbar>

<div class="parallax" style="height: 350px; background-image: url('../../../assets/blog/organisation/organise-web-browsing/header.jpg');">
  <div class="imageTextCollage"><a class="photoCred" style="margin-top: 300px; float: right;" href="https://unsplash.com" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Igor Miske"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Unknown</span></a></div>
</div>
<div class="heading">
  <br><h1><strong>How To Organise Your Web Browsing</strong></h1>
  <div class="tags" style="text-align:center"> 
    <div class="tag"><p>#Organisation</p></div>
    <div class="tag"><p>#Self Development</p></div>
    <div class="tag"><p>#Web Browsing</p></div>
    <div class="tag"><p>#Declutter</p></div>
  </div>
  <h4 class="blog-date">25 May 2020 <i>by <a href="https://www.instagram.com/vondreii/?hl=en">@Vondreii</a></i></h4>
</div>
<section>
  <div class="blog-item">
    <p>
      These days, many people spend most of their time surfing the web or conducting important business online. It makes sense to have your accounts, passwords, general online activities and 
      frequently used websites organised in order to make things easier to access. Other online tools can also be utilised to increase productivity by managing social media posts and tracking the time you spend on
      time wasting websites. 
    </p>
    <h2><strong>1. Declutter Your Emails</strong></h2>
    <p>Have a look at the cluttered inbox below:</p>
    <div class="blog-image-container">
      <img src="../../../assets/blog/organisation/organise-web-browsing/email-cluttered.PNG" alt="image" class="blog-image"/>
      <div class="content-photo-credit"><p>A very cluttered inbox</p></div>
    </div>
    <p>
      This doesn't make me feel like reading anything. I don't understand most of the things that's there and feel very disorganised just by looking at it. 
      If I am ever in a situation where I need to backtrack any records, then so help me God - luckily, I've decluttered my inbox not too long ago, so here is what it looks like now:
    </p>
    <div class="blog-image-container">
      <img src="../../../assets/blog/organisation/organise-web-browsing/email-folder2.PNG" alt="image" class="blog-image"/>
      <div class="content-photo-credit"><p>Much better</p></div>
    </div>
    <p>
      I have utilised the sidebar to create folders to categorise all my emails. As you can see, I have a <strong>Gaming</strong> folder where I put everything related to purchases on the PlayStation Store, or my PSN account in general.
      Looking at the sidebar, I also have separate folders to store emails related to my Google accounts, and car (such as car insurance or receipts for repairs).
      The gaming folder is nested under the 'Online Accounts' folder. This is what all the higher-level folders look like: 
    </p>
    <div class="blog-image-container">
      <img src="../../../assets/blog/organisation/organise-web-browsing/email-folder1.PNG" alt="image" class="blog-image"/>
      <div class="content-photo-credit"><p>Root folder structure</p></div>
    </div>
    <p>I also have deleted and unsubscribed to a lot of things that I might have 'accidentally' signed up for just by visiting their website. This prevents spam emails from getting into your inbox in the first place.</p>
    <h2><strong>2. Utilize The Bookmarks Bar to Organise Frequently Used Websites</strong></h2>
    <p>When you use the web, it can be a lot easier to just click on an icon to open a website. You can use this to save all the websites you use frequently, or even work-related websites that you need to remember (such as links to your work HR timesheets page).</p>
    <div class="blog-image-container">
      <img src="../../../assets/blog/organisation/organise-web-browsing/bookmarks.jpg" alt="image" class="blog-image"/>
      <div class="content-photo-credit"><p>Use bookmarks to organise your web browsing</p></div>
    </div>
    <p>First, make sure the bookmarks bar is enabled. Depending on the web browser you use, there should be a setting to show the bookmarks bar.</p>
    <div class="blog-image-container">
      <img src="../../../assets/blog/organisation/organise-web-browsing/bookmarks-4.PNG" alt="image" class="blog-image"/>
      <div class="content-photo-credit"><p>Use bookmarks to organise your web browsing</p></div>
    </div>
    <p>All you have to do is visit the website you want to save, and click on the star icon at the top. Here it is in Google Chrome:</p>
    <div class="blog-image-container">
      <img src="../../../assets/blog/organisation/organise-web-browsing/bookmarks-2.jpg" alt="image" class="blog-image"/>
      <div class="content-photo-credit"><p>Add to bookmarks option in Google Chrome</p></div>
    </div>
    <p>And here it is in Firefox:</p>
    <div class="blog-image-container">
      <img src="../../../assets/blog/organisation/organise-web-browsing/bookmarks-3.PNG" alt="image" class="blog-image"/>
      <div class="content-photo-credit"><p>Add to bookmarks option in Firefox</p></div>
    </div>
    <h2><strong>3. Utilize a Password/Account Manager</strong></h2>
    <p>There are a few account password managers you could use such as: </p>
    <ol>
      <li><a href="https://www.dashlane.com">Dashlane</a></li>
      <li><a href="https://www.lastpass.com/">LastPass</a></li>
      <li><a href="https://www.myki.com/">Myki Password Manager</a></li>
      <li><a href="https://www.logmeonce.com/">Log Me Once</a></li>
      <li><a href="https://keepass.info/">KeePass</a></li>
    </ol> 
    <p>
      With password managers, all you have to do is remember one master password, and the password manager will do the rest.
      You can have secure passwords for all your accounts such as <i>'UDHAKF73FKVE'</i> and never have to remember them.
    </p>
    <div class="blog-image-container">
      <img src="../../../assets/blog/organisation/organise-web-browsing/keepass-1.PNG" alt="image" class="blog-image"/>
      <div class="content-photo-credit"><p><a href="https://keepass.info/">KeePass</a> password manager login</p></div>
    </div>
    <div class="blog-image-container">
      <img src="../../../assets/blog/organisation/organise-web-browsing/keepass-2.PNG" alt="image" class="blog-image"/>
      <div class="content-photo-credit"><p>Inside <a href="https://keepass.info/">KeePass</a> password manager</p></div>
    </div>
    <h2><strong>4. Organise your online finance accounts</strong></h2>
    <p>
      If you do online shopping, you want to make sure you organise other online accounts that involve payments, such as such as <a href="https://www.paypal.com/">PayPal</a>.
      This makes your transactions both faster and more secure. Take advantage of online banking apps - you can contact your bank to enquire how they do their online banking.
      Many banks offer the choice of logging into your account through their website, or by downloading a secure app on your phone.
      If you make or recieve payments online you can easily look at your bank balance without having to leave your computer.
    </p>
    <h2><strong>5. Use extension or plugins to increase productivity</strong></h2>
    <p>
      Utilize extensions to help you keep track of how you spend your time on the computer by blocking your access to certain websites for a limited time. 
    </p>
    <div class="blog-image-container">
      <img src="../../../assets/blog/organisation/organise-web-browsing/leechblock.PNG" alt="image" class="blog-image"/>
      <div class="content-photo-credit"><p><a href="https://chrome.google.com/webstore/detail/leechblock-ng/blaaajhemilngeeffpbfkdjjoefldkok">LeechBlock</a> time manager</p></div>
    </div>
    <p>
      Examples of this includes:
    </p>
    <ol>
      <li><a href="https://chrome.google.com/webstore/detail/leechblock-ng/blaaajhemilngeeffpbfkdjjoefldkok">LeechBlock</a></li>
      <li><a href="https://chrome.google.com/webstore/detail/stayfocusd/laankejkbhbdhmipfmgcngdelahlfoji?hl=en">StayFocusd</a></li>
      <li><a href="https://chrome.google.com/webstore/detail/toggl-button-productivity/oejgccbfbmkkpaidnkphaiaecficdnfn">Toggl</a></li>
      <li><a href="https://chrome.google.com/webstore/detail/rescuetime-for-chrome-and/bdakmnplckeopfghnlpocafcepegjeap">Rescue Time for Chrome and Chrome OS</a></li>
    </ol>
    <p>  
      These can be used to put time limits on certain sites.
      This can help you limit how many minutes or hours you spend a day on sites like Facebook, or other sites that can make time fly without doing anything actually productive.
    </p>
    <div class="blog-image-container">
      <img src="../../../assets/blog/organisation/organise-web-browsing/rescueTime.PNG" alt="image" class="blog-image"/>
      <div class="content-photo-credit"><p><a href="https://chrome.google.com/webstore/detail/rescuetime-for-chrome-and/bdakmnplckeopfghnlpocafcepegjeap">Rescue Time</a> time manager</p></div>
    </div>
    <p>
      Do you also sometimes find yourself with 30 bookmarks open? 
      <a href="https://chrome.google.com/webstore/detail/todoist-for-chrome/jldhpllghnbhlbpcmnajkpdmadaolakh?hl=en">ToDoist for Chrome</a> 
      or <a href="https://chrome.google.com/webstore/detail/save-to-pocket/niloccemoadcdkdjlinkgdfekeahmflj">Save to Pocket</a>
      allows you to save webpages as tasks so you can look at them again later.
    </p>
    <h2><strong>6. Time your Social Media Posts</strong></h2>
    <p>
      If you are an influencer or simply have a lot of things to post throughout the day, you can save time by writing all your posts 
      and queuing them to automatically post when you want. <a href="https://chrome.google.com/webstore/detail/buffer/noojglkidnpfjbincgijbaiedldjfbhh">Buffer</a>
      is an extension that is compatible with many of the popular social media sites such as Facebook, Twitter, LinkedIn.
      By using a social media post manager, you can also manage all your posts, activity and discussions all in a single place. 
    </p>
    <div class="blog-image-container">
      <img src="../../../assets/blog/organisation/organise-web-browsing/buffer.PNG" alt="image" class="blog-image"/>
      <div class="content-photo-credit"><p><a href="https://chrome.google.com/webstore/detail/buffer/noojglkidnpfjbincgijbaiedldjfbhh">Buffer</a>, social media/time wasting apps blocker</p></div>
    </div>
    <h2><strong>Conclusion</strong></h2>
    <p>
      Organising the way you browse the web can potentially help you be more productive, save more time and be more aware of the tasks you need to do (especially after decluttering your inbox).
      Having measures in place when making transactions and managing your passwords can also help keep you secure from many of the online threats to online safety that exist today.
      If you manage to get a few of these sorted, hopefully you will be able to have faster and smoother web browsing experience.
    </p>
  </div>
</section>
<section>
  <div class="blog-item second">
    <h2 style="text-align:center"><strong>More Like This</strong></h2>
  </div>
</section>
<section>
  <div class="blog-item">
    <h2 style="text-align:center"><strong>10 Tips To Better Organise Your Computer</strong></h2><br>
    <div class="article-preview-image" style="height:300px;background-image:url('../../../assets/blog/organisation/better-organise-your-files/mini-preview.jpg');background-size:cover"></div><br>
    <div class="read-more-project-button-container">
      <a routerLink="/blog/organisation/tips-to-better-organise-your-computer" class="button read-more-button second-button">Read More >></a>
    </div>
    <br>
  </div>
</section>
<section>
  <div class="blog-item second">
    <br>
    <h2 style="text-align:center"><strong>Making A Simple Static Website using HTML and CSS</strong></h2><br>
    <div class="article-preview-image" style="height:300px;background-image:url('../../../assets/blog/web-dev/creating-simple-website/mini-preview.jpg');background-size:cover"></div><br>
    <div class="read-more-project-button-container">
      <a routerLink="/blog/website/making-a-simple-static-website-with-html-and-css" class="button read-more-button first-button">Read More >></a>
    </div>
    <br>
  </div>
</section>
<section>
  <div class="blog-item">
    <br>
    <h2 style="text-align:center"><strong>How To Make The Most Out Of Your First Year At Uni</strong></h2><br>
    <div class="article-preview-image" style="height:300px;background-image:url('../../../assets/blog/uni-life/1st-year-uni/mini-preview.jpg');background-size:cover"></div><br>
    <div class="read-more-project-button-container">
      <a routerLink="/blog/uni/how-to-make-the-most-out-of-your-first-year-of-uni" class="button read-more-button second-button">Read More >></a>
    </div>
    <br>
  </div>
</section>
<div class="card">
  <br><h2 class="sidebar-bottom-headings">FOLLOW ME</h2><h5 class="fadedText">__________________</h5><br>
  <div style="text-align:center">
  <a href="https://www.instagram.com/vondreii"><img src="../../assets/social/instagram.png" alt="image"/></a><span style="padding:10px"></span>
  <a href="https://www.linkedin.com/in/sharlene-von-drehnen"><img src="../../assets/social/linkedin.png" alt="image"/></a><span style="padding:10px"></span>
  <a href="https://github.com/vondreii"><img src="../../assets/social/github.png" alt="image"/></a><span style="padding:10px"></span>
  </div>
  <br><br>
</div>