<!-- This is the list of blog posts in the 'blog' page -->
<div class="pt-5 text-center">
  <h3 class="text-grey">Blog</h3>
</div>
<div class="container">
  <!-- For each post -->
  <article class="card bg-grey" *ngFor="let post of contentList; index as i">
    <!-- Individual post details  -->
    <div class="padding">
      <!-- Article information -->
      <a class="sub right">{{post.date}}</a>
      <a class="sub left">{{post.tags}}</a>
      <h2 class="heading">{{post.title}}</h2>
      <p class="description">
        {{post.description}}
        <a class="cyanLink" routerLink="{{post.link}}">Read More >></a>
      </p>
    </div>
    <!-- End of article -->
  </article>
</div>