<section class="pt-3">
  <!-- For each post -->
  <article class="card" *ngFor="let post of contentList; index as i">
    <!-- Individual post details  -->
    <div class="padding">
      <!-- Article information -->
      <a class="sub right">{{post.date}}</a>
      <a class="sub left">{{post.tags}}</a>
      <h1 class="heading">{{post.title}}</h1>
      <p class="description">
        {{post.description}}
        <a routerLink="{{post.link}}">Read More >></a>
      </p>
    </div>
    <!-- End of article -->
  </article>
</section>