<app-navbar></app-navbar>

<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../assets/photography/blue-mountains/blue-mountains-header-cropped2.png');">
  <div class="imageTextCollage">
    <br><br>
    <h3 class="sidebar-bottom-headings"><b>MELBOURNE</b></h3><h3><b>▼</b></h3>
  </div>
</div>
<br>
<div class="rows"> 
  <div class="column-4">
    <img src="../../assets/photography/melbourne/pedestrians.jpg" alt="image">
    <img src="../../assets/photography/melbourne/street-1.jpg" alt="image">
    <img src="../../assets/photography/melbourne/city-night-view-1.jpg" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/melbourne/pepsi-cropped.jpg" alt="image">
    <img src="../../assets/photography/melbourne/city-night-view-2.jpg" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/melbourne/beach-1.jpg" alt="image">
    <img src="../../assets/photography/melbourne/melbourne-street.jpg" alt="image">
    <img src="../../assets/photography/melbourne/beach-2.jpg" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/melbourne/street-2.jpg" alt="image">
    <img src="../../assets/photography/melbourne/tram.jpg" alt="image">
  </div>
</div>
<br><br>
<!-- #endregion -->
<!-- #region More Like this -->
<div class="more-like-this">
  <br><h3 class="sidebar-bottom-headings">MORE LIKE THIS</h3><br>
  <div class="photography-list">
    <a routerLink="/photography/hobart">
      <div class="photography-list-image" style="background-image: url('../../assets/photography/hobart/hobart-street.jpg')"><div class="destination-text">Hobart</div></div>
    </a>
    <div class="spacing"></div>
    <a routerLink="/photography/sydney">
      <div class="photography-list-image" style="background-image: url('../../assets/photography/sydney/sydney-bridge-cropped.jpg')"><div class="destination-text">Sydney</div></div>
    </a>
    <div class="spacing"></div>
  </div>
</div>