<app-navbar></app-navbar>

<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../assets/photography/blue-mountains/blue-mountains-header-cropped2.png');">
  <div class="imageTextCollage">
    <br><br>
    <h3 class="sidebar-bottom-headings"><b>MANILA</b></h3><h3><b>▼</b></h3>
  </div>
</div>
<br>
<div class="rows"> 
  <div class="column-4">
    <img src="../../assets/photography/manila/moa.JPG" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/manila/overpass-1.JPG" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/manila/overpass-2.JPG" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/manila/plane-view.JPG" alt="image">
  </div>
</div>
<br><br>
<!-- #endregion -->
<!-- #region More Like this -->
<div class="more-like-this">
  <br><h3 class="sidebar-bottom-headings">MORE LIKE THIS</h3><br>
  <div class="photography-list">
    <a routerLink="/photography/rural-philippines">
      <div class="photography-list-image" style="background-image: url('../../assets/photography/rural-philippines/corn-fields-cropped.JPG')"><div class="destination-text">Rural Philippines</div></div>
    </a>
    <div class="spacing"></div>
    <a routerLink="/photography/sydney">
      <div class="photography-list-image" style="background-image: url('../../assets/photography/sydney/sydney-bridge-cropped.jpg')"><div class="destination-text"> Sydney </div></div>
    </a>
    <div class="spacing"></div>
  </div>
</div>