<app-navbar></app-navbar>

<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../assets/photography/blue-mountains/blue-mountains-header-cropped2.png');">
  <div class="imageTextCollage">
    <br><br>
    <h3 class="sidebar-bottom-headings"><b>HOBART</b></h3><h3><b>▼</b></h3>
  </div>
</div>
<br>
<div class="rows"> 
  <div class="column-4">
    <img src="../../assets/photography/hobart/salamanca-bay-2.jpg" alt="image">
    <img src="../../assets/photography/hobart/hobart-street.jpg" alt="image">
    <img src="../../assets/photography/hobart/cottage.jpg" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/hobart/boat.jpg" alt="image">
    <img src="../../assets/photography/hobart/plane.jpg" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/hobart/christmas-tree.jpg" alt="image">
    <img src="../../assets/photography/hobart/harbour.jpg" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/hobart/hobart-street-2.jpg" alt="image">
    <img src="../../assets/photography/hobart/salamanca-bay.jpg" alt="image">
    <img src="../../assets/photography/hobart/coffee.jpg" alt="image">
  </div>
</div>
<br><br>
<!-- #endregion -->
<!-- #region More Like this -->
<div class="more-like-this">
  <br><h3 class="sidebar-bottom-headings">MORE LIKE THIS</h3><br>
  <div class="photography-list">
    <a routerLink="/photography/blue-mountains">
      <div class="photography-list-image" style="background-image: url('../../assets/photography/blue-mountains/three-sisters-lookout-cropped.JPG')"><div class="destination-text">Blue Mountains</div></div>
    </a>
    <div class="spacing"></div>
    <a routerLink="/photography/melbourne">
      <div class="photography-list-image" style="background-image: url('../../assets/photography/melbourne/melbourne-street.jpg')"><div class="destination-text">Melbourne</div></div>
    </a>
    <div class="spacing"></div>
  </div>
</div>