<app-navbar></app-navbar>
<div style="background-color:whitesmoke">
  <!-- Parallax and main heading -->
  <div class="parallax" style="height: 300px;background-image: url('../../../assets/photography/header.jpg');">
    <div class="imageTextCollage"><a class="photoCred" style="margin-top: 250px; float: right; position:relative" href="https://unsplash.com/@vondreii" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Taylor Smith"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Vondreii</span></a></div>
  </div>
  <div class="parallax" style="height: 150px;">
    <h2 class="main-heading"><span class="heading-border">Photography</span></h2>
  </div>
  <div class="container">
    <div class="container">
      <div class="card-columns">
        <!-- Loop of projects -->
        <div class="card" *ngFor="let i of postArray">
          <img class="card-img-top" src={{images[i]}} alt="img">
          <div class="card-body">
            <h5 class="card-title">{{titles[i]}}</h5>
            <p><small class="text-muted">{{descriptions[i]}}</small></p>
            <div class="read-more-project-button-container">
              <a routerLink="{{links[i]}}" class="button read-more-button second-button">Read More >></a>
            </div>
          </div>
        </div>
        <!-- #endregion -->
      </div>
    </div>
  </div>
  <br><br>
</div>