<app-navbar></app-navbar>

<div style="background-color:whitesmoke">
  <div class="parallax" style="height: 300px;background-image: url('../../../assets/photography/header.jpg');">
    <!-- <div class="imageTextCollage"><a class="photoCred" style="margin-top: 450px; float: right; position:relative" href="https://unsplash.com/@nightcoder" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Taylor Smith"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Yuriy Kovalev</span></a></div> -->
    <div class="imageTextCollage"><a class="photoCred" style="margin-top: 250px; float: right; position:relative" href="https://unsplash.com/@vondreii" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Taylor Smith"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Vondreii</span></a></div>
    <h2 class="main-heading"><span class="heading-border">PHOTOGRAPHY</span></h2>
  </div>
  <div class="category-card"><br></div>
  <br>
  <div class="rows"> 
    <!-- #region Location 4 -->
    <div class="column-3-flex">
      <div class="item-container blue-hover card-properties">
        <img src="../../assets/photography/blue-mountains/three-sisters-lookout-cropped.JPG" alt="img" class="d-block w-full">
        <div class="item-content">
          <h1 class="item-heading">Blue Mountains</h1>
          <p class="item-description">A mountainous region found approximately 60km north of Sydney, NSW, Australia.</p>
        </div>
        <a routerLink="/photography/blue-mountains" class="item-link styled-link">View</a>
      </div>
    </div>
    <!-- #endregion -->
    <!-- #region Location 4 -->
    <div class="column-3-flex">
        <div class="item-container blue-hover card-properties">
          <img src="../../assets/photography/central-coast/long-jetty-cropped.jpg" alt="img" class="d-block w-full">
          <div class="item-content">
            <h1 class="item-heading">Central Coast</h1>
            <p class="item-description">A region filled with beaches that stretches the coast from Sydney up until Newcastle, NSW, Australia.</p>
          </div>
          <a routerLink="/photography/central-coast" class="item-link styled-link">View</a>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #region Location 4 -->
    <div class="column-3-flex">
        <div class="item-container blue-hover card-properties">
          <img src="../../assets/photography/hobart/hobart-street.jpg" alt="img" class="d-block w-full">
          <div class="item-content">
            <h1 class="item-heading">Hobart</h1>
            <p class="item-description">The state capital city of Tasmania, NSW, Australia - which is an island underneath the mainland of Australia.</p>
          </div>
          <a routerLink="/photography/hobart" class="item-link styled-link">View</a>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #region Location 4 -->
    <div class="column-3-flex">
        <div class="item-container blue-hover card-properties">
          <img src="../../assets/photography/hunter-valley/waterfall.jpg" alt="img" class="d-block w-full">
          <div class="item-content">
            <h1 class="item-heading">Hunter Valley</h1>
            <p class="item-description">A rural regional area located inland west of Newcastle and the Central Coast, NSW, Australia. </p>
          </div>
          <a routerLink="/photography/hunter-valley" class="item-link styled-link">View</a>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #region Location 4 -->
    <div class="column-3-flex">
        <div class="item-container blue-hover card-properties">
          <img src="../../assets/photography/melbourne/melbourne-street.jpg" alt="img" class="d-block w-full">
          <div class="item-content">
            <h1 class="item-heading">Melbourne</h1>
            <p class="item-description">The state capital city of Victoria, Australia.</p>
          </div>
          <a routerLink="/photography/melbourne" class="item-link styled-link">View</a>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #region Location 4 -->
    <div class="column-3-flex">
        <div class="item-container blue-hover card-properties">
          <img src="../../assets/photography/newcastle/train-tracks-cropped.jpg" alt="img" class="d-block w-full">
          <div class="item-content">
            <h1 class="item-heading">Newcastle</h1>
            <p class="item-description">A major city approximately 160km north of Sydney, Australia.</p>
          </div>
          <a routerLink="/photography/newcastle" class="item-link styled-link">View</a>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #region Location 4 -->
    <div class="column-3-flex">
        <div class="item-container blue-hover card-properties">
          <img src="../../assets/photography/manila/overpass-1-cropped.JPG" alt="img" class="d-block w-full">
          <div class="item-content">
            <h1 class="item-heading">Manila</h1>
            <p class="item-description">The capital city of the Philippines.</p>
          </div>
          <a routerLink="/photography/manila" class="item-link styled-link">View</a>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #region Location 4 -->
    <div class="column-3-flex">
        <div class="item-container blue-hover card-properties">
          <img src="../../assets/photography/rural-philippines/corn-fields-cropped.JPG" alt="img" class="d-block w-full">
          <div class="item-content">
            <h1 class="item-heading">Rural Philippines</h1>
            <p class="item-description">Various towns and rural locations scattered throughout the Philippines.</p>
          </div>
          <a routerLink="/photography/rural-philippines" class="item-link styled-link">View</a>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #region Location 4 -->
    <div class="column-3-flex">
        <div class="item-container blue-hover card-properties">
          <img src="../../assets/photography/sydney/sydney-bridge-cropped.jpg" alt="img" class="d-block w-full">
          <div class="item-content">
            <h1 class="item-heading">Sydney</h1>
            <p class="item-description">The capital city of NSW, Australia. Home to Australian landmarks like the Sydney Opera House and the Harbour Bridge.</p>
          </div>
          <a routerLink="/photography/sydney" class="item-link styled-link">View</a>
        </div>
    </div>
    <!-- #endregion -->
  </div>
  <br><br>
</div>
<div class="card">
  <br><br>
  <div style="text-align:center">
      <a href="https://www.instagram.com/vondreii"><img src="../../assets/social/instagram.png" alt="image"/></a><span style="padding:10px"></span>
      <a href="https://www.linkedin.com/in/sharlene-von-drehnen"><img src="../../assets/social/linkedin.png" alt="image"/></a><span style="padding:10px"></span>
      <a href="https://github.com/vondreii"><img src="../../assets/social/github.png" alt="image"/></a><span style="padding:10px"></span>
  </div>
  <br><br>
</div>

