<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../assets/photography/blue-mountains/blue-mountains-header-cropped2.png');">
  <div class="imageTextCollage">
    <br><br>
    <h3 class="sidebar-bottom-headings"><b>NEWCASTLE</b></h3><h3><b>▼</b></h3>
  </div>
</div>
<br>
<div class="rows"> 
  <div class="column-4">
    <img src="../../assets/photography/newcastle/train-tracks.jpg" alt="image">
    <img src="../../assets/photography/newcastle/leaf.jpg" alt="image">
    <img src="../../assets/photography/newcastle/ground.jpg" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/newcastle/building.jpg" alt="image">
    <img src="../../assets/photography/newcastle/car.JPG" alt="image">
    <img src="../../assets/photography/newcastle/stadium.JPG" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/newcastle/flower-1.jpg" alt="image">
    <img src="../../assets/photography/newcastle/flower-2.jpg" alt="image">
    <img src="../../assets/photography/newcastle/graffiti.jpg" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/newcastle/graffiti-2.jpg" alt="image">
    <img src="../../assets/photography/newcastle/train.JPG" alt="image">
    <img src="../../assets/photography/newcastle/scooby-doo-van.jpg" alt="image">
    <img src="../../assets/photography/newcastle/fire-truck.jpg" alt="image">
  </div>
</div>
<br><br>
<!-- #endregion -->
<!-- #region More Like this -->
<div class="more-like-this">
  <br><h3 class="sidebar-bottom-headings">MORE LIKE THIS</h3><br>
  <div class="photography-list">
    <a routerLink="/photography/central-coast">
      <div class="photography-list-image" style="background-image: url('../../assets/photography/central-coast/long-jetty-cropped.jpg')"><div class="destination-text">Central Coast</div></div>
    </a>
    <div class="spacing"></div>
    <a routerLink="/photography/hunter-valley">
      <div class="photography-list-image" style="background-image: url('../../assets/photography/hunter-valley/waterfall.jpg')"><div class="destination-text">Hunter Valley</div></div>
    </a>
    <div class="spacing"></div>
  </div>
</div>