<div class="content pb-5 project">
  <div class="pt-3 pb-5 extra-padding">
    <h1>UoN Cognitive Load Research</h1>
    <br>
    <h5>3D • Game • Research • Racing</h5>
    <hr>

    <div class="article">
      <p>
        This is a modified version of the street racing game sourced from 
        <a class="cyanLink" href="https://github.com/Microsoft/Imagine_street-racing">this Microsoft's Github repository</a>.
        The original game is a 3D street racing game where the player must avoid the obstacles on the road. The player scores
        points when avoiding these obstacles. The original game involved racing for as long as you possible without 
        hitting any obstacles, as the speed increased. If you hit any obstacles during the game, the game would end.
      </p>
      <div class="image-container">
        <img src="./assets/portfolio/images/racingGame/1.PNG" loading="lazy" alt="image" class="image-75" />
      </div>
      <div class="pb-3"></div>
      <ul>
        <li>
          <a class="cyanLink" href="https://github.com/vondreii/Modified-Street-Racing-Game">View GitHub Repository</a>
        </li>
      </ul>
      <div class="pb-3"></div>

      <h5>Background</h5>
      <div class="pb-3"></div>
      <p>
        Data was collected as part of a University research project, aimed to adjust the difficulty of the game based on the
        player's cognitive load (how much information the player's brain can store and process at any given time). The modified
        version includes several changes in the game mechanics. Instead of the speed increasing, the speed was set at a static
        60km/h. Extra obstacles were added such as roadblocks. The game was also changed to automatically end after 5 minutes, 
        and automatically repeat for 3 times.
      </p>
      <div class="pb-3"></div>

      <h5>Tech Stack</h5>
      <div class="pb-3"></div>
      <ul>
        <li>Unity C#</li>
      </ul>
      <div class="pb-3"></div>

      <h5>Controls</h5>
      <div class="pb-3"></div>
      <ul>
        <li>Move Left - Left Keyboard arrow or 'A'</li>
        <li>Move Right - Right Keyboard arrow or 'D'</li>
      </ul>
      <p>You also could not die when hitting obstacles. The game simply records the number of hits you have.</p>
      <div class="pb-3"></div>

      <h5>Data Collection</h5>
      <div class="pb-3"></div>
      <p>The game could also record all game statistics. This included things like:</p>
      <ul>
        <li>The current coordinates of the player for every frame</li>
        <li>The number of points added when passing cars</li>
        <li>The number of times hit</li>
        <li>The coordinates of new cars as they are being spawned</li>
        <li>The player's movement patterns (the exact times they hit the left/right keys)</li>
        <li>Total statistics, including accumulative car crashes and points totals</li>
      </ul>
      <div class="pb-3"></div>
      <div class="image-container">
        <img src="./assets/portfolio/images/racingGame/2.PNG" loading="lazy" alt="image" class="image-50" />
      </div>
      <div class="pb-3"></div>

      <h5>Running the Game</h5>
      <div class="pb-3"></div>
      <p>
        To run the game using unity, please ensure you have installed Unity on your PC (2017
        versions or higher). <br>
        System Requirements for Unity: <br>
        OS : Windows 7 SP1+, 8, 10, 64-bit versions only; Mac OS X 10.11+. <br>
        GPU: Graphics card with DX10 (shader model 4.0) capabilities.
      </p>
      <ol>
        <li>Run Unity</li>
        <li>Select 'Open'</li>
        <li>Navigate to the Unity Folder. Select the play button at the top of the window.</li>
      </ol>
      <div class="pb-3"></div>
      <p>By Sharlene Von Drehnen</p>

      <br>
      <hr>

    </div>
  </div>
</div>