<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../assets/photography/blue-mountains/blue-mountains-header-cropped2.png');">
  <div class="imageTextCollage">
    <br><br>
    <h3 class="sidebar-bottom-headings"><b>SYDNEY</b></h3><h3><b>▼</b></h3>
  </div>
</div>
<br>
<div class="rows"> 
  <div class="column-4">
    <img src="../../assets/photography/sydney/bird.jpg" alt="image">
    <img src="../../assets/photography/sydney/harbour.jpg" alt="image">
    <img src="../../assets/photography/sydney/street-1.jpg" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/sydney/street-3.jpg" alt="image">
    <img src="../../assets/photography/sydney/street-2.jpg" alt="image">
    <img src="../../assets/photography/sydney/street-4.jpg" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/sydney/street-greyscale.JPG" alt="image">
    <img src="../../assets/photography/sydney/sydney-bridge.jpg" alt="image">
    <img src="../../assets/photography/sydney/sydney-city.jpg" alt="image">
  </div>
  <div class="column-4">
    <img src="../../assets/photography/sydney/window.JPG" alt="image">
    <img src="../../assets/photography/sydney/sydney-city-2.jpg" alt="image">
    <img src="../../assets/photography/sydney/tall-building.jpg" alt="image">
  </div>
</div>
<br><br>
<!-- #endregion -->
<!-- #region More Like this -->
<div class="more-like-this">
  <br><h3 class="sidebar-bottom-headings">MORE LIKE THIS</h3><br>
  <div class="photography-list">
    <a routerLink="/photography/melbourne">
      <div class="photography-list-image" style="background-image: url('../../assets/photography/melbourne/melbourne-street.jpg')"><div class="destination-text">Melbourne</div></div>
    </a>
    <div class="spacing"></div>
    <a routerLink="/photography/manila">
      <div class="photography-list-image" style="background-image: url('../../assets/photography/manila/overpass-1-cropped.JPG')"><div class="destination-text">Manila</div></div>
    </a>
    <div class="spacing"></div>
  </div>
</div>