<div class="content pb-5 project">
  <div class="pt-3 pb-5 extra-padding">
    <h1>Doco Summaries</h1>
    <br>
    <h5>Angular • Firebase</h5>
    <hr>

    <div class="article">
      <p>
        Docosummaries is a place where you can learn about new documentaries, read plot summaries of documentaries, and find
        links where you could watch the documentaries for free online.
      </p>
      <div class="image-container">
        <img src="./assets/portfolio/images/docosummaries/2.jpg" loading="lazy" alt="image" class="image-75">
      </div>
      <div class="pb-3"></div>
      <ul>
        <li>
          <a class="cyanLink" href="https://github.com/vondreii/docosummaries">View GitHub Repository</a>
        </li>
        <li>
          <a class="cyanLink" href="https://docosummaries.com">Visit Doco Summaries</a>
        </li>
      </ul>
      <div class="pb-3"></div>

      <h5>Background</h5>
      <div class="pb-3"></div>
      <p>
        I am a massive documentary fan and have compiled a list of hundreds of documentaries I have personally watched
        throughout the years. Some of these documentaries are not very well known and a Google Search doesn't bring up much
        information.
      </p>
      <div class="pb-3"></div>

      <h5>Design</h5>
      <div class="pb-3"></div>
      <p>
        Initially, the design of Docosummeries looked like this:
      </p>
      <div class="image-container">
        <img src="./assets/portfolio/images/docosummaries/1.jpg" loading="lazy" alt="image" class="image-75">
      </div>
      <div class="pb-3"></div>
      <p>In the older design:</p>
      <ul>
        <li>There were no Youtube embeds.</li>
        <li>There was no sidebar where you could see the list of all Categories in a sidebar, and expand them to see all tags underneath.</li>
        <li>The colour scheme/theme was not strictly followed.</li>
        <li>
          Too many clicks. On the path to get to the documentary, there was an empty page that would just list categories, then
          another empty page that would just list tags (they looked indistinguishable) and it was unintuitive.
        </li>
      </ul>

      <div class="pb-3"></div>
      
      <div class="image-container">
        <img src="./assets/portfolio/images/docosummaries/2.jpg" loading="lazy" alt="image" class="image-75">
      </div>

      <div class="pb-3"></div>

      <p>
        The newer design was designed by <a class="cyanLink" href=" https://www.sorakhan.com/">Sora Khan</a>. 
        He gave me the new designs using Adobe XD, and I changed the website to implement the new design. Now, it has:
      </p>
      <ul>
        <li>
          A more dynamic way of searching for documentaries. There is a sidebar that works dynamically and fetches the
          documentaries the user selects in real time.
        </li>
        <li>An infinite scroll functionlity for the list that is returned.</li>
        <li>Youtube embeds when you click 'Read More.'</li>
        <li>Much less clicks to get to where you would like.</li>
        <li>Better organisation/clarification between what is a 'Category' and what is a 'Tag'.</li>
      </ul>

      <div class="pb-3"></div>

      <h5>Tech Stack</h5>
      <div class="pb-3"></div>
      <ul>
        <li>Angular Typescript (including ngx-markdown library)</li>
        <li>Markdown</li>
        <li>Firebase Cloud Firestore</li>
        <li>NodeJS</li>
        <li>Future plans include using APIs to get existing documentaries from established websites but for now the focus is on lesser known documentaries that float around the internet.</li>
      </ul>

      <br>
      <hr>

    </div>
  </div>
</div>