/* You can add global styles to this file, and also import other style files */
* {
  font-family:'Montserrat', sans-serif;
}

// .content {
//   padding:0px 180px;text-align:left;text-decoration:none;font-size:17px;color:#D3D5D9;border:none;line-height:2rem;margin-bottom:100px
// }
.content, .extra-padding {
  padding: 50px 15%;
}
@media screen and (max-width: 1000px) {
  .content, .extra-padding {
    padding: 5%
  }
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif
}

p {
  line-height: 1.6rem;
}

h3 {
  font-size: small;
  letter-spacing: 5px;
  padding-bottom:10px;
}
@media screen and (max-width: 1000px) {
  h3 {
    letter-spacing: 5px;
  }
}

h4 {
  letter-spacing: 5px;
  padding-bottom:50px;
}

.bg-black {
  background-color: #121518;
}

.bg-grey {
  background-color: #f8f9fa;
}

.text-black {
  color: #272b2e;
}

.text-grey {
  color: rgb(138, 138, 138);
}

// Contact Form
.box { 
	margin:2rem auto 2rem auto;padding:30px 25px 60px 25px;box-shadow:0 2px 5px 0 rgba(0,0,0,0.15);font-size:16px;background-color:#2e3741;color:#D3D5D9;border-radius:5px
}
.box h2 {
	margin-bottom:1rem;background-color:#2e3741
}
.box h5 {
  background-color:#252729
}
.box div {
	background-color:#2e3741
}
.box a {
	text-decoration:none;color:#D3D5D9;transition: ease 0.3s;background-color:#2e3741
}
.box a:hover {
	text-decoration:none;color:#0CDBB3
}
.form {
	
} 
// Overall buttons
.button {
  text-decoration:none;padding:10px 25px;border:none;border-radius:5px;color:white;font-size:14px;box-shadow:0 4px 8px 0 rgb(0, 0, 0);
  font-family:'Montserrat';display:inline-block;outline:none;transition:ease 0.5s;background-color:#2e3741
}
.button:link, .button:visited { 
  text-decoration:none 
} 
.button:hover, .button:active { 
  background-color:#0cdbb2bd;text-decoration:none;color:#FFFFFF;padding:10px 25px
}
// Specific buttons
.download {
  margin:15px 30px;display:inline-block
}
.back {
  margin:15px 30px;text-align:center;display:inline-block
}
// Images
.image-container {
  text-align:center;padding-top:5px;padding-bottom:25px
}
.image-description p {
  padding-top:5px;font-size:10pt;text-align:center;color:#A8ABB3
}
// Image sizes
.image-50 {
  width:50%;height:50%
}
.image-75 {
  width:75%
}
.image-full {
  width:100%;height:100%
}
@media screen and (max-width: 900px){
  .image-50 {
    width:100%;height:100%
  }
  .image-75 {
    width:100%;height:100%
  }
}
// Avatars
.avatar-align {
  display:inline-block
}
.avatar {
  vertical-align:middle;width:50px;height:50px;border-radius:50%;margin-right:10px
}
// Links
.cyanLink {
  color: #3bd1b3;font-weight: bold;
}
.cyanLink:hover {
  text-decoration: none;color: #0ea587;border-bottom: solid 1px #D3D5D9
}
// a, a:hover {
//   text-decoration: none;
//   padding:0px 0px;
// }