@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* All Styling */

/* Whole page */
body {
  font-family: "Lato", sans-serif;
}
* {
  font-family:'Montserrat';color: #383c44;
  background-color:whitesmoke;
}
.center {
  text-align:center
}
/* Main content div */
.heading {
	margin-top: 10px;
	text-align:center
}
.extraPadding {
  padding-bottom:30px
}
h1, h2 {
  font-family:'Montserrat', sans-serif;text-align:left;line-height:50px;font-size:10pt;padding:0
}
h3 {
  padding-top:10px;font-family:'Montserrat', sans-serif;text-align:left;line-height:40px;font-size:18pt
}
h4 {
  padding-top:15px;padding-bottom:15px;font-family:'Montserrat', sans-serif;;font-size:14pt;color:rgb(100, 100, 100);line-height:30px;
}
h5,h6 {
  font-family:'Montserrat', sans-serif;;text-align:left;margin-top:-20px;color:rgb(134, 134, 134)
}
ul, ol {
  text-align:left
}
table {
  line-height:20px;text-align:left
} 
td {
  padding:10px
}
tr:nth-child(even) {
  background-color:whitesmoke
}
th {
  padding:10px
}
code {
  padding: 1px 5px;background-color:rgb(236, 236, 236);border-radius:5px;
}
pre, pre code {
  font-size:10pt !important;background-color:rgb(41, 47, 54) !important;margin-bottom:12px !important;
  padding:10px;border-radius:5px;color:#ffffff !important;
}


// sidebar
#mySidebar {
  width: 250px;
}
.sidebar {
  height: 100%;width: 0;position: fixed;z-index: 1;top: 0;left: 0;
  text-align: center;background-color: #30333a;overflow-x: hidden;transition: 0.5s;padding-top: 60px;
}
.sidebar a {
  line-height: 80px;text-decoration: none;font-size: 25px;color: #818181;display: block;transition: 0.3s;
}
.sidebar a:hover {
  color: rgb(233, 233, 233);text-decoration: none;
}
.openbtn {
  font-size: 20px;cursor: pointer;padding: 10px 15px;border: none;
  color: #383c44
}
.openbtn:hover {
  background-color: rgb(219, 219, 219);border-radius: 25px;transition: 0.3s
}
#main {
  transition: margin-left .5s;margin-left: 250px;
}
@media only screen and (max-width: 1000px) {
  #mySidebar {
    width: 0px;
  }
  #main {
    margin-left: 0px;
  }
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.content {
  padding: 0px 180px; 
  text-align:justify;text-decoration:none;font-size:17px;
  color:rgb(85, 85, 85);border:none;line-height:1.7rem;margin-bottom: 100px;
}
// Written content - Smallest screens (phones) */
@media screen and (max-width:1000px) {
  .content {
    padding: 0px 20px;line-height:1.9rem;
  }
}


/* Images */
.image-container {
  text-align:center;padding-top:5px;padding-bottom:25px
}
.image {
  width:50%;height:50%
}
.image-75 {
  width:75%;
}
.image-full {
  width:100%;height:100%
}
.image-description p {
  padding-top:5px;font-size:10pt;text-align:center;color:grey
}
@media screen and (max-width: 900px){
  .image {
    width:100%;height:100%
  }
  .image-75 {
    width:100%;height:100%
  }
}

/* Avatar */
.avatar-text {
  padding-left:10px;
}
.avatar-align {
  display:inline-block
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


/* Buttons */
.button {
  text-decoration:none;padding:10px 25px;
  border:none;border-radius:5px;color:white;font-size:14px;box-shadow:0 4px 8px 0 rgb(0, 0, 0);
  font-family:'Heebo';
  display:inline-block;outline:none;transition:ease 0.5s;background-color:rgb(54,58,64);
}
.button:link, .button:visited { 
  text-decoration:none 
} 
.button:hover, .button:active { 
  background-color:rgb(92, 98, 109);text-decoration:none;color:white;padding:10px 25px;
}
.read-more-container { 
  margin-bottom:10px;float:right
}
.download-container {
  padding:20px;text-align:center;
}
.download-link {
  margin:15px 30px;text-align:center;display:inline-block
}
.back-container {
  text-align:left;
}

/* Buttons - Smallest screens (phones) */
@media screen and (max-width:766px) {
  .download-link {
    margin:10px 10px 10px 10px
  }
  .download-container {
    padding:10px;padding-bottom:20px
  }
}

/* General links */
a, a:hover {
  text-decoration: none;
  padding:0px 0px
}


