@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* 
  TABLE OF CONTENTS:
  ----------------------
  Whole Page
  Headings
  Lists/tables
  Code snippets
  Searchbar
  Written content
  Avatar
  Images
  Photogrid
  Buttons
  List of articles
  Header or navbar
  General links
  ----------------------
*/

/* Whole page */
.bg-color {
  background-color:whitesmoke
}
/* .bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/header.jpg');
  background-size:cover;background-position:center;
  height:20vh;background-attachment:fixed
} */
body {
  margin:0;padding:0;line-height:1.5;text-rendering:optimizeLegibility;font-variant-ligatures:none
}
body::before, body::after {
  content:"";display:table;clear:both
}
body * {
  box-sizing:inherit
}
.center {
  text-align:center
}
.extraPadding {
  padding-bottom:30px
}

/* Headings */
h1, h2 {
  font-family:'Montserrat', sans-serif;text-align:left;line-height:50px;font-size:10pt;padding:0
}
h3 {
  padding-top:10px;font-family:'Montserrat', sans-serif;text-align:left;line-height:40px;font-size:18pt
}
h4 {
  padding-top:15px;padding-bottom:15px;font-family:'Montserrat', sans-serif;;font-size:14pt;color:rgb(100, 100, 100);line-height:30px
}
h5,h6 {
  font-family:'Montserrat', sans-serif;;text-align:left;margin-top:-20px;color:rgb(134, 134, 134)
}

/* Lists/tables */
ul, ol {
  text-align:left
}
table {
  line-height:20px;text-align:left
} 
td {
  padding:10px
}
tr:nth-child(even) {
  background-color:whitesmoke
}
th {
  padding:10px
}

/* Code snippets */
code {
  padding:1px 5px;background-color:rgb(235, 235, 235);border-radius:5px
}
pre {
  font-size:10pt !important;background-color:rgb(41, 47, 54) !important;margin-bottom:12px !important;
  padding:1px 5px;border-radius:5px
}

/* Searchbar */
.search-container {
  text-align:center;padding-top:2.5rem
}
#myInput {
  background-color:white;width:100%;text-align:center;font-size:16px;
  padding: 12px 20px 12px 40px;margin-bottom:35px;border-radius:50px;border:0.5px solid grey;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#myUL {
  text-align:center;list-style-type: none;padding:0;margin:0;padding-bottom:3rem;margin-top:-2rem;
}
#myUL li {
  text-align: center
}

/* Searchbar - Smallest screens (phones) */
@media screen and (max-width:766px) {
  #myUL {
    text-align:center;list-style-type: none;padding:0;margin:0;padding-bottom:3rem;margin-top:-1rem;
  }
  .search-container {
    text-align:center
  }
}

/* Written content */
.writtenContent {
  padding:20px 350px;text-align:justify;text-decoration:none;font-size:17px;color:rgb(85, 85, 85);border:none;font-family:'Montserrat', sans-serif;line-height:1.7rem;
}

/* Written content - Medium devices (ipads) #2 */
@media screen and (min-width:767px) and (max-width:1100px) {
  .writtenContent {
    padding:30px 120px;line-height:1.8rem;
  }
}
/* Written content - Smallest screens (phones) */
@media screen and (max-width:766px) {
  .writtenContent {
    padding:30px 30px;line-height:1.9rem;
  }
}

/* Avatar */
.avatar-text {
  padding-left:10px;
}
.avatar-align {
  display:inline-block
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Images */
.image-container {
  text-align:center;padding-top:5px;padding-bottom:25px
}
.image {
  width:50%;height:50%
}
.image-full {
  width:100%;height:100%
}
.image-description p {
  padding-top:5px;font-size:10pt;text-align:center;color:grey
}

/* Images - Smallest screens (phones) / Medium devices (ipads) */
@media screen and (max-width: 900px){
  .image {
    width:100%;height:100%
  }
}

/* Photogrid, multiple photo columns */
.rows {
  display:flex;flex-wrap:wrap;padding:0 4px
}
.column-2 { 
  flex:50%;max-width:50%;padding:0 4px
}
.column-2 img { 
  margin-top:8px;vertical-align:middle;width:100% 
}
.column-3 { 
  flex:33%;max-width:33%;padding:0 4px
}
.column-3 img {
  margin-top:8px;vertical-align:middle;width:100%
}
.column-4 { 
  flex:25%;max-width:25%;padding:0 4px
}
.column-4 img { 
  margin-top:8px;vertical-align:middle;width:100% 
}

/* Photogrid - small and medium ipads */
@media screen and (min-width:767px) and (max-width:1100px) {
  .column-4 { 
    flex:50%;max-width:50%
  }
}

/* Photogrid - Smallest screens (phones) */
@media screen and (max-width: 766px) {
  .column-2 {
    flex:100%;max-width:100%
  }
  .column-3 {
    flex:100%;max-width:100%
  }
  .column-4 { 
    flex:100%;max-width:100%
  }
}

/* Buttons */
.button {
  text-decoration:none;display:inline-block;padding:10px 25px;outline:none;transition:ease 0.5s;background-color:rgb(54,58,64);
  border:none;border-radius:5px;color:white;font-size:14px;box-shadow:0 4px 8px 0 rgb(0, 0, 0);
  font-family:'Heebo'
}
.button:link, .button:visited { 
  text-decoration:none 
} 
.button:hover, .button:active { 
  background-color:rgb(92, 98, 109);text-decoration:none;color:white
}
.read-more-container { 
  margin-bottom:10px;float:right
}
.download-container {
  padding:20px;text-align:center;background-color:white
}
.download-link {
  margin:15px 30px;text-align:center;display:inline-block
}

/* Buttons - Smallest screens (phones) */
@media screen and (max-width:766px) {
  .download-link {
    margin:10px 10px 10px 10px
  }
  .download-container {
    padding:10px;padding-bottom:20px
  }
}

/* List of articles */
.cardPreview {
  font-family:'Montserrat', sans-serif
}
.padding {
  padding:1em 10em 1em 10em
}
.cardPreview h1 {
  margin:0;padding-top:3rem;font-size:2rem;line-height:1.2em;
  text-align:left;font-family:'Montserrat', sans-serif
}
.cardPreview p {
  font-size:1em;margin-top:2.5em;line-height:2em;margin-bottom:20px;
  text-align:left;padding-bottom:3rem;border-bottom: 1px solid black
}
.card-image {
  height:30vh;background-size:cover;background-position:center;box-shadow:0 0 5em -1em black;border-radius:5px;
  margin-bottom:30px;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);transition:0.3s;border:none
}
.card-info {
  padding-bottom:0.5rem
}
.tag {
  float:left;text-align:left;font-size:1.5em;color:#727272 !important
}
.date {
  float:right;font-size:1.5em;color:#727272 !important
}

/* List of articles - Smallest screens (phones) */
@media screen and (min-width:767px) and (max-width:1400px) {
  .padding {
    padding:2rem
  }
}@media screen and (min-width:767px) and (max-width:1100px) {
  .padding {
    padding:1rem
  }
}
@media screen and (max-width:766px) {
  .cardPreview {
    height:auto
  }
  .padding {
    padding:0.5rem
  }
  .card-info {
    padding-bottom:2rem
  }
  .cardPreview tag {
    font-size:1.5rem
  }
  .cardPreview p {
    font-size:12pt;line-height:1.8rem;padding-bottom:3em
  }
  .date { 
    display:none 
  }
}

/* General links */
a, a:hover {
  text-decoration: none
}

/* To Delete Later */
.parallax {
  background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover
}
.photoCred {
  padding:4px 6px;display:inline-block;border-radius:3px;background-color:black;color:white;
  font-size:12px;font-weight:bold;line-height:1.2;text-decoration:none
}
.main-heading {
  font-size:30pt;font-weight:300;letter-spacing:2px;text-align:center;
  position:absolute;top:400px;left:0;width:100%;color:grey
}
@media screen and (max-width:767px) {
  .main-heading {
    font-size:25pt
  }
}
.heading-border {
  width:70%;padding:20px;border-bottom:2px solid darkgrey
}