/* ******************************************************************************
_________________________________________________________________________________
  PARALLAX EFFECT 
  .parallax       | .photoCred      |
_________________________________________________________________________________
  HEADINGS
  .main-heading   | .heading-border | h1-h6
_________________________________________________________________________________
  WRITTEN CONTENT
  .writtenContent | ul | table | td | tr | th
_________________________________________________________________________________ 
****************************************************************************** */

/* ****************************** PARALLAX EFFECT ****************************** */
.parallax {
  background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover
}
.photoCred {
  font-size:12px;font-weight:bold;line-height:1.2;text-decoration:none;
  padding:4px 6px;display:inline-block;border-radius:3px;
  background-color:black;color:white;
}

/* ************************************ HEADINGS ************************************ */
.main-heading {
  font-size:35pt;font-weight:600;letter-spacing:4px;text-align:center;
  position: absolute;top: 150px;left: 0;width: 100%; 
  color: whitesmoke;
}
.heading-border {
  width: 70%;padding: 20px;border-bottom: 2px solid white;
}
.category-card {
  background-color:white;box-shadow: 0 4px 8px 0 lightgrey
}
h1, h2 {
  font-family:Helvetica,sans-serif;text-align:center;line-height:50px;font-size:18pt;padding:0;
}
@media screen and (min-width:767px) {
  h1, h2 {font-size:10pt}
}
h3 {
  padding-top:10px;font-family:Helvetica,sans-serif;text-align:left;line-height:40px;font-size:18pt
}
h4 {
  font-family:Helvetica,sans-serif;text-align:center;font-size:14pt;color:rgb(100, 100, 100);line-height:30px
}
h5,h6 {
  font-family:Helvetica,sans-serif;text-align:center;margin-top:-20px;color:rgb(134, 134, 134)
}

/* p, h1 {margin: 0; padding: 0;} */

/* ****************************** WRITTEN CONTENT ****************************** */
.writtenContent {
  padding:20px 350px;text-align:justify;text-decoration: none;font-size: 18px;color: rgb(85, 85, 85);border:none;
}
@media screen and (min-width: 701px) and (max-width: 1100px) {
  .writtenContent {padding:30px 120px}
}
@media screen and (max-width: 700px) {
  .writtenContent {padding:30px 30px}
}
ul, ol {
  text-align:left;
}
/* li:first-child {
  padding-top:5px;
} */
table {
  line-height:20px;text-align:left
} 
td {
  padding:10px
}
tr:nth-child(even) {
  background-color:whitesmoke;
}
th {
  padding:10px
}

/* ****************************** IMAGES AND GIFS ****************************** */
.blog-image{
  width:50%;height:50%
}
.blog-image-container{
  text-align:center;padding-top:5px;padding-bottom:25px
}
@media screen and (max-width: 900px){
  .blog-image {width:100%;height:100%}
}
.content-photo-credit p{
  padding-top:5px;font-size:10pt;text-align:center;color:grey
}
#gif-image{
  width:360px;height:339px
}
@media screen and (max-width: 900px){
  #gif-image {width:280px;height:280px;border:none}
}
.loading-image {
  background: transparent url('http://thinkfuture.com/wp-content/uploads/2013/10/loading_spinner.gif') center no-repeat;
}

/* ******************************* COLUMN LAYOUT ******************************* */

/* For items that need to be on 2 columns */
.rows {
  display: flex; flex-wrap: wrap; padding: 0 4px; 
}
.column-2 { 
  flex: 50%; max-width: 50%; padding: 0 4px; 
}
.column-2 img { 
  margin-top: 8px; vertical-align: middle; width: 100%; 
}
@media screen and (max-width: 900px) {
  .column-2 {flex: 100%; max-width: 100%;}
}
/* For items that need to be on 3 columns */
.column-3 { 
  flex: 33%; max-width: 33%; padding: 0 4px; 
}
.column-3 img {
  margin-top: 8px; vertical-align: middle; width: 100%;
}
@media screen and (max-width: 1200px) {
  .column-3 {flex: 100%; max-width: 100%;}
}
/* For items that need to be on 3 columns but is more flexible (can change to 2 columns) */
.column-3-flex { 
  flex: 33%; max-width: 33%; padding: 0 4px
}
.column-3-flex img { 
  margin-top: 8px; vertical-align: middle; width: 100%; 
}
@media screen and (max-width: 1300px) and (min-width: 851px) {
  .column-3-flex { flex: 50%; max-width: 50%; }
}
@media screen and (max-width: 850px) {
  .column-3-flex { flex: 100%; max-width: 100%; }
}
/* For items that need to be on 4 columns */
.column-4 { 
  flex: 25%; max-width: 25%; padding: 0 4px
}
.column-4 img { 
  margin-top: 8px; vertical-align: middle; width: 100%; 
}
@media screen and (max-width: 1300px) and (min-width: 851px) {
  .column-4 { flex: 50%; max-width: 50%; }
}
@media screen and (max-width: 850px) {
  .column-4 { flex: 100%; max-width: 100%; }
}

/* ****************************** BUTTONS ****************************** */
.button-container {
  margin:15px 30px;text-align:center;display:inline-block
}
.button {
  text-decoration:none;display:inline-block;padding:10px 25px;outline:none;transition:ease 0.5s;
  border:none;border-radius:5px;box-shadow:0 4px 8px 0 rgb(0, 0, 0);color:rgb(59, 59, 59)
}
@media screen and (max-width: 700px) {
  .button-container {margin:10px 10px 10px 10px;}
  .download-container {padding:10px}
}

/* ****************************** DOWNLOAD BUTTONS ****************************** */
.download-container h2, .download-container {
  padding:20px;text-align:center;background-color:white;
}
.download-button {
  background-color:rgb(180, 248, 180)
}
.download-button:hover, .download-button:active {
  background-color:rgb(3, 110, 3);text-decoration:none;color:white;
}
.download-button:visited {
  text-decoration:none
}
.repo {
  background-color:rgb(157, 219, 243)
}
.repo:hover, .repo:active {
  background-color:rgb(38, 48, 92);text-decoration:none;color:white;
}
.repo:visited {
  text-decoration:none
}

/* ****************************** List of Posts/Projects/etc ****************************** */
.card-properties {
  overflow: hidden; border-radius: 1px;
}
body {
  margin: 0;padding: 0;line-height: 1.5;
  text-rendering: optimizeLegibility;font-variant-ligatures: none;font-family: 'helvetica', sans-serif;font-size: 16px;
  box-sizing: border-box;background-color: green;
}
body::before, body::after {
  content: "";display: table;clear: both
}
body * {
  box-sizing: inherit
}
body, .text-light-black {
  color: rgba(0,0,0,0.6)
}
.item-container
{
  margin-top: 2rem;margin-bottom: 2rem;margin-left: auto;margin-right: auto;position: relative;
  background-color: #fff;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);transition: all 0.25s ease-in;border-bottom: 5px solid transparent;
}
.item-container a:hover {
  text-decoration: none;
}
.item-image{
  display: block;width: 100%
}
.item-content{
  padding:15px;
}
.item-categoryTag {
  font-size: 0.75rem;font-weight: 500;text-transform: uppercase;letter-spacing: 2px;
  margin-bottom: 1rem;margin-bottom: 0;
  color: rgba(0, 0, 0, 0.3);
}
.item-heading {
  font-family: 'helvetica', serif;font-size:23pt;font-weight: normal;line-height: 1.25;
  color: rgba(0,0,0,0.9);
  margin-top: 10px;margin-bottom: 1rem;
}
.item-description {
  margin-bottom: 1rem;
}
.item-link {
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 2px;
  margin-left: 15px;
  margin-bottom: 10px;
  text-align: center;
}
.styled-link {
  text-decoration: none;
  outline: none;
  color: #2196fe;
  transition: all 0.25s ease-in; 
}
.styled-link:hover, .styled-link:focus, .styled-link:active {
  color: #536dfe;
}



/* ************************************** */

.text-black {color: rgba(0,0,0,0.9)}
.text-muted {color: rgba(0, 0, 0, 0.3)}

.text-uppercase {text-transform: uppercase;}

.ff-serif {
  font-family: 'helvetica', serif;
}

.font-weight-normal {
  font-weight: normal;
}
.font-weight-medium {
  font-weight: 500;
}

 .lts-1px {
   letter-spacing: 1px;
}
.lts-2px {
  letter-spacing: 2px;
}


.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute
}



.bg-white {
  background-color: #fff;
}



.card {border:none; border-top:1px solid #dddddd}


.small {
  font-size: 0.75rem;
}


.shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
.blue-hover {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
}
.blue-hover:hover {
  transform: translateY(-5px);
  border: none;
  border-bottom: 5px solid #2196fe;
}




.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
.float-right{
  float: right;
}






/**Margin and padding utilities*/
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}


.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}




.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}


.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}

.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-3 {
  padding-bottom: 3rem;
}






