* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-bottom: 60px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 4px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns */
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  .demo-1 {
    -webkit-line-clamp: 5;
  }
}

.mobile-intro {
  display: none;
}

.demo-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1000px) {
  .mobile-intro {
    display: block;
  }

  .mobile-desktop {
    display: none;
  }
}

@media screen and (min-width: 1001px) {
  .mobile-intro {
    display: none;
  }

  .mobile-desktop {
    display: block;
  }
}

.mobile-intro h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.page-no {
  padding: 10px 20px;
  margin-right: 20px;
  background-color: lightgrey;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
}

.page-no:hover {
  background-color: #0cdbb2bd;
}