<!-- Projects -->
<div class="content bg-grey pb-5">
  <div class="pt-5 text-center">
    <h4 class="text-grey">SIDE PROJECTS</h4>
  </div>
  <div class="pb-5">
    <div class="row pb-5">
      <div class="column">
        <div class="card bg-white">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card bg-white">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card bg-white">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog -->
<div class="content bg-black pt-5 pb-5">
  <div class="pt-5 text-center">
    <h3 class="text-grey">BLOG POSTS</h3>
    <h4 class="text-black">SOME RECENTLY WRITTEN POSTS</h4>
  </div>
  <div class="pb-5">
    <div class="row pb-5">
      <div class="column">
        <div class="card bg-white">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card bg-white">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card bg-white">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Experience -->
<div class="content bg-grey pt-5 pb-5">
  <div class="pt-5 text-center">
    <h3 class="text-black">EXPERIENCE</h3>
    <h4 class="text-grey">PLACES WHERE I LEARNT FROM</h4>
  </div>
  <div class="pb-5">
    <div class="row pb-5">
      <div class="column">
        <div class="card bg-white">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card bg-white">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card bg-white">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Community -->
<div class="content bg-black pt-5 pb-5">
  <div class="pt-5 text-center">
    <h3 class="text-grey">COMMUNITY</h3>
    <h4 class="text-black">SHARING AND HELPING OTHERS</h4>
  </div>
  <div class="pb-5">
    <div class="row pb-5">
      <div class="column">
        <div class="card bg-white">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card bg-white">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card bg-white">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact -->
<div class="content bg-grey pt-5 pb-5">
  <div class="pt-5 text-center">
    <h3 class="text-black">CONTACT</h3>
    <h4 class="text-grey">CONNECT WITH ME</h4>
  </div>
  <!-- Use formspree -->
  <form action="Your link here" class="extra-padding" method="POST" >
    <div class="form-group">
      <label for="replyTo">Your Email address</label>
      <input type="email" class="form-control" id="replyTo" name="_replyto" ngModel="reply" aria-describedby="emailHelp" placeholder="test@outlook.com">
      <small id="emailHelp" class="form-text text-muted">Your email will not be shared with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="message">Your message</label>
      <textarea name="message" style="height:200px" class="form-control" id="message" placeholder="Hey there! I'm contacting you because..."></textarea>
    </div>
    <button type="submit" class="button">Submit</button>
  </form>
</div>


