<!-- If the screen is smaller, show the collapsable navbar -->
<div class="show-navbar">
  <app-navbar></app-navbar>
</div>
<!-- If the screen is bigger, show the header -->
<div class="show-header">
  <app-header></app-header>
</div>
<section class="bg-color">
  <div class="container search-container">
    <!-- Search input box (change this to what are you looking for?) -->
    <div class="padding">
      <input type="text" id="myInput" (keyup)="searchbar()" placeholder="Search coding posts (by title, language, year..)" title="SearchBar">
    </div>
    <!-- List of all posts -->
    <div id="myUL">
      <article *ngFor="let i of postArray">
        <!-- display each article card with it's own background image  -->
        <section class="cardPreview">
          <div class="padding">
            <div class="card-image" [ngStyle]="{'background-image': 'url(' + getURL(i) + ')'}"></div>
              <div>
                <a class="date">{{dates[i]}}</a>
                <a class="tag">{{tags[i]}}</a>
              </div>
            <!-- Article information -->
            <h1>{{titles[i]}}</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim semper leo a facilisis. Donec eget felis molestie, fringilla turpis at, cursus neque. Maecenas consectetur, metus condimentum rutrum auctor, metus enim ornare mi, vitae venenatis urna nisl ornare dui. Sed odio turpis, pulvinar ac diam sit amet, porta eleifend risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum consectetur felis eu elit sollicitudin aliquam.
              <a routerLink="{{links[i]}}">Read More >></a>
            </p>
          </div>
        </section>
        <!-- End of article -->
      </article>
    </div>
  </div>
</section>