<!-- #region 1st Parallax image-->
<div class="parallax" style="height:350px;background-image:url('../../assets/blog/header.jpg');">
    <div class="imageTextCollage"><a class="photoCred" style="margin-top: 300px; float: right;" href="https://unsplash.com/@dnevozhai" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Taylor Smith"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Denys Nevozhai</span></a></div>
</div>
<!-- #endregion -->
<div class="blog-layout">
    <div class="category-card">
      <br><h1><strong>Categories</strong></h1><br>
    </div>
    <!-- #region Search Posts -->
        <br>
        <div class="search-container">
        <div id="myUL">
            <!-- #region Minimalism -->
            <section><div class="blog-item">
                <div class="article-preview-image" style="height:300px;background-image:url('../../assets/blog/minimalism/header.jpg');background-size:cover"></div>
                <h2><strong><a routerLink="/blog/minimalism/main">Minimalism <span style="font-size:17pt">>></span><br></a></strong></h2>
            </div></section>
            <br>
            <!-- #endregion -->
            <!-- #region Organisation -->
            <section><div class="blog-item">
                <div class="article-preview-image" style="height:300px;background-image:url('../../assets/blog/organisation/header.jpg');background-size:cover"></div>
                <h2><strong><a routerLink="/blog/organisation/main">Organisation <span style="font-size:17pt">>></span><br></a></strong></h2>
            </div></section>
            <br>
            <!-- #endregion -->
            <!-- #region Uni -->
            <section><div class="blog-item">
                <div class="article-preview-image" style="height:300px;background-image:url('../../assets/blog/uni-life/header.jpg');background-size:cover"></div>
                <h2><strong><a routerLink="/blog/uni/main">Uni Life <span style="font-size:17pt">>></span><br></a></strong></h2>
            </div></section>
            <br>
            <!-- #endregion -->
            <!-- #region Website -->
            <section><div class="blog-item">
                <div class="article-preview-image" style="height:300px;background-image:url('../../assets/blog/web-dev/header.jpg');background-size:cover"></div>
                <h2><strong><a routerLink="/blog/website/main">Websites <span style="font-size:17pt">>></span><br></a></strong></h2>
            </div></section>
            <br>
            <!-- #endregion -->
            <!-- #region Wellbeing -->
            <section><div class="blog-item">
                <div class="article-preview-image" style="height:300px;background-image:url('../../assets/blog/wellbeing/header.jpg');background-size:cover"></div>
                <h2><strong><a routerLink="/blog/wellbeing/main">Wellbeing <span style="font-size:17pt">>></span><br></a></strong></h2>
            </div></section>
            <br>
            <!-- #endregion -->
        </div>
        <br><br>
        <!-- #endregion  -->
</div>