<app-navbar></app-navbar>

<div class="parallax" style="height: 350px;background-image: url('../../../assets/blog/minimalism/header.jpg');">
  <div class="imageTextCollage"><a class="photoCred" style="margin-top: 300px; float: right;" href="https://unsplash.com/@laurenmancke" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Taylor Smith"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Lauren Mancke</span></a></div>
</div>
<div class="category-card">
  <br><h1 id="category"></h1><br>
</div>

<div id="organisationDiv">
    <!-- How To Organise Your Web Browsing -->
    <section>
      <div class="blog-item">
        <br>
        <h2><strong>How To Organise Your Web Browsing</strong></h2><h4>25 May 2020</h4><br>
        <div class="article-preview-image" style="height:300px;background-image:url('../../assets/blog/organisation/organise-web-browsing/cropped.jpg');background-size:cover"></div><br>
        <p class="description">These days, many people spend most of their time surfing the web or conducting important business online. It makes sense to have your accounts, passwords, general online activities and frequently used websites organised in... </p>
        <br><br>
        <div class="read-more-project-button-container">
          <a routerLink="post/howToOrganiseYourWebBrowsing" class="button read-more-button second-button">Read More >></a>
        </div>
        <br><br>
      </div>
    </section>
    <!-- 24 Ways To Be More Organised -->
    <section>
      <div class="blog-item second">
        <br>
        <h2><strong>24 Ways To Be More Organised</strong></h2><h4>19 May 2020</h4><br>
        <div class="article-preview-image" style="height:300px;background-image:url('../../assets/blog/organisation/how-to-be-better-organised/cropped.jpg');background-size:cover"></div><br>
        <p class="description">There's a lot of people who admit that they would like to be more organised. Unfortunately, being fully organised in most aspects of life is a habit that takes time to build (it doesn't happen overnight!). That being said - it is... </p>
        <br><br>
        <div class="read-more-project-button-container">
          <a routerLink="post/waysToBeMoreOrganised" class="button read-more-button first-button">Read More >></a>
        </div>
        <br><br>
      </div>
    </section>
    <!-- 10 Tips To Better Organise Your Computer -->
    <section>
      <div class="blog-item">
        <br>
        <h2><strong>10 Tips To Better Organise Your Computer</strong></h2><h4>16 May 2020</h4><br>
        <div class="article-preview-image" style="height:300px;background-image:url('../../assets/blog/organisation/better-organise-your-files/cropped.jpg');background-size:cover"></div><br>
        <p class="description">Having a well organised computer can improve your overall workflow and efficiency. If your computer has too many files, it can clutter your vision and distract you by making it difficult to find what you are looking for. Here are a... </p>
        <br><br>
        <div class="read-more-project-button-container">
          <a routerLink="post/tipsToBetterOrganiseYourComputer" class="button read-more-button second-button">Read More >></a>
        </div>
        <br><br>
      </div>
    </section>
    <!-- Post 60+ Things You Can Declutter Right Now -->
    <section>
      <div class="blog-item second">
        <br>
        <h2><strong>60+ Things You Can Declutter Right Now</strong></h2><h4>12 May 2020</h4><br>
        <div class="article-preview-image" style="height:300px;background-image:url('../../assets/blog/minimalism/things-you-can-declutter/cropped.jpg');background-size:cover"></div><br>
        <p class="description">Decluttering helps us organise the things around us and can also help improve our overall wellbeing. Everyone can benefit from decluttering, and it's interesting to see how many things are lying around that we can reconsider...</p>
        <br><br>
        <div class="read-more-project-button-container">
          <a routerLink="post/sixtyPlusThingsToDeclutter" class="button read-more-button second-button">Read More >></a>
        </div>
        <br><br>
      </div>
    </section>
</div>
<div id="resumesDiv">
    <div id="no-results">
      <br>
      <h2><strong>There are currently no posts.</strong></h2>
      <h4>We apologise! Please try searching something else.</h4>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>
<div id="uniDiv">
    <!-- How To Make The Most Out Of Your First Year At Uni -->
    <section>
      <div class="blog-item">
        <br>
        <h2><strong>How To Make The Most Out Of Your First Year At Uni</strong></h2><h4>8 June 2020</h4><br>
        <div class="article-preview-image" style="height:300px;background-image:url('../../assets/blog/uni-life/1st-year-uni/cropped.jpg');background-size:cover"></div><br>
        <p class="description">There are some things I wish I knew when I first started uni, which would have definitely helped me settle in a lot faster than I did. I started uni not being very familiar with how the environment would be, how I'd fit in, or what... </p>
        <br><br>
        <div class="read-more-project-button-container">
          <a routerLink="post/howToMakeTheMostOutOfYourFirstYearUni" class="button read-more-button second-button">Read More >></a>
        </div>
        <br><br>
      </div>
    </section>
</div>
<div id="websitesDiv">
    <!-- How To Organise Your Web Browsing -->
    <section>
      <div class="blog-item">
        <br>
        <h2><strong>Making A Simple Static Website Using HTML And CSS</strong></h2><h4>Coming Soon!</h4><br>
        <div class="article-preview-image" style="height:300px;background-image:url('../../assets/blog/web-dev/creating-simple-website/cropped.jpg');background-size:cover"></div><br>
        <!-- <p class="description">These days, many people spend most of their time surfing the web or conducting important business online. It makes sense to have your accounts, passwords, general online activities and frequently used websites organised in... </p> -->
        <br><br>
        <div class="read-more-project-button-container">
          <a routerLink="post/makingASimpleStaticWebsiteUsingHTMLAndCSS" class="button read-more-button second-button">Read More >></a>
        </div>
        <br><br>
      </div>
    </section>
    <!-- Creating a New Theme In Hugo -->
    <section>
      <div class="blog-item second">
        <br>
        <h2><strong>Creating a New Theme In Hugo</strong></h2><h4>Coming Soon!</h4><br>
        <div class="article-preview-image" style="height:300px;background-image:url('../../assets/blog/web-dev/hugo-themes/cropped.jpg');background-size:cover"></div><br>
        <!-- <p class="description">There's a lot of people who admit that they would like to be more organised. Unfortunately, being fully organised in most aspects of life is a habit that takes time to build (it doesn't happen overnight!). That being said - it is... </p> -->
        <br><br>
        <div class="read-more-project-button-container">
          <a routerLink="post/creatingANewThemeInHugo" class="button read-more-button first-button">Read More >></a>
        </div>
        <br><br>
      </div>
    </section>
</div>


<div class="card">
  <br><h2 class="sidebar-bottom-headings">FOLLOW ME</h2><h5 class="fadedText">__________________</h5><br>
  <div style="text-align:center">
  <a href="https://www.instagram.com/vondreii"><img src="../../assets/social/instagram.png" alt="image"/></a><span style="padding:10px"></span>
  <a href="https://www.linkedin.com/in/sharlene-von-drehnen"><img src="../../assets/social/linkedin.png" alt="image"/></a><span style="padding:10px"></span>
  <a href="https://github.com/vondreii"><img src="../../assets/social/github.png" alt="image"/></a><span style="padding:10px"></span>
  </div>
  <br><br>
</div>