<app-navbar></app-navbar>
<div style="background-color:whitesmoke">
  <!-- Parallax and main heading -->
  <div class="parallax" style="height: 350px;background-image: url('../../../assets/blog/header.jpg');">
    <div class="imageTextCollage"><a class="photoCred" style="margin-top: 300px; float: right;" href="https://unsplash.com/@mischievous_penguins" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Taylor Smith"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Casey Horner</span></a></div>
  </div>
  <div class="parallax" style="height: 150px;">
    <h2 class="main-heading"><span class="heading-border">Blog Posts</span></h2>
  </div>
  <div class="container">
    <div class="container">
      <div class="card-columns">
        <!-- Loop of posts - https://codepen.io/MattRuddick/pen/xaZXgE -->
        <div class="card" *ngFor="let i of postArray">
          <img class="card-img-top" src={{images[i]}} alt="img">
          <div class="card-body">
            <h5 class="card-title">{{titles[i]}}</h5>
            <p class="card-text"><small class="text-muted">{{dates[i]}} <b>|</b> {{tags[i]}}</small></p>
            <div class="read-more-project-button-container">
              <a routerLink="{{links[i]}}" class="button read-more-button second-button">Read More >></a>
            </div>
          </div>
        </div>
        <!-- #endregion -->
      </div>
    </div>
  </div>
  <br><br>
</div>