@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');
/* 
.cards-wrapper {
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
  transition: 0.5s ease-in;
} */

.card-img-top {
    /* background-attachment: fixed; */
}

.padding {
    padding: 1em;
}

.card {
  font-family: 'Heebo';
  height: 250px;
  width: 100%;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  /*margin: 2em;*/
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

/* If media is less than something, make height more  */

.card h1 {
  margin: 0;
  padding-top:10px;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
}



.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
} 

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}


.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

