<app-navbar></app-navbar>

<!-- #region 1st Parallax image-->
<div class="parallax" style="height: 350px; background-image: url('../../assets/photography/blue-mountains/blue-mountains-header-cropped2.png');">
  <div class="imageTextCollage">
    <br><br>
    <h3 class="sidebar-bottom-headings"><b>{{loc}}</b></h3><h3><b>▼</b></h3>
  </div>
</div>
<!-- <ul>
  <li *ngFor="let location of collection | async"  role="listitem">
    <p> {{loc}}</p>
  </li>
</ul> -->
<p></p>
<div class="rows">
  <div class="column-4">
    <img *ngFor="let img of col1" src="{{img}}" alt="image">
  </div>
  <div class="column-4">
    <img *ngFor="let img of col2" src="{{img}}" alt="image">
  </div>
  <div class="column-4">
    <img *ngFor="let img of col3" src="{{img}}" alt="image">
  </div>
  <div class="column-4">
    <img *ngFor="let img of col4" src="{{img}}" alt="image">
  </div>
</div>
<br><br>

<div class="more-like-this">
  <br><h3 class="sidebar-bottom-headings more-like-this-heading">MORE LIKE THIS</h3>
  <div class="spacing"></div>
  <div class="rows"> 
    <div class="column-2 blog-image-container">
      <div class="image-container">
          <a routerLink={{moreLikeThis1RouterLink}}>
          <img src={{moreLikeThis1Background}} alt="image" class="image">
          <div class="centered">{{moreLikeThis1Location}}</div>
        </a>
      </div>
    </div>
    <div class="column-2 blog-image-container">
      <div class="image-container">
          <a routerLink={{moreLikeThis2RouterLink}}>
          <img src={{moreLikeThis2Background}} alt="image" class="image">
          <div class="centered">{{moreLikeThis2Location}}</div>
        </a>
      </div>
    </div>
  </div>
  <br>
</div>



<!-- <div *ngFor="let photos of collectionPhotos | async">
  {{photos.photos.length}}

</div> -->