<app-navbar></app-navbar>

<div class="parallax" style="height: 350px; background-image: url('../../assets/projects/ice-capades/house-2.png');"></div>
<div class="download-container">
    <div class="button-container">
        <a href="../../assets/downloads/IceCapades.zip" class="button download-button">↓ Download Game Here ↓</a>
    </div>
</div>
<div class="heading">
  <br><h1><strong>Ice Capades</strong></h1>
  <div class="tags" style="text-align:center">
    <div class="tag"><p>#2D</p></div>
    <div class="tag"><p>#Game</p></div>
    <div class="tag"><p>#Top-Down</p></div>
    <div class="tag"><p>#Puzzle</p></div>
  </div>
</div>
<section>
  <div class="blog-item">
    <h2><strong>About the Game</strong></h2>
    <p>
      Ice Capades is a Pokemon-style inspired game that aims to teach players about the affects of climate change on the environment. You must pass through multiple levels, 
      interact with objects, solve puzzles and avoid enemies in order to make your way to the oil rig that is causing the ice in your village to melt.
    </p>
    <h2><strong>Plot</strong></h2>
    <p>
        You play as a penguin living in a village in Antarctica. Your village is supported by snow and ice. An oil rig has recently been 
        built nearby and its operations have been slowly melting the ice due to the heat and intense steam produced, therefore putting your village in danger.
    </p>
    <h2><strong>Aim</strong></h2>
    <p>
        The aim of the game is to make your way to the oil rig by avoiding enemies, collecting items and interacting with objects to solving puzzles. 
        Once at the oil rig, you must destroy it by reaching and turning off the main power switch.
    </p>
    <img src="../../assets/projects/ice-capades/story-help-1.PNG" alt="image" style="width:100%">
    <h2><strong>Tutorial</strong></h2>
    <p>
        When you start the game, you wake up inside your cottage. You are informed about the oil rig and how dangerous it is for the village. 
        This is the tutorial level where the game guides you through the basic gameplay.
    </p>
    <ul>
      <li><b>How to interact with objects and the affects it has in the world.</b> For example, walking into the switch will activate the doors on the other side of the room).</li>
      <li><b>How to use scrolls.</b> You cannot pass through certain doors that are locked.</li>
      <li><b>Collecting collectables </b> such as diamonds or fish, which contribute to your points and leaderboard ranking.</li>
    </ul>
    <h2><strong>Controls</strong></h2>
    <ul>
      <li><b> Walk. </b>Left, right, up or down arrow keys.</li>
      <li><b> Interact/collect objects. </b>Walk into them.</li>
    </ul>
    <div class="rows"> 
      <div class="column-2 blog-image-container">
        <img src="../../assets/projects/ice-capades/IceCapades-menu-description.PNG" alt="image" style="width:100%">
      </div>
      <div class="column-2 blog-image-container">
        <img src="../../assets/projects/ice-capades/IceCapades-menu-controls.PNG" alt="image" style="width:100%">
      </div>  
    </div>
    <h2><strong>Levels</strong></h2>
    <p>Altogether there are 5 levels.</p>
    <ul>
      <li><b> Level 1 - </b>The cottage where you wake up and have the tutorial.</li>
      <li><b> Level 2 - </b>The village outside, where you live.</li>
      <li><b> Level 3 - </b>The forest outside the village (I seemed to have forgotten that Antarctica has no trees...).</li>
      <li><b> Level 4 - </b>The underwater level, where you swim through to get to the oil rig.</li>
      <li><b> Level 5 - </b>The oil rig.</li>
    </ul>
    <p>
        Throughout the game you also come across other characters and animals that have been affected by the ice rig and melting ice.
    </p>
    <div class="blog-image-container">
      <img src="../../assets/projects/ice-capades/story-help-2.png" alt="image" style="width:100%">
    </div>  
    <p>
        During the last level, you must navigate to the switch that shuts down the whole oil rig. Turning the switch off sets all the power reactors on fire, apparently.
    </p>
    <div class="blog-image-container">
      <img src="../../assets/projects/ice-capades/fire.PNG" alt="image" style="width:100%">
    </div>  
    <p>
        After level 5 you are greeted by a thankful citizen who thanks you for saving the village from the ice rig that was melting the ice.
    </p>
    <div class="blog-image-container">
      <img src="../../assets/projects/ice-capades/end-level.png" alt="image" style="width:100%">
    </div> 
    <h2><strong>Characters</strong></h2>
    <p>
        The main character is the penguin (the player). There are different types of enemies for each level. Level 1 has polar bears, Level 2 has wolves, and Level 3 has Submarines and Jellyfish.
    </p>
    <h2><strong>Collectables</strong></h2>
    <ul>
      <li><b>Fish: </b>Fish can be collected in order to score points throughout the game. These points add up to a total score at the end.</li>
      <li><b>Scrolls: </b>There is a single scroll on every level. Each scroll has a question about climate change which must be answered correctly in order to get an extra 200 points.</li>
      <li><b>Diamonds: </b>Similar to fish, these are collected in order to score points throughout the game. These are found more frequently and are therefore worth less points.</li>
      <li><b>Chocolate Bar: </b>There is a single chocolate bar on every level. These are worth more points than fish and diamonds. There are usually puzzles that need to be solved in order to reach the chocolate bar.</li>
    </ul>
    <h2><strong>Interactables</strong></h2>
    <p> 
        Here are the things you can walk into which cause the environment to be affected:
    </p>
    <ul>
      <li><b>Buttons: </b>Walking into these buttons would trigger certain blocks or stones to move allowing pathways to be cleared.</li>
      <li><b>Keys: </b>Collecting keys allow you to open certain doors, including doors that lead to the next level.</li>
    </ul>
    <div class="blog-image-container">
      <img src="../../assets/projects/ice-capades/gates.PNG" alt="image" style="width:100%">
    </div> 
  </div>
</section>
<div class="download-container">
    <div class="button-container">
        <a href="../../assets/downloads/IceCapades.zip" class="button download-button">↓ Download Game Here ↓</a>
    </div>
</div>
<div class="card">
  <br><h2 class="sidebar-bottom-headings">FOLLOW ME</h2><h5 class="fadedText">__________________</h5><br>
  <div style="text-align:center">
  <a href="https://www.instagram.com/vondreii"><img src="../../assets/social/instagram.png" alt="image"/></a><span style="padding:10px"></span>
  <a href="https://www.linkedin.com/in/sharlene-von-drehnen"><img src="../../assets/social/linkedin.png" alt="image"/></a><span style="padding:10px"></span>
  <a href="https://github.com/vondreii"><img src="../../assets/social/github.png" alt="image"/></a><span style="padding:10px"></span>
  </div>
  <br><br>
</div>