/* Styling for the footer component */ 
footer {
    background-color:#f1f1f1;border-top:1px solid #dddddd;position:relative;bottom:0;height:250px;padding:50px;margin-top:0px;text-align:center
}
.social-footer {
    margin-top:20px
}
.social-footer a {
    padding:10px 20px;color:rgb(136, 132, 132)
}
.social-footer a:hover {
    background-color:lightgrey;border-radius:25px;color:rgb(136, 132, 132)
}
.copy {
    margin-top:30px;font-size:16px;color:rgb(136, 132, 132)
}
.copy p {
    text-align:center
}